{% trans_default_domain 'FOSUserBundle' %}
{% extends 'form.html.twig' %}

{% set formHeader = "Log In" %}
{% set featured = true %}

{% block formBody %}
    <form action="{{ path("login") }}" method="post">
        {% if app.session.flashbag.peekAll() is not empty %}
            <div class="row">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="col">
                            <div class="p-2 mb-2 bg-{{ label }} text-center text-white">{{ message }}</div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% elseif error %}
            <div class="row">
                <div class="col">
                    <div class="p-2 mb-2 bg-danger text-center text-white">Invalid credentials.</div>
                </div>
            </div>
        {% endif %}
        <div class="form-group row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-12  text-left">
                        <label for="inputEmail" class="d-block label-featured">Email:</label>
                    </div>
                    <div class="col">
                        <input type="email" name="_username"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" value ="{{ last_username }}" required="required" id="inputEmail" class="form-control" autofocus>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-12  text-left">
                        <label for="inputPassword" class="d-block label-featured">Password:</label>
                    </div>
                    <div id="login-password" class="col">
                        <input type="password" autocomplete="off" name="_password" required="required" id="inputPassword" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-12  text-left"></div>
                    <div class="col">
                        {% if form_errors(form)|length > 0 %}
                            <div class="bg-danger text-white">{{ form_errors(form) }}</div>
                        {% endif %}
                        {{ form_widget(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row ">
            <div class="col-md-12 text-left">
                <input type="submit" id="_submit" name="_submit" class="btn btn-primary rounded-0 text-white" value="Log In">
                <span class="px-2">or</span>
                <a href="{{ path('fos_user_registration_register') }}" class="btn-cancel">Sign Up</a>
            </div>
        </div>
        <div class="text-left text-white">
            <a href="{{ path('fos_user_resetting_request') }}">Forgot password?</a>
        </div>
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
    </form>
{% endblock %}
