{% set isEmbeded = isEmbeded() %}
{% set specificPage = isEmbeded ? 'embeded' : '' %}

{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('login', {'page': specificPage}) }}" method="post" id="login">
    <input type="hidden" name="go_to" value="{{app.request.pathInfo }}"/>
    {% if app.session.flashbag.peekAll() is not empty %}
        <div class="row">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="col">
                        <div class="p-2 mb-2 bg-{{ label }} text-center text-white">{{ message }}</div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% elseif error %}
        <div class="row">
            <div class="col">
            {% if error.message == 'User account is disabled.' %}
                <div class="p-2 mb-2 bg-danger text-center text-white">
                    {% trans %}security.login.locked{% endtrans %}
                </div>
            {% else %}
                <div class="p-2 mb-2 bg-danger text-center text-white">
                    {% trans %}error.credentials{% endtrans %}
                </div>
            {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="form-group row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-12  text-left">
                    <label for="inputEmail" class="d-block label-featured">{% trans %}form.email{% endtrans %}</label>
                </div>
                <div class="col">
                    <input type="email" name="_username"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" value ="{{ last_username }}" required="required" id="inputEmail" class="form-control" autofocus>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-12  text-left">
                    <label for="inputPassword" class="d-block label-featured">
                        {% trans %}security.login.password{% endtrans %}
                    </label>
                </div>
                <div id="login-password" class="col">
                    <input type="password" autocomplete="off" name="_password" required="required" id="inputPassword" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div id="login-form-captcha-container" class="form-group row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-12  text-left"></div>
                <div class="col">
                    {% if not form.vars.valid %}
                        {% for error in form.vars.errors %}
                            {% if not (error.cause.id is defined and 'captcha_login' is same as(error.cause.id)) %}
                                <div class="py-2 mb-2 bg-danger text-white text-center">{{ error.message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {{ form_widget(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row ">
        <div class="col-md-12 text-left">
            <input
                type="submit"
                id="_submit"
                name="_submit"
                class="btn btn-primary rounded-0"
                value="{% trans %}security.login.submit{% endtrans %}"
            >
            <span class="px-2">or</span>
            <a id="signup-button" href="{{ path('register', {'page': specificPage}) }}" class="btn-cancel px-0">
                {% trans %}form.signup.submit{% endtrans %}
            </a>
        </div>
    </div>
    {% if not isEmbeded %}
    <div class="text-left text-white">
        <a href="{{ path('fos_user_resetting_request') }}">{% trans %}form.login.forgot{% endtrans %}</a>
    </div>
    {% endif %}
    {% if csrf_token %}
        <input type="hidden" id="fos_user_registration_login__token" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
</form>
