<div class="container" id="check_code">
    <div class="row pt-4 justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card">
                {% if not isTwoFactor %}
                    <div class="card-title px-3 pt-2 mb-0 font-weight-semibold font-size-2">
                        {% trans %}page.settings_2fa.header{% endtrans %}
                    </div>
                    <div class="card-body">
                        <div class='row'>
                            <div class="col-12 pb-2 text-white text-center">
                                {% trans %}page.settings_2fa.body.download_1{% endtrans %}
                                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" target="_blank">{% trans %}page.settings_2fa.body.download.app_store{% endtrans %}</a> {% trans %}or{% endtrans %}
                                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">{% trans %}page.settings_2fa.body.download.google_play{% endtrans %}</a>{% trans %}page.settings_2fa.body.download_2{% endtrans %}
                            </div>
                            <div class="col-12 pb-2 text-center">
                                <img src="{{ qr_code_data_uri(imgUrl) }}" alt="QR Code" class="img-thumbnail img-fluid img-barcode">
                            </div>
                            <div class="col-12">
                                <div class="text-center text-white pb-2">
                                    {% trans %}page.settings_2fa.body.help{% endtrans %}
                                </div>
                                <div class="responsive mx-auto">
                                    <div class="row">
                                        <div class="col-12">
                                            <label>{% trans %}page.settings_2fa.body.account{% endtrans %}</label>
                                        </div>
                                        <div class="col-12">
                                            <p class="form-control m-0 text-white">
                                                {{ app.user.username }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <label>{% trans %}page.settings_2fa.body.key{% endtrans %}</label>
                                        </div>
                                        <div class="col-12">
                                            <p class="form-control text-white">
                                                {{ twoFactorKey }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <label>{% trans %}page.settings_2fa.body.time_based{% endtrans %}</label>
                                        </div>
                                        <div class="col-12">
                                            <p class="form-control m-0 text-white">
                                                {% trans %}yes{% endtrans %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                <div class="text-left">
                    <div class="card-title px-3 pt-2 mb-0 font-weight-semibold font-size-2">
                        {% trans %}page.settings_2fa.body.disable{% endtrans %}
                    </div>
                    <div class="card-body pb-0">
                        {% trans with {'%action%': '@click="downloadCodes"'} %}
                            page.settings_2fa.body.generate_codes_1
                        {% endtrans %}
                    </div>
                </div>
                {% endif %}

                <div class="text-center card-body">
                    <div class="row">
                        <div class="col-12">
                            {% block formBody %}
                                    {{ form_start(form, {'attr': {'id': 'form_code'}}) }}
                                        {{ form_errors(form.code) }}
                                        <div class="clearfix text-left">
                                            {{ form_label(form.code, '') }}
                                        </div>
                                        {{ include("spinners/verify_code_inputs.html.twig", {hide_send_code: true}) }}
                                        <verify-code
                                            :disabled="loading"
                                            @code-entered="onVerifyCodeEntered"
                                        ></verify-code>
                                        <div class="form-group mt-3">
                                            <button
                                                v-show="!loading"
                                                type="submit"
                                                id="_submit"
                                                name="_submit"
                                                class="btn btn-primary"
                                            >
                                                {% trans %}2fa_modal.submit{% endtrans %}
                                            </button>
                                            <div v-cloak v-show="loading" class="icon-loading"></div>
                                            {% if isTwoFactor %}
                                                <a
                                                    v-show="!loading"
                                                    href="{{path('settings')}}"
                                                    class="btn btn-primary ml-2"
                                                >
                                                    {% trans %}2fa_modal.cancel{% endtrans %}
                                                </a>
                                            {% endif %}
                                        </div>
                                        <input type="hidden" name="two_factor[code]" ref="code_input" />
                                        {{ form_widget(form._token) }}
                                    {{ form_end(form, {'render_rest': false}) }}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
