{% extends 'base.html.twig' %}
{% set regenerate = backupCodes ? 'false' : 'true' %}

{% block title %}{{ formHeader|replace({'<span>': '', '</span>': ''}) }} | mintMe{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pages/settings') }}
{% endblock %}
{% block content %}
    <div id="tfa-manager" class="container">
        {% if backupCodes %}
            <div class="row pt-4 justify-content-center text-center">
                <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-title px-3 pt-2 mb-0 font-weight-semibold font-size-2">
                            {% trans %}page.manager_2fa.header{% endtrans %}
                        </div>
                        <div class="card-body text-center">
                            <p class="color-text-danger">
                                <small>
                                    {% trans %}page.manager_2fa.body{% endtrans %}
                                </small>
                            </p>
                            <code class="html hljs text-white">
                                {% for backupCode in backupCodes %}
                                    <p>{{ backupCode }}</p>
                                {% endfor %}
                            </code>
                            <p><a href="{{ path('settings') }}" class="btn btn-primary" role="button">{% trans %}page.manager_2fa.back_settings{% endtrans %}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% include 'security/2fa_settings.html.twig' %}
        {% endif %}
        <backup-codes-modal
            :visible="backupCodesModalEnable"
            :no-close="backupCodesModalNoClose"
            :regenerate="{{ regenerate }}"
            :have-phone-number-prop="{{ havePhoneNumber ? 'true' : 'false' }}"
            @close="onBackupCodesModalClose"
        >
        </backup-codes-modal>
    </div>
{% endblock %}

{% block pagescripts %}
    {{ encore_entry_script_tags('pages/2fa_manager') }}
{% endblock %}
