<div class="container">
    <div class="row  pt-5 justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                {% if not isTwoFactor %}
                    <div class="card-header">
                        Settings 2FA
                    </div>
                    <div class="card-body">
                        <div class='row'>
                            <div class="col-12 pb-2 text-white text-center">
                                Download the Google Authenticator application from
                                <a class="text-blue" href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" target="_blank">App Store</a> or
                                <a class="text-blue" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Google Play Store</a> and scan this code.
                            </div>
                            <div class="col-12 pb-2 text-center">
                                <img src="{{ imgUrl }}" alt="QR Code" class="img-thumbnail img-fluid img-barcode">
                            </div>
                            <div class="col-12">
                                <div class="text-center text-white pb-2">
                                    Can't scan the code?
                                    To add the entry manually, provide the following details to the application on your phone.
                                </div>
                                <div class="responsive mx-auto">
                                    <div class="row">
                                        <div class="col-12">
                                            <label>Account:</label>
                                        </div>
                                        <div class="col-12">
                                            <p class="form-control m-0 text-white">
                                                {{ app.user.username }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <label>Key:</label>
                                        </div>
                                        <div class="col-12">
                                            <p class="form-control m-0 text-white">
                                                {{ twoFactorKey }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <label>Time based:</label>
                                        </div>
                                        <div class="col-12">
                                            <p class="form-control m-0 text-white">
                                                Yes
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="card-header">
                        Disable 2FA
                    </div>
                    <div class="card-body pb-0">
                        Generate and download new backup codes <a href="{{ path('generate_backup_codes') }}">file</a> or type code below to disable 2FA.
                    </div>
                {% endif %}

                <div class="text-center card-body">
                    <div class="row">
                        <div class="col-12">
                            {% block formBody %}
                                    {{ form_start(form) }}
                                        <div class="form-group">
                                            {{ form_label(form.code, '', { 'label_attr': { 'class': isTwoFactor ? 'float-left' : '' } }) }}
                                            {{ form_widget(form.code) }}
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" id="_submit" name="submit" class="btn btn-primary">
                                                Verify Code 
                                            </button>
                                            {% if isTwoFactor %}
                                                <a href="{{path('settings')}}" class="btn btn-primary ml-2">Cancel</a>
                                            {% endif %}
                                        </div>
                                    {{ form_end(form) }}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
