{% extends 'base.html.twig' %}

{% block contentClass %}wrap-main-form py-4{% endblock %}

{% set formHeader = 'Email Authentication' %}

{% block title %}{{ formHeader }} | mintMe{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row pt-5 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        {{ formHeader }}
                    </div>
                    <div class="card-body">
                        {% if authenticationError and 'Invalid CSRF token.' != authenticationError %}
                            <div class="p-2 mb-2 bg-danger text-center text-white">
                                {{ authenticationError|trans(authenticationErrorData) }}
                            </div>
                        {% endif %}
                        {% block formBody %}
                            <form action="{{ path("2fa_login_check") }}" method="post">
                                <div class="form-group">
                                    <label for="code">Verification code:</label>
                                    <input
                                        type="text" name="{{ authCodeParameterName }}" required="required"
                                        class="form-control form-control-md" id="code" autofocus
                                        >
                                </div>
                                <div class="form-group mb-0" style="line-height: 0.8em;">
                                    <small>
                                        An email has been sent to your address<br>
                                        it contains verification code you must fill to log in into your account <br/>
                                        Do not forget to check your spam folder
                                    </small>
                                </div>
                                {{ block('trusted_device', 'form/fields.html.twig') }}
                                <div class="form-group">
                                    <input
                                        type="submit" id="_submit" name="_submit"
                                        class="btn btn-primary" value="Verify Code"
                                        >
                                </div>
                                {% if isCsrfProtectionEnabled %}
                                    <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
                                {% endif %}
                            </form>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
