{% extends 'base.html.twig' %}

{% block contentclass %}wrap-main-form{% endblock %}

{% set formHeader = '2fa.login.title'|trans %}

{% block title %}{{ formHeader }} | mintMe{% endblock %}

{% block messageContainer %}{% endblock %}
{% block content %}
    <div id="check_code" class="container text-center">
        <div class="row pt-4 justify-content-center">
            <div class="col-12">
                <div class="card card-fixed-small mx-auto">
                    <div class="card-title px-3 pt-2 mb-0 font-weight-semibold font-size-2">
                        {% trans %}2fa.login.card.title{% endtrans %}
                    </div>
                    <div class="card-body">
                        {% if authenticationError and 'error.csrf'|trans != authenticationError %}
                            <div class="p-2 mb-2 bg-danger text-center text-white">
                                {% for type, messages in app.session.flashbag.all %}
                                    {% if type == 'danger' %}
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% block formBody %}
                            <form action="{{ path("2fa_login_check") }}" method="post" id="form_code">
                                <div class="form-group">
                                    <label for="code">{% trans %}2fa.verification_code{% endtrans %}</label>
                                    <verify-code
                                        :disabled="loading"
                                        @code-entered="onVerifyCodeEntered"
                                    ></verify-code>
                                    <input
                                        type="hidden"
                                        name="{{ authCodeParameterName }}"
                                        required="required"
                                        class="form-control form-control-md"
                                        ref="code_input"
                                    />
                                </div>
                                <div class="form-group mb-0 line-height-1">
                                    <small>
                                        {% trans %}2fa.email_sent{% endtrans %}
                                    </small>
                                </div>
                                {{ block('trusted_device', 'form/fields.html.twig') }}
                                <div class="form-group">
                                    <input
                                        id="_submit"
                                        v-show="!loading"
                                        type="submit"
                                        name="_submit"
                                        class="btn btn-primary"
                                        value="{% trans %}2fa_modal.submit{% endtrans %}"
                                    />
                                    <div v-cloak v-show="loading" class="icon-loading"></div>
                                </div>
                                {% if isCsrfProtectionEnabled %}
                                    <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
                                {% endif %}
                            </form>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block pagescripts %}
    {{ encore_entry_script_tags('check_code') }}
{% endblock pagescripts %}
