{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
    {%- autoescape false -%}
      {{ 'resetting.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {%- endautoescape -%}
{% endblock %}

{% block body_text %}
 {% embed('mail/layout.txt.twig') %}
  {% block content %}
    {% trans from 'messages' %}hello{% endtrans %} {{user.nickName}}
    {% trans from 'FOSUserBundle' %}email.resetting.body{% endtrans %}
    {% trans from 'FOSUserBundle' %}email.resetting.link{% endtrans %}
    {{confirmationUrl}}
  {% endblock %}
 {% endembed %}
{% endblock %}

{% block body_html %}
  {% embed 'mail/layout.html.twig' %}
    {% block content %}
    {{ parent() }}
    <div class="box-table">
      <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border" bgcolor="#ffffff">
        <tr>
          <td align="center" width="600" class="td-body" bgcolor="#ffffff">
              <img alt="mintme" src="{{ absolute_url(asset('build/images/mail-token.png')) }}" width="120" class="img-build-v0" />
              <p class="p-hello">{% trans from 'messages' %} hello {% endtrans %} {{ user.nickName }}</p>
              <p class="p-second-line p-20px">{% trans from 'messages' %} welcome {% endtrans %}<span class="link-mintme"> mintMe.com</span></p>
              <p class="p-second-line p-20px">{% trans from 'FOSUserBundle' %} email.resetting.body {% endtrans %}</p>
              <p class="p-second-line">{% trans from 'FOSUserBundle' %} email.resetting.link {% endtrans %}</p>
          </td>
        </tr>
      </table>
      <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="border-blank-space" bgcolor="#f3f3f3">
        <tr>
          <td align="center" class="prev-blank-space" bgcolor="#f3f3f3">&nbsp;</td>
        </tr>
      </table>
      <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border-v3" bgcolor="#2199e8" style="table-layout:fixed">
          <tr>
              <td align="center" width="600" class="td-code-v2" bgcolor="#2199e8">
                  <p class="p-fiveteenth-line"><a href="{{ confirmationUrl }}" class="a-link-text" style="mso-padding-alt:0;">{{ confirmationUrl }}</a></p>
              </td>
          </tr>
      </table>
      <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="border-blank-space" bgcolor="#f3f3f3">
        <tr>
          <td align="center" class="post-blank-space" bgcolor="#f3f3f3">&nbsp;</td>
        </tr>
      </table>
    </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
