{% trans_default_domain 'FOSUserBundle' %}
{% extends 'form.html.twig' %}

{% set formHeader = "Reset Password" %}
{% block formBody %}
    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset', 'id': 'reset' } }) }}
        <div>
            <passwordmeter :password="password" @toggle-error="toggleError">
                {{ form_row(form.plainPassword.first, {'attr': {'v-model': 'password'}}) }}
            </passwordmeter>
        </div>
        {{ form_row(form.plainPassword.second) }}
        {{ form_widget(form) }}
        <div class="form-group text-center">
            <input type="submit" :disabled="disabled" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
{% endblock %}
