{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <p>{{ token.name }}</p>
        <p>{{ token.websiteUrl }}</p>
        <p>{{ token.facebookUrl }}</p>
        <p>{{ token.youtubeUrl }}</p>
        <p>{{ token.description }}</p>
    </div>
{% endblock %}