{% extends 'base.html.twig' %}

{% block content %}
    <div id="chat" class="container">
        <chat-widget
            class="pt-4"
            nickname="{{ app.user.profile.nickname }}"
            :threads="{{ threads | json_encode }}"
            :thread-id-prop="{{ threadId }}"
            :d-m-min-amount="{{ dMMinAmount }}"
            user-token-name="{{ app.user.profile.MintmeToken ? app.user.profile.MintmeToken.name : '' }}"
            :token-precision="{{ precision }}"
            websocket-url="{{ global_websocket_url }}"
            user-hash="{{ hash }}"
        />
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/chat.js') }}"></script>
{% endblock %}
