{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pages/chat') }}
{% endblock %}

{% set currentLocale = app.session.get('_locale') %}

{% block content %}
    <div id="chat">
        <chat-widget
            class="mt-5"
            nickname="{{ app.user.profile.nickname }}"
            :threads-prop="{{ threads | json_encode }}"
            :thread-id-prop="{{ threadId }}"
            :d-m-min-amount="{{ dMMinAmount }}"
            user-token-name="{{ app.user.profile.hasTokens ? app.user.profile.firstToken.name : '' }}"
            :token-precision="{{ precision }}"
            websocket-url="{{ global_websocket_url }}"
            user-hash="{{ hash }}"
            current-lang="{{ currentLocale }}"
            :top-holders="{{ topHolders | json_encode }}"
        ></chat-widget>
    </div>
{% endblock %}

{% block pagescripts %}
    {{ encore_entry_script_tags('pages/chat') }}
{% endblock %}
