{% extends 'base.html.twig' %}

{% block title %}Mint or create token, create coin, monetize yourself - blockchain crowdfunding MintMe!{% endblock %}

{% block bgclass %}index-bg{% endblock %}

{% block content %}
    <section id="top-showcase" class="container-fluid text-responsive pt-2 pb-5 py-sm-5 py-md-0">
        <div class="row">
            <div class="col p-0 text-center">
                <div class="container-fluid w-100 h-100">
                    <div class="row h-75">
                        <div class="col d-flex justify-content-center">
                            <div class="align-self-center pt-4 pt-md-0">
                                <h1 class="title text-white">
                                    Create your coin<br />Monetize yourself
                                </h1>
                                <h2 class="tip pt-2 px-3 d-inline-block text-white">
                                    MintMe is a crowdfunding platform where patrons<br /> also earn on their favorite influencer success.
                                </h2>
                                <div class="py-sm-4">
                                {% if not app.user %}
                                    <a class="btn btn-ghost ghost-alt btn-lg btn-big text-uppercase" href="{{ path('fos_user_registration_register') }}">
                                        Register Now
                                    </a>
                                {% else %}
                                    <a class="btn btn-ghost ghost-alt btn-lg btn-big text-uppercase" href="{{ path('trading') }}">
                                        Trade Now
                                    </a>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="description">
        <div class="container px-5">
            <div class="row justify-content-center pt-md-3 pb-3">
                <div class="col">
                    <h3 class="text-uppercase text-white text-center pt-5 mb-0">HOW DOES IT WORK?</h3>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col">
                    <p class="text-white text-center pb-4">
                        Anyone can mint or create a token (coin) that represents themselves or a project that they have created for their fanbase and supporters to support them.<br />
                        It helps content creators to realize their maximum potential through a new innovative way of crowdfunding. It's also a social platform where traders <br />
                        can interact with token creators and other traders. Tokens are created (minted) on top of our custom decentralized blockchain called <a href="https://www.mintme.com/coin/">MintMe Coin</a>.<br />
                        When you create coin or create token, you become an owner of your own financial future. Create a token, create a coin for your project or yourself or just trade other people coins.
                    </p>
                </div>
            </div>
        </div>

        <div class="feature-boxes container px-5">
            <div class="row justify-content-center text-white text-center">
                <div class="col-md col-lg-4 bg-secondary border px-4 mx-3 mb-4 text-center bright-on-hover">
                    <img class="img-fluid mb-3" src="{{ asset('build/images/home-creator-icon.svg') }}" alt="Content creator Icon">
                    <h4 class="mb-4">If you are a content creator</h4>
                    <p>
                        Make your token/coin with just few clicks<br/>
                        Create an order to sell it on the market<br/>
                        Encourage your followers to support you by buying your token
                    </p>
                </div>
                <div class="col-md col-lg-4 bg-secondary border px-4 mx-3 mb-4 text-center bright-on-hover">
                    <img class="img-fluid mb-3" src="{{ asset('build/images/home-trader-icon.svg') }}" alt="Token trading Icon">
                    <h4 class="mb-4">If you are a trader</h4>
                    <p>
                        Search for a promising content creator with potential for growth<br/>
                        Buy his or her token to support the creator<br/>
                        Trade the token once the Creator's value has increased
                    </p>
                </div>
            </div>
        </div>

        <div class="container pb-3">
            <div class="row justify-content-center pt-md-3">
                <div class="col">
                    <h3 class="text-uppercase text-white text-center pt-5 mb-0">it's very easy!</h3>
                </div>
            </div>
        </div>

        <div class="feature-boxes container px-5">
            <div class="row justify-content-center text-white">
                <div class="col-md-5 col-lg-4 col-xl bg-module border pt-4 px-3 mx-3 mb-4 text-center bright-on-hover">
                    <img class="d-block mx-auto mb-3" src="{{ asset('build/images/easy_icon_01.svg') }}" alt="Create your token/coin">
                    <p>
                        Mint/create your token (coin) for free and encourage others to support YOU
                    </p>
                </div>
                <div class="col-md-5 col-lg-4 col-xl bg-module border pt-4 px-3 mx-3 mb-4 text-center bright-on-hover">
                    <img class="d-block mx-auto mb-3" src="{{ asset('build/images/easy_icon_02.svg') }}" alt="Supporting favorite creators">
                    <p>
                        Earn and help by supporting your favorite creators early
                    </p>
                </div>
                <div class="col-md-5 col-lg-4 col-xl bg-module border pt-4 px-3 mx-3 mb-4 text-center bright-on-hover">
                    <img class="d-block mx-auto mb-3" src="{{ asset('build/images/easy_icon_03.svg') }}" alt="Socializing creators and other traders on Mintme">
                    <p>
                        Socialize with creators and other traders directly on the platform
                    </p>
                </div>
                <div class="col-md-5 col-lg-4 col-xl bg-module border pt-4 px-3 mx-3 mb-4 text-center bright-on-hover">
                    <img class="d-block mx-auto mb-3" src="{{ asset('build/images/easy_icon_04.svg') }}" alt="Earning from Mintme referral program">
                    <p>
                        Earn through our generous referral program that gives you 50% of all transactional fees from each referred user
                    </p>
                </div>
            </div>
        </div>
        <div class="container mb-4">
            <div class="text-center text-responsive">
            {% if not app.user %}
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-ghost btn-lg btn-big text-uppercase">Register Now</a>
            {% else %}
                <a class="btn btn-ghost btn-lg btn-big text-uppercase" href="{{ path('trading') }}">Trade Now</a>
            {% endif %}
            </div>
        </div>
        <div class="container mb-4">
            <div class="row justify-content-center">
                <div class="col">
                    <h3 class="text-uppercase text-white text-center mb-0 py-4">FUELED BY MINTME COIN (MINTME)</h3>
                </div>
            </div>
        </div>

        <div class="container px-5 text-white mb-4">
            <div class="border container bg-secondary">
                <div class="row">
                    <div class="col-lg-5 py-4 d-flex centered">
                        <img src="{{ asset('build/images/mintme-coin-graphic.svg') }}" class="align-self-center mx-auto img-fluid img-reduced" alt="mintme coin graphics">
                    </div>
                    <div class="col-lg-7 pb-3 pt-lg-5 pb-lg-5 px-0 text-center">
                        <a href="https://mintme.com/coin" target="_blank">
                            <img src="{{ asset('build/images/mintme-coin-logo.svg') }}" class="img-fluid img-reduced px-xl-3 mb-4" alt="mintme coin">
                        </a>
                        <p class="px-4 px-lg-5">
                            MintMe exchange is based on our custom blockchain solution called MintMe.com Coin - smart contracts platform, created for the World Wide Web. Traders on our exchange will use MINTME to trade people tokens and on top of that all token creators who want to tokenize themselves, will be using MintMe Coin as base for their projects. This will guarantee real non-speculative demand for MintMe Coin.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-3">
            <div class="row justify-content-center pt-md-3">
                <div class="col">
                    <h3 class="text-uppercase text-white text-center pt-5 mb-0">FAQ'S</h3>
                </div>
            </div>
        </div>

        <div class="container faq  px-5 text-white mb-5 pb-5">
            <div class="border">
                <div class="row faq-block mx-0">
                    <faq-item>
                    <span slot="title">
                        When I create a coin, does it have any value?
                    </span>
                        <span slot="body">
                        Coins are as valuable as you make them, you give them the value because they are a tokenized representation of yourself or your project.
                    </span>
                    </faq-item>
                </div>
                <div class="row faq-block mx-0">
                    <faq-item>
                    <span slot="title">
                        I've created a token. How can I give it a real value?
                    </span>
                        <span slot="body">
                        That's totally up to you. There are many ways to add value to your token. You may have
                        a service that you offer in which you only accept payment in your token or you might want to
                        create a reward system for your top supporters that hold a certain amount of your token.
                        Get as creative as you want, you make the rules.
                    </span>
                    </faq-item>
                </div>
                <div class="row faq-block mx-0">
                    <faq-item>
                    <span slot="title">
                        Why would I accept token instead of USD for my work?
                    </span>
                        <span slot="body">
                        To get money when you need it. You might need tools to start earning, but you have no money
                        to buy them, so how to start? By allowing potential customers to judge your offer and decide
                        if you are worth their trust. If your offer will be credible, they could purchase tokens that
                        will be worth your service, this way you first get tools needed for your work and customers
                        get the service they needed.
                    </span>
                    </faq-item>
                </div>
                <div class="row faq-block mx-0">
                    <faq-item>
                    <span slot="title">
                        Why would anyone believe in me or my coin?
                    </span>
                        <span slot="body">
                        Because you have developed a reputation for yourself that certainly has value. You are
                        a valuable asset that can be tokenized as such on the MintMe platform. Your supporters
                        might also feel more comfortable in being able to benefit later from supporting you now.
                    </span>
                    </faq-item>
                </div>
                <div class="row faq-block mx-0">
                    <faq-item>
                    <span slot="title">
                        Are there any guarantees when I buy other people’s tokens?
                    </span>
                        <span slot="body">
                        No, there are no guarantees when purchasing other people's tokens. The demand of each token
                        will solely depend on the buying pressure that the creator generates for their token through
                        the method of their choosing. There are no guarantees that a certain token will increase in
                        value just because it was created. We will provide verification tools to check if web pages
                        and social profiles presented by token creators are official, but we cannot guarantee that
                        each creator follows through with what they promised or proposed. Honest, ethical and
                        hard-working creators should eventually be rewarded with large liquid markets that they
                        have created from zero intrinsic value.
                    </span>
                    </faq-item>
                </div>
                <div class="row faq-block mx-0">
                    <faq-item>
                    <span slot="title">
                        I'm really skeptical about this, what if a token creator is just trying to cheat me out of my money?
                    </span>
                        <span slot="body">
                        With all that has ensued in the markets as of late, we totally understand your concern.
                        Please be mindful, that it is always important for you to thoroughly conduct proper research
                        on all token creators you plan to support and never spend more than you are willing to lose.
                        Also, keep in mind that this is a form of crowdfunding so it might not always be your intention
                        to even recoup your money. You could simply use this service as a donation platform and keep
                        your tokens as a souvenirs of proof of early support. You never know, maybe one day the token
                        creator that received early support from you, might decide to show appreciation for his or her
                        early supporters and decide to buy back all tokens at a much higher price? The possibilities
                        are unlimited.
                    </span>
                    </faq-item>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block bodyclass %}homepage{% endblock %}

{% block messageClass %}d-none{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/home.js') }}"></script>
{% endblock %}
