{% extends 'base.html.twig' %}

{% block title %}mintMe | create your own token, monetize yourself!{% endblock %}

{% block bodyclass %}homepage{% endblock %}

{% block messageClass %}d-none{% endblock %}

{% block content %}
    <section id="top-showcase" class="container-fluid text-responsive pt-2 pb-5 py-sm-0">
        <div class="row">
            <div class="col p-0 text-center">
                <div class="position-sm-absolute container-fluid w-100 h-100">
                    <div class="row h-75">
                        <div class="col d-flex justify-content-center">
                            <div class="align-self-center pt-4 pt-md-0">
                                <div class="title text-white">
                                    <div>Monetize yourself.</div>
                                    <div>Support the people.</div>
                                </div>
                                <div class="tip pt-2 px-3 d-inline-block text-white">
                                    MintMe revolutionizes crowdfunding<br/> by allowing both sides to earn.
                                </div>
                                <div class="py-sm-4">
                                    <a class="btn btn-register btn-register-hover-light bg-white" href="{{ path('fos_user_registration_register') }}">
                                        Register Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="w-100 visible-hidden d-none d-sm-block" src="{{ asset('build/images/hero_image.jpg') }}" alt="Mintme image explaining how users participate"/>
            </div>
        </div>
    </section>
    <section id="description">
        {% if prelaunch.isEnabled() %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <h3 class="text-center text-white text-uppercase">We are starting in</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <countdown class="text-center text-white" end-date="{{ prelaunch.getFinishDate|date("Y-m-d H:i:s") }}" current-date="{{ 'now'|date("Y-m-d H:i:s") }}" :disabled="false" v-cloak>
                            <div slot="content">
                                <h4>--End--</h4>
                            </div>
                        </countdown>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="container px-5">
            <div class="row justify-content-center pt-md-3 pb-3">
                <div class="col">
                    <h3 class="text-uppercase text-white text-center pt-5 mb-0">HOW DOES IT WORK?</h3>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col">
                    <p class="text-white text-center pb-4">
                        Anyone can create a token that represents themselves or a project that they have created for their fanbase and supporters to support them.<br />
                        It helps content creators to realize their maximum potential through a new innovative way of crowdfunding. It's also a social platform where traders can interact with token creators and other traders.
                    </p>
                </div>
            </div>
        </div>

        <div class="feature-boxes container px-5">
            <div class="row justify-content-center text-white text-center">
                <div class="col-md col-lg-4 bg-secondary border mx-3 mb-4 text-center">
                    <img class="mt-5" src="{{ asset('build/images/home-creator-icon.png') }}" alt="Content creator Icon">
                    <h4 class="mt-5">If you are a content creator</h4>
                    <p class="mt-4">
                        Make your own token with just few clicks<br/>
                        Create an order to sell it on the market<br/>
                        Encourage your followers to support you by buying your token
                    </p>
                </div>
                <div class="col-md col-lg-4 bg-secondary border mx-3 mb-4 text-center">
                    <img class="mt-5" src="{{ asset('build/images/home-trader-icon.png') }}" alt="Token trading Icon">
                    <h4 class="mt-5">If you are a trader</h4>
                    <p class="mt-4">
                        Search for a promising content creator with potential for growth<br/>
                        Buy his or her token to support the creator<br/>
                        Trade the token once the Creator's value has increased
                    </p>
                </div>
            </div>
        </div>

        <div class="container pb-3">
            <div class="row justify-content-center pt-md-3">
                <div class="col">
                    <h3 class="text-uppercase text-white text-center pt-5 mb-0">it's very easy!</h3>
                </div>
            </div>
        </div>

        <div class="feature-boxes container px-5">
            <div class="d-flex flex-row flex-wrap justify-content-center text-white">
                <div class="flex-basis-200 flex-grow-1 bg-module border mx-3 mb-4 text-center">
                    <img class="d-block mx-auto mt-5" src="{{ asset('build/images/easy_icon_01.png') }}" alt="Creating your own token">
                    <p class="mt-5">
                        Create your own token for free and encourage others to support YOU
                    </p>
                </div>
                <div class="flex-basis-200 flex-grow-1 bg-module border mx-3 mb-4 text-center">
                    <img class="d-block mx-auto mt-5" src="{{ asset('build/images/easy_icon_02.png') }}" alt="Supporting favorite creators">
                    <p class="mt-5">
                        Earn and help by supporting your favorite creators early
                    </p>
                </div>
                <div class="flex-basis-200 flex-grow-1 bg-module border mx-3 mb-4 text-center">
                    <img class="d-block mx-auto mt-5" src="{{ asset('build/images/easy_icon_03.png') }}" alt="Socializing creators and other traders on Mintme">
                    <p class="mt-5">
                        Socialize with creators and other traders directly on the platform
                    </p>
                </div>
                <div class="flex-basis-200 flex-grow-1 bg-module border mx-3 mb-4 text-center">
                    <img class="d-block mx-auto mt-5" src="{{ asset('build/images/easy_icon_04.png') }}" alt="Earning from Mintme referral program">
                    <p class="mt-5">
                        Earn through our generous referral program that gives you 50% of all transactional fees from each referred user
                    </p>
                </div>
            </div>
        </div>
        <div class="container mb-4">
            <div class="text-center text-responsive">
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary border-0 btn-register btn-register-hover-dark text-white">REGISTER NOW</a>
            </div>
        </div>
        <div class="container mb-3">
            <div class="row justify-content-center pt-md-3">
                <div class="col">
                    <h3 class="text-uppercase text-white text-center mb-0 pt-5">FUELED BY WEBCHAIN (WEB)</h3>
                </div>
            </div>
        </div>

        <div class="container  px-5 text-white mb-4">
            <div class="border container bg-secondary">
                <div class="row">
                    <div class="col-lg-4 p-5 pr-lg-0 align-middle text-center">
                        <img src="{{ asset('build/images/webchain-graphic.png') }}" class="align-self-center img-fluid" alt="webchain graphics">
                    </div>
                    <div class="col-lg-8 p-5 text-center">
                        <a href="https://webchain.network" target="_blank">
                            <img src="{{ asset('build/images/webchain-logo.png') }}" class="w-70 mb-4" alt="webchain">
                        </a>
                        <p>
                            MintMe exchange is based on our custom blockchain solution called Webchain - smart contracts platform, created for the World Wide Web. Traders on our exchange will use WEB to trade people tokens and on top of that all token creators who want to tokenize themselves, will be using Webchain as base for their projects. This will guarantee real non-speculative demand for Webchain.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-3">
            <div class="row justify-content-center pt-md-3">
                <div class="col">
                    <h3 class="text-uppercase text-white text-center pt-5 mb-0">FAQ'S</h3>
                </div>
            </div>
        </div>

        <div class="container faq  px-5 text-white mb-5 pb-5">
            <div class="border p-1">
                <div class="row faq-block mx-0">
                    <faq-item>
                    <span slot="title">
                        Are the tokens that I created valuable?
                    </span>
                        <span slot="body">
                        They are as valuable as you make them, you give them the value because they are a tokenized representation of yourself or your project.
                    </span>
                    </faq-item>
                </div>
                <div class="row faq-block mx-0">
                    <faq-item>
                    <span slot="title">
                        How can I give real value to my tokens?
                    </span>
                        <span slot="body">
                        That's totally up to you. There are many ways to add value to your tokens. You may have
                        a service that you offer in which you only accept payment in your tokens or you might want to
                        create a reward system for your top supporters that hold a certain amount of your token.
                        Get as creative as you want, you make the rules.
                    </span>
                    </faq-item>
                </div>
                <div class="row faq-block mx-0">
                    <faq-item>
                    <span slot="title">
                        Why would I accept tokens instead of USD for my work?
                    </span>
                        <span slot="body">
                        To get money when you need it. You might need tools to start earning, but you have no money
                        to buy them, so how to start? By allowing potential customers to judge your offer and decide
                        if you are worth their trust. If your offer will be credible, they could purchase tokens that
                        will be worth your service, this way you first get tools needed for your work and customers
                        get the service they needed.
                    </span>
                    </faq-item>
                </div>
                <div class="row faq-block mx-0">
                    <faq-item>
                    <span slot="title">
                        Why would anyone believe in me?
                    </span>
                        <span slot="body">
                        Because you have developed a reputation for yourself that certainly has value. You are
                        a valuable asset that can be tokenized as such on the MintMe platform. Your supporters
                        might also feel more comfortable in being able to benefit later from supporting you now.
                    </span>
                    </faq-item>
                </div>
                <div class="row faq-block mx-0">
                    <faq-item>
                    <span slot="title">
                        Are there any guarantees when I buy other people’s tokens?
                    </span>
                        <span slot="body">
                        No, there are no guarantees when purchasing other people's tokens. The demand of each token
                        will solely depend on the buying pressure that the creator generates for their token through
                        the method of their choosing. There are no guarantees that a certain token will increase in
                        value just because it was created. We will provide verification tools to check if web pages
                        and social profiles presented by token creators are official, but we cannot guarantee that
                        each creator follows through with what they promised or proposed. Honest, ethical and
                        hard-working creators should eventually be rewarded with large liquid markets that they
                        have created from zero intrinsic value.
                    </span>
                    </faq-item>
                </div>
                <div class="row faq-block mx-0">
                    <faq-item>
                    <span slot="title">
                        I'm really skeptical about this, what if a token creator is just trying to cheat me out of my money?
                    </span>
                        <span slot="body">
                        With all that has ensued in the markets as of late, we totally understand your concern.
                        Please be mindful, that it is always important for you to thoroughly conduct proper research
                        on all token creators you plan to support and never spend more than you are willing to lose.
                        Also, keep in mind that this is a form of crowdfunding so it might not always be your intention
                        to even recoup your money. You could simply use this service as a donation platform and keep
                        your tokens as a souvenirs of proof of early support. You never know, maybe one day the token
                        creator that received early support from you, might decide to show appreciation for his or her
                        early supporters and decide to buy back all tokens at a much higher price? The possibilities
                        are unlimited.
                    </span>
                    </faq-item>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/home.js') }}"></script>
{% endblock %}
