{% extends 'base.html.twig' %}

{% block title %}Knowledge Base | mintMe{% endblock %}

{% block content %}
    <div id="kb" class="container">
        {% if knowledgeBases is empty %}
            <div class="h-100 pt-5">
                <div class="row">
                    <div class="col-12 error-text py-5 text-center text-white text-uppercase error-big-text">
                        <h1>No articles found</h1>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row pt-3 justify-content-center">
            {% for category in knowledgeBases %}
                <div class="col-xl-12 card pb-3">
                    <div class="card-header">
                        {% if category|first is iterable %}
                            <h3>{{ category|first|first.category.name }}</h3>
                        {% else %}
                            <h3>{{ category|first.category.name }}</h3>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% for subcategory in category %}
                            <ul class="list-group">
                                {% if subcategory is not iterable %}
                                    <li class="list-group-item border-0">
                                    <span class="text-danger">
                                        <a href="{{ path('kb_show', {'url': subcategory.shortUrl}) }}"
                                           class="text-light">
                                            {{ subcategory.title }}
                                        </a>
                                    </span>
                                    </li>
                                {% else %}
                                    {#<h5 class="pl-1">{{ subcategory|first.subcategory.name }}</h5>#}
                                    {% for kb in subcategory %}
                                        <li class="list-group-item">
                                        <span class="text-danger">
                                            <a href="{{ path('kb_show', {'url': kb.shortUrl}) }}" class="text-light">
                                                {{ kb.title }}
                                            </a>
                                        </span>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
