{% extends 'base.html.twig' %}

{% block title %}{% trans %}page.kb.title{% endtrans %} | mintMe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pages/knowledge_base') }}
{% endblock %}

{% block content %}
    <div id="kb" class="container">
        {% if knowledgeBases is empty %}
            <div class="h-100 pt-4">
                <div class="row">
                    <div class="col-12 error-text py-5 text-center text-white text-uppercase error-big-text">
                        <h1>{% trans %}page.kb.404{% endtrans %}</h1>
                        <i class="fas fa-angle-right"></i>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row pt-4 pb-3 justify-content-center">
            {% for category in knowledgeBases %}
                <div class="card-fixed-large card mt-4">
                    <div class="card-header">
                        <h4 class="mb-0 text-primary">
                            {% if category|first is iterable %}
                                {{ category|first|first.category|translateArticle('name') }}
                            {% else %}
                                {{ category|first.category|translateArticle('name') }}
                            {% endif %}
                        </h4>
                    </div>
                    <div class="card-body pt-0">
                        {% for subcategory in category %}
                            <ul class="list-group">
                                {% if subcategory is not iterable %}
                                    <li class="list-group-item mt-3 p-0">
                                        <a
                                            href="{{ path('kb_show', {'url': subcategory.url}) }}"
                                            class="d-flex justify-content-between align-items-center px-auto py-3 px-3"
                                        >
                                            <span>
                                               {{ subcategory | translateArticle('title') }}
                                            </span>
                                            <img
                                                src="{{ asset('build/images/angle-right.svg') }}"
                                                alt="angle-right"
                                            />
                                        </a>
                                    </li>
                                {% else %}
                                    <h6 class="pb-0 pt-2 pl-2 subcategory text-primary">
                                        {% set subCategories = subcategory|first.subcategory %}
                                        {{ subCategories|translateArticle('name') }}
                                    </h6>
                                    {% for kb in subcategory %}
                                        <li class="list-group-item mt-3 p-0">
                                            <a
                                                href="{{ path('kb_show', {'url': kb.url}) }}"
                                                class="d-flex justify-content-between align-items-center px-auto py-3 px-3"
                                            >
                                                <span>
                                                    {{ kb | translateArticle('title') }}
                                                </span>
                                                <img
                                                    src="{{ asset('build/images/angle-right.svg') }}"
                                                    alt="angle-right"
                                                />
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    {{ encore_entry_script_tags('pages/knowledge_base') }}
{% endblock %}
