{% extends 'base.html.twig' %}

{% if isTokenPage and token.image is not null %}
    {% set metaImage = token.image.url | imagine_filter('avatar_large') %}
{% endif %}

{% if token|default %}
    {% set metaTitle = 'Information about ' ~ token.name ~ ' token | mintMe' %}
    {% set metaImageAlt = 'Information about ' ~ token.name ~ ' token | mintMe' %}
{% else %}
    {% set metaTitle = market.base.symbol|rebranding ~ '/' ~ market.quote.symbol|rebranding ~ ' | mintMe' %}
    {% set metaImageAlt = market.base.symbol|rebranding ~ '/' ~ market.quote.symbol|rebranding ~ ' | mintMe' %}
{% endif %}

{% block metaDescription %}
    {% if isTokenPage and tokenDescription is defined %}
        <meta property="og:description" content="{{ metaTokenDescription }}">
        <meta name="description" content="{{ metaTokenDescription }}">
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block title %}
    {% if token|default %} {% trans with {'%name%': token.name}%}page.pair.title_info{% endtrans %}{% else %} {{ market.base.symbol|rebranding }}/{{ market.quote.symbol|rebranding }} {% endif %} | mintMe
{% endblock %}

{% block content %}
{% set isOwner = isOwner ? 'true' : 'false' %}
{% set loggedIn = app.user ? 'true' : 'false' %}
{% set isMintmeToken = isTokenPage and token.isMintmeToken ? 'true' : 'false' %}
{% set showAirdropCampaign = showAirdropCampaign is defined and showAirdropCampaign ? 'true' : 'false' %}
{% set userAlreadyClaimed = userAlreadyClaimed is defined and userAlreadyClaimed ? 'true' : 'false' %}
{% set currentLocale = app.session.get('_locale') %}
{% set showAirdropModal = showAirdropModal ? 'true' : 'false' %}

<div id="token" class="container">
    {{ include('spinners/pair.html.twig') }}

    <balance-init
            :is-token="{{ isTokenPage ? 'true' : 'false' }}"
            websocket-url="{{ global_websocket_url }}"
            hash="{{ hash }}"
            :market="{{ market | json_encode }}"
            :logged-in="{{ loggedIn }}"
            :is-owner="{{ isOwner }}"
            :precision="{{ precision }}"
    >
    </balance-init>

    {% if isTokenPage %}
    <div class="row justify-content-center pair-container">
        <div class="col-md-10 d-flex justify-content-between">
            <token-avatar
                ref="tokenAvatar"
                class="ml-2"
                :is-owner="{{ isOwner }}"
                :has-release-period-prop="{{ token.getLockIn ? 'true' : 'false' }}"
                :is-token-created="{{ isTokenCreated ? 'true' : 'false' }}"
                :is-mintme-token="{{ isMintmeToken }}"
                :market="{{ market | json_encode }}"
                :token-crypto="{{ tokenCrypto | json_encode }}"
                :precision="{{ precision }}"
                :status-prop="getTokenStatus({{ token.getDeploymentStatus | json_encode }})"
                :twofa="{{ app.user ? (app.user.isGoogleAuthenticatorEnabled ? 'true' : 'false') : 'false' }}"
                websocket-url="{{ global_websocket_url }}"
                release-address="{{ token.mintDestination }}"
                facebook-app-id="{{ global_facebook_app_id }}"
                youtube-client-id="{{ global_youtube_client_id }}"
                :showSuccess="{{ showSuccessAlert ? 'true' : 'false' }}"
                :telegram-url="coalesce(tokenTelegram, '{{ token.telegramUrl }}')"
                :discord-url="coalesce(tokenDiscord, '{{ token.discordUrl }}')"
                :airdrop-params="{{ airdrop_params | json_encode }}"
                @token-deploy-pending="setTokenPending"
                @updated-website="websiteUpdated"
                @updated-facebook="facebookUpdated"
                @updated-youtube="youtubeUpdated"
                @updated-discord="discordUpdated"
                @updated-telegram="telegramUpdated"
                image="{{token.image is null or token.image.url == '/media/default_token.png' ? asset('build/images/default_token_avatar.svg') : token.image.url | imagine_filter('avatar_large')}}"
                profile-url="{{ url('profile-view', {'nickname': profile.nickname}) }}"
                profile-name="{{ profile.firstName }}"
                profile-lastname="{{ profile.lastname }}"
                profile-description="{{ profile.description }}"
                profile-anonymously="{{ profile.anonymous }}"
                :token-description="tokenDescription"
                token-name="{{ market.quote.name }}"
                :token-facebook="tokenFacebook ? tokenFacebook : {{token.facebookUrl | json_encode}}"
                :token-youtube="tokenYoutube ? tokenWebsite : {{token.youtubeChannelId | json_encode}}"
                :token-website="tokenWebsite ? tokenWebsite : {{token.websiteUrl | json_encode}}"
                :show-token-edit-modal="{{ showTokenEditModal ? 'true' : 'false' }}"
                disabled-services-config="{{ disabledServicesConfig | json_encode }}"
            ></token-avatar>
            <token-social-media-icons
                youtube-client-id="{{ global_youtube_client_id }}"
                facebook-app-id="{{ global_facebook_app_id }}"
                token-name="{{ market.quote.name }}"
                token-url="{{ absolute_url(path('token_show', {'name': market.quote.name, 'tab': 'intro'})) }}"
                :website-url="coalesce(tokenWebsite, '{{ token.websiteUrl }}')"
                :facebook-url="coalesce(tokenFacebook,'{{ token.facebookUrl }}')"
                :youtube-channel-id="coalesce(tokenYoutube, '{{ token.youtubeChannelId }}')"
                :telegram-url="coalesce(tokenTelegram, '{{ token.telegramUrl }}')"
                :discord-url="coalesce(tokenDiscord, '{{ token.discordUrl }}')"
            />
        </div>
    </div>
    {% endif %}

    <div class="row mt-1 justify-content-center">
        <div class="col-md-10" v-cloak>
            {{ include("loader.html.twig", {vCloak: 'v-cloak--block'}) }}
            <b-tabs
                no-key-nav
                @input="tabUpdated"
                :lazy="true"
                nav-wrapper-class="tabs-wrapper"
                class="tabs-theme transparent {% if not isTokenPage %} parent-trade-tab {% endif %}"
                v-model="tabIndex"
            >
                <token-ongoing-airdrop-campaign
                    v-if="{{ showAirdropCampaign }}"
                    :logged-in="{{ loggedIn }}"
                    :is-owner="{{ isOwner }}"
                    :token-name="'{{ token.name | default }}'"
                    :user-already-claimed="{{ userAlreadyClaimed }}"
                    login-url="{{ absolute_url(path('fos_user_security_login')) }}"
                    signup-url="{{ absolute_url(path('fos_user_registration_register')) }}"
                    youtube-client-id="{{ global_youtube_client_id }}"
                    current-locale="{{ currentLocale }}"
                    :show-airdrop-modal="{{ showAirdropModal }}"
                ></token-ongoing-airdrop-campaign>
                {% if isTokenPage %}
                    <b-tab
                        title="{% trans %}page.pair.tab.introduction{% endtrans %}"
                        title-link-class="token-intro-tab-link"
                        {% if isTokenPage %} title-item-class="token-avatar-left" {% endif %}
                        {% if tab|default and tab == 'intro' %} {{ 'active' }} {% endif %}
                    >
                        <div class="row">
                            {% if showDescription %}
                                <token-introduction-description
                                    class="col-12 mb-3"
                                    name="{{ token.name }}"
                                    :description="tokenDescription"
                                    :editable="{{ isOwner }}"
                                    @updated="descriptionUpdated"
                                ></token-introduction-description>
                            {% endif %}
                        </div>
                        <div class="row token-info-container position-relative">
                            <posts class="col-12 col-lg-7 pr-lg-1"
                                :posts="posts || (posts = {{ posts | json_encode }})"
                                :max="3"
                                token-name="{{ token.name }}"
                                token-page
                                :show-edit="{{ isOwner }}"
                                @go-to-posts="goToPosts"
                                @delete-post="deletePost"
                                @go-to-trade="goToTrade"
                                :logged-in="{{ app.user ? 'true' : 'false' }}"
                                @go-to-post="goToPost"
                            >
                                <template v-slot:title>{% trans %}page.pair.recent_posts{% endtrans %}</template>
                            </posts>
                            <token-introduction-statistics
                                :is-mintme-token="{{ isMintmeToken }}"
                                class="col-12 offset-lg-7 col-lg-5 pt-3 pt-lg-0 pl-lg-1"
                                :market="{{ market | json_encode }}"
                                :editable="{{ isOwner }}"
                                release-period-route="{{ path('lock_in', {'name': market.quote.name}) }}"
                                twofa="{{ app.user ? app.user.isGoogleAuthenticatorEnabled : '' }}"
                                token-created="{{ token.getCreated().format('d M Y') }}"
                                :precision="{{ precision }}"
                                :deployment-status="getTokenStatus({{ token.getDeploymentStatus | json_encode }})"
                                :token-contract-address="tokenAddress || (tokenAddress = {{ token.address | json_encode }})"
                                websocket-url="{{ global_websocket_url }}"
                                {% if tradeInfo %}
                                :sold-on-market-prop="{{ tradeInfo.soldOnMarket }}"
                                :donation-volume-prop="{{ tradeInfo.volumeDonation }}"
                                :token-withdrawn-prop="{{ tradeInfo.withdrawn }}"
                                :token-exchange-prop="{{ tradeInfo.tokenExchange ?? 0 }}"
                                :sell-summary="{{ tradeInfo.sellSummary }}"
                                :stats-prop="{{ tradeInfo.lockIn | json_encode }}"
                                {% endif %}
                            >
                            </token-introduction-statistics>
                        </div>
                        <div class="row">
                            <top-holders
                                class="col-12 mt-3"
                                {% if tradeInfo %}
                                :traders-prop="{{ tradeInfo.topHolders | json_encode }}"
                                {% endif %}
                                :token-name="{{ market.quote.symbol | json_encode }}"
                                websocket-url="{{ global_websocket_url }}"
                            >
                            </top-holders>
                        </div>
                    </b-tab>
                {% endif %}
                {% if showDonation %}
                    <b-tab
                        title="{% trans %}page.pair.buy_title{% endtrans %}"
                        title-link-class="token-buy-tab-link"
                        {% if tab == 'donate' or tab == 'buy' %} {{ 'active' }} {% endif %}
                    >
                        <div class="container-fluid px-0">
                            <donation
                                :market="{{ market | json_encode }}"
                                :logged-in="{{ loggedIn }}"
                                :google-recaptcha-site-key="'{{ google_recaptcha_site_key }}'"
                                :donation-params="{{ donation_params | json_encode }}"
                                websocket-url="{{ global_websocket_url }}"
                                disabled-services-config="{{ disabledServicesConfig | json_encode }}"
                            >
                            </donation>
                        </div>
                    </b-tab>
                {% endif %}
                {% if isTokenPage %}
                    <b-tab
                        title="{% trans %}page.pair.posts_title{% endtrans %}"
                        title-link-class="token-posts-tab-link"
                        {% if isTokenPage %} title-item-class="trade-post" {% endif %}
                        {% if tab == 'posts' %} {{ 'active' }} {% endif %}
                    >
                        <div class="container-fluid">
                            {% if is_granted('edit', token) %}
                                <div class="row justify-content-center">
                                    <create-post class="col-12 col-md-10 col-lg-8"
                                         token-name="{{ token.name }}"
                                         :subunit="{{ tokenSubunit }}"
                                        @update-posts="updatePosts"
                                    />
                                </div>
                            {% endif %}
                            <div class="row mt-3 justify-content-center">
                                <posts class="col-12 col-md-10 col-lg-8"
                                    :posts="posts || (posts = {{posts | json_encode}})"
                                    :show-edit="{{ isOwner }}"
                                    @delete-post="deletePost"
                                    @go-to-trade="goToTrade"
                                    :logged-in="{{ app.user ? 'true' : 'false' }}"
                                    @go-to-post="goToPost"
                                />
                            </div>
                        </div>
                    </b-tab>
                {% endif %}
                {% if showTrade %}
                    <b-tab
                        title="{% trans %}page.pair.tab.trade{% endtrans %}"
                        title-link-class="token-trade-tab-link"
                        {% if not isTokenPage %} title-item-class="trade-tab" {% endif %}
                        {% if tab == 'trade' %} {{ 'active' }} {% endif %}
                    >
                        <trade
                            :is-token="{{ isTokenPage ? 'true' : 'false' }}"
                            :is-mintme-token="{{ isMintmeToken }}"
                            websocket-url="{{ global_websocket_url }}"
                            hash="{{ hash }}"
                            login-url="{{ path('fos_user_security_login') }}"
                            signup-url="{{ path('fos_user_registration_register') }}"
                            :market="{{ market | json_encode }}"
                            :logged-in="{{ loggedIn }}"
                            :is-owner="{{ isOwner }}"
                            :precision="{{ precision }}"
                            :user-id="{{ app.user ? app.user.id : 0 }}"
                            mintme-supply-url="{{ mintme_supply }}"
                            :minimum-volume-for-marketcap="{{ minimum_volume_for_marketcap }}"
                            disabled-services-config="{{ disabledServicesConfig | json_encode }}"
                            {% if isTokenPage %}
                                :taker-fee="{{ taker_fee }}"
                            {% endif %}
                        >
                        </trade>
                    </b-tab>
                {% endif %}
                {% if isTokenPage %}
                    <b-tab
                        title="Post"
                        title-item-class="d-none"
                        {% if tab == 'post' %} {{ 'active' }} {% endif %}
                    >
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-10 col-lg-8">
                                <div class="card h-100 single-post-page">
                                    <div class="card-body posts">
                                        <post
                                            :post="singlePost || (singlePost = {{ post | json_encode }})"
                                            :show-edit="{{ isOwner }}"
                                            :logged-in="{{ loggedIn }}"
                                            @delete-post="deleteSinglePost"
                                            @go-to-trade="goToTrade"
                                            single-page
                                        ></post>
                                        <comments
                                            :comments="comments || (comments = {{ comments | json_encode }})"
                                            :post-id="singlePost ? singlePost.id : {{ post ? post.id : 0 }}"
                                            :token-name="singlePost ? singlePost.token.name : '{{ post ? post.token.name : '' }}'"
                                            :logged-in="{{ loggedIn }}"
                                            @delete-comment="deleteComment"
                                            @new-comment="newComment"
                                            @cancel="goToPosts"
                                        ></comments>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </b-tab>
                {% endif %}
                <template slot="tabs-end">
                    {% if isTokenPage %}
                        <li class="nav-item ml-auto my-2 my-lg-0">
                            <div class="d-flex align-items-center h-100">
                                <envelope
                                    :logged-in="{{ loggedIn }}"
                                    :is-owner="{{ isOwner }}"
                                    :dm-min-amount="{{ dMMinAmount }}"
                                    token-name="{{ token.name }}"
                                ></envelope>
                                <div class="div-container-avatar">
                                    <a
                                        href="{{ path('profile') }}/{{ profile.nickname }}"
                                    >
                                        <avatar
                                            class="{% if profile.image.url == "/media/default_profile.png" %}default-user-avatar-navbar{% endif %}"
                                            size="small"
                                            type="profile"
                                            image="{{ profile.image.url | imagine_filter('avatar_small') }}"
                                        ></avatar>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    {% if not isTokenPage %}
                        <li class="nav-item-token">
                            <div class="nav-link-token">
                                <div class="truncate-token">
                                    {% if(market.quote.name | rebranding is same as(mintme_coin)) %}
                                        <a href="{{ mintme_coin_link }}" target="_blank">
                                            <span v-b-tooltip="{title: '{{ market.quote.name | rebranding }}', boundary:'viewport'}">
                                                {{ market.quote.name | rebranding }}
                                            </span>
                                        </a>
                                    {%else%}
                                        <span v-b-tooltip="{title: '{{ market.quote.name | rebranding }}', boundary:'viewport'}">
                                            {{ market.quote.name | rebranding }}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    <div class="clearfix"></div>
                </template>
            </b-tabs>
        </div>
        {% if token|default %}
            <input type="hidden" v-model="tokenDescription" :set-value="tokenDescription = tokenDescription || {{ token.description | json_encode }}" />
            <input type="hidden" v-model="tokenName" :set-value="tokenName = tokenName || {{ market.quote.name | json_encode }}" />
        {% endif %}
    </div>
    {% if showCreatedModal and isOwner is same as('true') %}
        <token-created-modal
            :visible="showCreatedModal"
            token-name="{{ market.quote.name }}"
            @close="showCreatedModal = false"
        ></token-created-modal>
    {% endif %}
</div>

<input type="hidden" id="confirm-website-url" value="{{ path('token_website_confirm', {'name': market.quote.name}) }}">
{% endblock %}

{% block pagescripts %}
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    {% if not app.user %}
        <script src="https://www.google.com/recaptcha/api.js"></script>
    {% endif %}
    <script src="{{ asset('build/pair.js') }}"></script>
    <script>
        window.fbAsyncInit = () => {
            FB.init({
                appId: '{{ global_facebook_app_id }}',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v3.1',
            });
        };
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
{% endblock %}
