{% extends 'base.html.twig' %}

{% block title %}
    {% if tab|default == 'intro' %}Information about {% endif %}
    {% if token|default %} {{ token.name }} {% else %} {{ market.base.symbol }}/{{ market.quote.symbol }} {% endif %} | mintMe
{% endblock %}

{% block content %}
    <div id="token" class="container">
        <div class="row pt-5 justify-content-center">
            <div class="col-md-10" v-cloak>
                {{ include("loader.html.twig", {vCloak: 'v-cloak--block'}) }}
                <b-tabs no-key-nav @input="tabUpdated" :lazy="true" class="tabs-theme transparent" v-model="tabIndex">
                    <b-tab title="Trade" {% if tab|default and tab == 'trade' %} {{ 'active' }} {% endif %}>
                        <trade
                            websocket-url="{{ global_websocket_url }}"
                            hash="{{ hash }}"
                            login-url="{{ path('fos_user_security_login') }}"
                            signup-url="{{ path('fos_user_registration_register') }}"
                            :market="{{ market | json_encode }}"
                            :logged-in="{{ app.user ? 'true' : 'false' }}"
                            :is-owner="{{ isOwner ? 'true' : 'false' }}"
                            :precision="{{ precision }}"
                            :is-owner="{{ isOwner ? 'true' : 'false' }}"
                            :user-id="{{ app.user ? app.user.id : 0 }}">
                        </trade>
                    </b-tab>
                    {% if showIntro %}
                        <b-tab title="Introduction" {% if tab == 'intro' %} {{ 'active' }} {% endif %}>
                            <div class="row">
                                <token-introduction-profile
                                    class="col-12 col-lg-6 pr-lg-2"
                                    youtube-client-id="{{ global_youtube_client_id }}"
                                    facebook-app-id="{{ global_facebook_app_id }}"
                                    confirm-website-file-url="{{ path('token_website_confirmation', {'name': market.quote.name}) }}"
                                    confirm-website-url="{{ path('token_website_confirm', {'name': market.quote.name}) }}"
                                    profile-name="{{ profile.firstName }} {{ profile.lastName }}"
                                    website-url="{{ token.websiteUrl }}"
                                    facebook-url="{{ token.facebookUrl }}"
                                    youtube-channel-id="{{ token.youtubeChannelId }}"
                                    update-url="{{ path('token_update', {'name': market.quote.name}) }}"
                                    :editable="{{ isOwner ? 'true' : 'false' }}"
                                    profile-url="{{ absolute_url(path('profile-view', { 'pageUrl': token.getProfile().getPageUrl() })) }}"
                                    token-url="{{ absolute_url(path('token_show', {'name': market.quote.name, 'tab': 'intro'})) }}"
                                >
                                </token-introduction-profile>
                                <token-introduction-statistics
                                    v-on:period-updated="updateTokenPeriod"
                                    class="col-12 col-lg-6 pt-3 pt-lg-0 pl-lg-2"
                                    :market="{{ market | json_encode }}"
                                    :editable="{{ isOwner ? 'true' : 'false' }}"
                                    release-period-route="{{ path('lock_in', {'name': market.quote.name}) }}"
                                    twofa="{{ app.user ? app.user.isGoogleAuthenticatorEnabled : '' }}"
                                    token-created="{{ token.getCreated().format('d M Y') }}"
                                    :precision="{{ precision }}">
                                </token-introduction-statistics>
                                <top-holders
                                        class="col-12 mt-3"
                                        :token-name="{{ market.quote.symbol | json_encode }}">
                                </top-holders>
                                <token-introduction-description
                                    class="col-12 pt-3"
                                    @updated="descriptionUpdated"
                                    name="{{ token.name }}"
                                    :description="tokenDescription"
                                    update-url="{{ path('token_update', {'name': market.quote.name}) }}"
                                    :editable="{{ isOwner ? 'true' : 'false' }}">
                                </token-introduction-description>
                            </div>
                        </b-tab>
                    {% endif %}
                    <template slot="tabs">
                        {% if token is defined %}
                        <li class="nav-item">
                            <div class="nav-link pr-md-0">
                                <token-deploy-icon
                                    :has-release-period="isTokenPeriodAdded({{ token.getLockIn ? 'true' : 'false' }})"
                                    :is-owner="{{ isOwner ? 'true' : 'false' }}"
                                    name="{{ market.quote.name }}"
                                    :precision="{{ precision }}"
                                    :status-prop="{{ token.deploymentStatus | json_encode }}"
                                    websocket-url="{{ global_websocket_url }}"
                                />
                            </div>
                        </li>
                        {% endif %}
                        <li class="nav-item float-sm-right">
                            <div class="nav-link">
                                <token-name
                                    :editable="{{ isOwner ? 'true' : 'false' }}"
                                    :has-release-period="isTokenPeriodAdded({{ token.getLockIn ? 'true' : 'false' }})"
                                    identifier="{{ market.quote.identifier }}"
                                    name="{{ market.quote.name }}"
                                    :precision="{{ precision }}"
                                    :status-prop="{{ token.deploymentStatus | json_encode }}"
                                    :twofa="{{ app.user ? (app.user.isGoogleAuthenticatorEnabled ? 'true' : 'false') : 'false' }}"
                                    websocket-url="{{ global_websocket_url }}"
                                />
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </template>
                </b-tabs>
            </div>
        </div>
        {% if token|default %}
            <input type="hidden" v-model="tokenDescription" :set-value="tokenDescription = tokenDescription || {{ token.description | json_encode }}" />
            <input type="hidden" v-model="tokenName" :set-value="tokenName = tokenName || {{ market.quote.name | json_encode }}" />
        {% endif %}
    </div>

    <input type="hidden" id="confirm-website-url" value="{{ path('token_website_confirm', {'name': market.quote.name}) }}">
{% endblock %}

{% block pagescripts %}
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="{{ asset('build/pair.js') }}"></script>
{% endblock %}
