{% extends 'base.html.twig' %}
{% if isTokenPage and token.image is not null %}
    {% set metaImage = token.image.url | imagine_filter('avatar_large') %}
{% endif %}

{% if token|default %}
    {% set metaTitle = 'Information about ' ~ token.name ~ ' token | mintMe' %}
    {% set metaImageAlt = 'Information about ' ~ token.name ~ ' token | mintMe' %}
{% else %}
    {% set metaTitle = currentMarket.quote.symbol|rebranding ~ '/' ~  currentMarket.base.symbol|rebranding ~ ' | mintMe' %}
    {% set metaImageAlt = currentMarket.quote.symbol|rebranding ~ '/' ~ currentMarket.base.symbol|rebranding ~ ' | mintMe' %}
{% endif %}

{% block metaDescription %}
    {% if isTokenPage and tokenDescription is defined %}
        <meta property="og:description" content="{{ metaTokenDescription }}">
        <meta name="description" content="{{ metaTokenDescription }}">
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block title %}
    {% if token|default %}
        {% if tab == 'intro' %}
            {% trans with {'%name%': token.name, '%description%': truncatedTokenDescription} %}page.pair.title_info{% endtrans %}
        {% elseif tab == 'trade' %}
            {% trans with {'%name%': token.name} %} page.pair.title_market_tab {% endtrans %}
        {% elseif (tab == 'posts') %}
            {% trans with {'%name%': token.name} %}page.pair.title_posts{% endtrans %}
        {% elseif (tab == 'post') %}
            {% trans with {'%postTitle%': post.title, '%tokenName%': token.name} %}page.pair.title_post{% endtrans %}
        {% elseif (tab == 'voting') or (tab == 'create-voting') or (tab == 'show-voting') %}
            {% trans with {'%name%': token.name} %}page.pair.title_voting{% endtrans %}
        {% endif %}
    {% else %}
        {{ currentMarket.quote.symbol|rebranding }}/{{ currentMarket.base.symbol|rebranding }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pages/pair') }}
{% endblock %}

{% block content %}
{% set isAirdropReferral = isAirdropReferral is defined and isAirdropReferral ? 'true' : 'false' %}
{% set isOwner = isOwner ? 'true' : 'false' %}
{% set viewOnly = viewOnly ? 'true' : 'false' %}
{% set loggedIn = app.user ? 'true' : 'false' %}
{% set isMintmeToken = isTokenPage and token.isMintmeToken ? 'true' : 'false' %}
{% set isCreatedOnMintmeSite = isTokenPage and token.isCreatedOnMintmeSite ? 'true' : 'false' %}
{% set showFinalizedRewardModal = showFinalizedRewardModal is defined and showFinalizedRewardModal ? 'true' : 'false' %}
{% set showSummaryRewardModal = showSummaryRewardModal is defined and showSummaryRewardModal ? 'true' : 'false' %}
{% set userAlreadyClaimed = userAlreadyClaimed is defined and userAlreadyClaimed ? 'true' : 'false' %}
{% set currentLocale = app.session.get('_locale') %}
{% set showAirdropModal = showAirdropModal is defined and showAirdropModal ? 'true' : 'false' %}
{% set route = app.request.get('_route') %}
{% set isVotingTab = tab == 'voting' or tab == 'create-voting' or tab == 'show-voting' %}
{% set isIntroTab = tab != 'trade' and not isVotingTab %}
{% set isTradeTab = tab == 'trade' %}
{% set tokenAvatarUrl = token is not defined or token.image is null or token.image.url == '/media/default_token.png'
                        ? asset('build/images/default_token_avatar.svg')
                        : token.image.url | imagine_filter('avatar_large')
%}
{% set tokenCoverUrl = token is not defined or token.coverImage is null
                        ? asset('build/images/token-cover-default.webp')
                        : token.coverImage.url
%}
{% set tabsWithSidebar = ['post', 'posts', 'intro'] %}
{% set tabHasSidebar = tab in tabsWithSidebar %}
<div
    id="token"
    class="{{ isTokenPage ? 'token-page' : 'crypto-page mx-auto' }}"
>
    {% if showAirdropCampaign is defined and showAirdropCampaign %}
        <div v-if="!isAirdropComponentLoaded" class="airdrop-container card col-12 mt-3 px-0">
            <div class="d-flex align-items-center justify-content-center py-2 airdrop-loading-container">
                <div class="spinner-border spinner-border-sm my-1" role="status"></div>
            </div>
        </div>
    {% endif %}
    <token-ongoing-airdrop-campaign
        v-if="{{ showAirdropCampaign is defined and showAirdropCampaign ? 'true' : 'false' }}"
        :logged-in="{{ loggedIn }}"
        :is-owner="{{ isOwner }}"
        :view-only="{{ viewOnly }}"
        :token-name="'{{ token.name | default }}'"
        token-avatar="{{ tokenAvatarUrl }}"
        :user-already-claimed="{{ userAlreadyClaimed }}"
        login-url="{{ absolute_url(path('fos_user_security_login')) }}"
        signup-url="{{ absolute_url(path('fos_user_registration_register')) }}"
        youtube-client-id="{{ global_youtube_client_id }}"
        linkedin-app-id="{{ global_linkedin_app_id }}"
        current-locale="{{ currentLocale }}"
        :show-airdrop-modal="{{ showAirdropModal }}"
        profile-nickname="{{ app.user ? app.user.profile.nickname : '' }}"
        :login-recaptcha-sitekey="'{{ google_recaptcha_site_key }}'"
        :reg-recaptcha-sitekey="'{{ reg_google_recaptcha_site_key }}'"
        @mounted="isAirdropComponentLoaded = true"
        :is-airdrop-referral="{{ isAirdropReferral }}"
    ></token-ongoing-airdrop-campaign>
    <div class="main-content">
        <div class="main-column flex-fill">
            <input type="hidden" id="tab-name" value="{{ tab }}" />
            <input type="hidden" id="tabs-with-sidebar" value="{{ tabsWithSidebar|json_encode }}" />
            <market-init
                market-index="{{ currentMarket.base.symbol }}"
                :markets="{{ markets | json_encode }}"
            ></market-init>
            <balance-init
                :is-token="{{ isTokenPage ? 'true' : 'false' }}"
                websocket-url="{{ global_websocket_url }}"
                hash="{{ hash }}"
                :logged-in="{{ loggedIn }}"
                :is-owner="{{ isOwner }}"
                :view-only="{{ viewOnly }}"
                :precision="{{ precision }}"
            ></balance-init>
            <crypto-init :cryptos="{{ enabledCryptos|json_encode }}"></crypto-init>
            {% if isTokenPage %}
                <posts-init
                    :post-rewards-collectable-days="{{ postRewardsCollectableDays }}"
                    :comment-tip-cost="{{ commentTipCost }}"
                    :comment-tip-min-amount="{{ commentTipMinAmount }}"
                    :comment-tip-max-amount="{{ commentTipMaxAmount }}"
                    :is-authorized-for-reward="{{ isAuthorizedForReward ? 'true' : 'false' }}"
                ></posts-init>
            {% endif %}
            <div class="pair-container px-3">
                {% if isTokenPage %}
                    <div class="token-info mt-3">
                        <div class="cover-image-wrapper position-relative d-flex justify-content-center w-100
                            overflow-hidden">
                                <token-cover-image
                                    entry-point
                                    :editable="{{ isOwner }}"
                                    token-name="{{ mintmeMarket.quote.name }}"
                                    init-image="{{ tokenCoverUrl }}"
                                    tabindex="1"
                                />
                        </div>
                        <div class="token-info-bar d-flex py-2 flex-wrap flex-md-nowrap">
                            <div class="d-flex align-items-center token-avatar-name">
                                <div class="token-avatar position-relative mx-3">
                                    <token-avatar
                                        :is-owner="{{isOwner}}"
                                        token-name="{{ mintmeMarket.quote.name }}"
                                        :image="currentTokenAvatar || '{{ tokenAvatarUrl }}'"
                                        profile-image-url="{{ profile.image.url | imagine_filter('avatar_large') }}"
                                        profile-nickname="{{ profile.nickname }}"
                                    />
                                </div>
                                <div v-if="false" class="text-truncate">
                                    <h1 class="h2 text-white" >
                                        {{ mintmeMarket.quote.name | u.truncate(18) }}
                                    </h1>
                                </div>
                                <token-name
                                    :tab-index="tabIndex"
                                    name="{{ mintmeMarket.quote.name }}"
                                >
                                </token-name>
                                <token-general-information
                                    class="mr-2"
                                    ref="tokenAvatar"
                                    :is-owner="{{ isOwner }}"
                                    :has-release-period-prop="{{ token.getLockIn ? 'true' : 'false' }}"
                                    :is-created-on-mintme-site="{{ isCreatedOnMintmeSite }}"
                                    :market="{{ mintmeMarket | json_encode }}"
                                    profile-name="{{ profile.firstName }}"
                                    profile-lastname="{{ profile.lastname }}"
                                    profile-description="{{ profile.description }}"
                                    profile-anonymously="{{ profile.anonymous }}"
                                    :token-description="tokenDescription"
                                    token-name="{{ mintmeMarket.quote.name }}"
                                    :token-facebook="{{ token.facebookUrl|json_encode }}"
                                    :token-youtube="{{ token.youtubeChannelId|json_encode }}"
                                    :token-website="{{ token.websiteUrl|json_encode }}"
                                    :token-delete-sold-limit="{{ tokenDeleteSoldLimit }}"
                                    minimum-order="{{ global_minimum_order_usd }}"
                                    :token-deploys="{{ deploys | json_encode }}"
                                    websocket-url="{{ global_websocket_url }}"
                                    :view-only="{{ viewOnly }}"
                                    :logged-in="{{ loggedIn }}"
                                ></token-general-information>
                            </div>
                            <div class="flex-fill d-flex overflow-hidden mt-2">
                                <div class="flex-fill d-flex justify-content-center overflow-hidden mx-2">
                                    {% if deploys|length > 0 %}
                                        <div class="mw-100">
                                            <div class="font-weight-bold text-truncate">
                                                {{ deploys|length > 1
                                                    ? 'page.pair.contract_addresses'|trans
                                                    : 'page.pair.contract_address'|trans
                                                }}
                                            </div>
                                            <div class="text-truncate">
                                                <token-contract-addresses></token-contract-addresses>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="d-flex align-items-center justify-content-end p-0">
                                    <token-exchange-price
                                        class="mr-4"
                                        websocket-url="{{ global_websocket_url }}"
                                        :market="{{ mintmeMarket | json_encode }}"
                                        :markets-highest-price="{{ marketsHighestPrice | json_encode }}"
                                        :service-unavailable="{{ tokenHighestPriceServiceUnavailable ? 'true' : 'false' }}"
                                        :is-token="{{ isTokenPage ? 'true' : 'false' }}"
                                    ></token-exchange-price>
                                </div>
                            </div>
                        </div>
                        <div class="token-nav d-flex align-items-center justify-content-center p-2 flex-wrap">
                            <div class="mw-100 flex-fill order-2 order-md-1">
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav font-size-2 d-flex align-items-center">
                                        <li class="nav-item py-1 pr-4">
                                            <a
                                               href="{{ path('token_show', {name: token.name}) }}"
                                               class="{{ isIntroTab ? 'active' : '' }}"
                                               :class="getTabLinkClass('intro')"
                                               @click.prevent="changeTab('intro')"
                                            >
                                                {{ 'page.pair.tab.introduction'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item py-1 pl-2 pr-4">
                                            <a
                                                href="{{ path('token_show', {name: token.name, tab: 'trade'}) }}"
                                                class="{{ isTradeTab ? 'active' : '' }}"
                                                :class="getTabLinkClass('trade')"
                                                @click.prevent="changeTab('trade')"
                                            >
                                                {{ 'page.pair.tab.market'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item py-1 pl-2 pr-4">
                                            <a
                                                href="{{ path('token_list_voting', {name: token.name}) }}"
                                                class="d-flex align-items-center {{ isVotingTab ? 'active' : '' }}"
                                                :class="getTabLinkClass('voting')"
                                                @click.prevent="changeTab('voting')"
                                            >
                                                {{ 'voting.voting'|trans }}
                                                <div class="mr-2">
                                                    <fetchable-counter
                                                        ref="votingCounter"
                                                        class="mb-2"
                                                        url-data="{{ absolute_url(path('voting_count', {'tokenName': token.name})) }}"
                                                        :block="true"
                                                        :icon="false"
                                                    ></fetchable-counter>
                                                </div>
                                            </a>
                                        </li>
                                        {% if isOwner is same as('true') %}
                                            <li class="nav-item">
                                                <a
                                                    href="{{ path('token_settings', {tokenName: token.name}) }}"
                                                    class="btn btn-secondary font-size-2 whitespace-nowrap"
                                                >
                                                    <font-awesome-icon icon="cog" class="mr-2"></font-awesome-icon>
                                                    {{ 'navbar.token_settings'|trans }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                            <div class="position-relative mx-2 order-1">
                                {% if token.websiteUrl %}
                                    <a
                                        class="btn btn-secondary btn-social font-size-3 my-2 mx-1"
                                        href="{{ token.websiteUrl }}"
                                        v-b-tooltip="'{{ 'token.social_media.tooltip_website'|trans }}'"
                                    >
                                        <font-awesome-icon icon="user"></font-awesome-icon>
                                    </a>
                                {% endif %}
                                {% if token.facebookUrl %}
                                    <a
                                        class="btn btn-secondary btn-social font-size-3 my-2 mx-1"
                                        href="{{ token.facebookUrl }}"
                                        v-b-tooltip="'{{ 'token.social_media.tooltip'|trans }}'"
                                    >
                                        <font-awesome-icon :icon="['fab', 'facebook-f']"></font-awesome-icon>
                                    </a>
                                {% endif %}
                                {% if token.youtubeChannelId %}
                                    <a
                                        class="btn btn-secondary btn-social font-size-3 my-2 mx-1"
                                        href="{{ 'https://www.youtube.com/channel/' ~ token.youtubeChannelId }}"
                                        v-b-tooltip="'{{ 'token.social_media.tooltip'|trans }}'"
                                    >
                                        <font-awesome-icon :icon="['fab', 'youtube']"></font-awesome-icon>
                                    </a>
                                {% endif %}
                                {% if token.telegramUrl %}
                                    <a class="btn btn-secondary btn-social font-size-3 my-2 mx-1" href="{{ token.telegramUrl }}">
                                        <font-awesome-icon :icon="['fab', 'telegram-plane']"></font-awesome-icon>
                                    </a>
                                {% endif %}
                                {% if token.discordUrl %}
                                    <a class="btn btn-secondary btn-social font-size-3 my-2 mx-1" href="{{ token.discordUrl }}">
                                        <font-awesome-icon :icon="['fab', 'discord']"></font-awesome-icon>
                                    </a>
                                {% endif %}
                                {% if token.twitterUrl %}
                                    <a
                                        class="btn btn-secondary btn-social font-size-3 my-2 mx-1"
                                        href="{{ token.twitterUrl }}"
                                        v-b-tooltip="'{{ 'token.social_media.tooltip'|trans }}'"
                                    >
                                        <font-awesome-icon :icon="['fab', 'x-twitter']"></font-awesome-icon>
                                    </a>
                                {% endif %}
                                <token-share
                                    token-name="{{ mintmeMarket.quote.name }}"
                                    token-url="{{ absolute_url(path('token_show', {'name': mintmeMarket.quote.name, 'tab': 'intro'})) }}"
                                ></token-share>
                                <token-direct-message
                                    class="mx-1 my-2 d-inline-block"
                                    :logged-in="{{ loggedIn }}"
                                    :is-owner="{{ isOwner }}"
                                    :is-mobile-screen="isMobileScreen"
                                    :dm-min-amount="{{ dMMinAmount }}"
                                    :login-recaptcha-sitekey="'{{ google_recaptcha_site_key }}'"
                                    :reg-recaptcha-sitekey="'{{ reg_google_recaptcha_site_key }}'"
                                    token-name="{{ token.name }}"
                                ></token-direct-message>
                                {% if isTokenPage %}
                                    <token-follow-button
                                        class="d-inline-block"
                                        :follower-prop="{{ follower | json_encode}}"
                                        :is-owner="{{ isOwner }}"
                                        token-name="{{ token.name }}"
                                        mercure-hub-url="{{ mercure_hub_url }}"
                                    ></token-follow-button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="row m-0 mt-4 flex-wrap flex-lg-nowrap">
                            <div class="flex-fill mw-100 w-50">
                                {{ include("spinners/pair_tab_content.html.twig") }}
                                <div v-if="'trade' === activeTab">
                                    {{ include("pages/pair_trading.html.twig") }}
                                </div>
                                <div v-else-if="'voting' === activeTab">
                                    {{ include("pages/pair_voting.html.twig") }}
                                </div>
                                <div v-else-if="'post' === activeTab">
                                    {{ include("pages/pair_post.html.twig") }}
                                </div>
                                <div v-else-if="'posts' === activeTab"></div>
                                <div v-else class="{{ tab != 'intro' ? 'd-none' : ''}}" :class="'d-block'">
                                    {{ include("pages/pair_introduction.html.twig") }}
                                </div>
                            </div>
                            {% if tabHasSidebar %}
                                <div v-if="false" class="col-lg-4 pl-lg-3 pr-0 pl-0 hide-xlg">
                                    {{ include("spinners/pair_right_column.html.twig") }}
                                </div>
                            {% endif %}
                            <div
                                v-cloak
                                v-if="!isWideScreen && tabHasSidebar"
                                class="col-lg-4 pl-lg-3 pr-0 pl-0 hide-xlg"
                            >
                                <div class="sticky-bar">
                                    {% include 'pages/pair_right_column.html.twig' with {'spinner': false} %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {{ include("pages/pair_coin.html.twig") }}
                {% endif %}
                <div class="d-none">
                    {% if token|default %}
                        <input
                            type="hidden"
                            v-model="tokenDescription"
                            :set-value="tokenDescription = tokenDescription || {{ token.description | json_encode }}"
                        />
                        <input
                            type="hidden"
                            v-model="tokenName"
                            :set-value="tokenName = tokenName || {{ mintmeMarket.quote.name | json_encode }}"
                        />
                        <input
                            type="hidden"
                            v-model="cryptoSymbol"
                            :set-value="cryptoSymbol = cryptoSymbol || {{ currentMarket.base.symbol | json_encode }}"
                        />
                        <input
                            type="hidden"
                            v-model="showDeployedOnBoard"
                            :set-value="
                                showDeployedOnBoard = null !== showDeployedOnBoard
                                ? showDeployedOnBoard
                                : {{
                                    isOwner is same as ('true') and token.showDeployedModal
                                    ? 'true'
                                    : 'false'
                                }}"
                        />
                        <input id="posts-data" type="hidden" value="{{ posts | json_encode }}" />
                        <input id="rewards-data" type="hidden" value="{{ rewards | json_encode }}" />
                        <input id="bounties-data" type="hidden" value="{{ bounties | json_encode }}" />
                        <input
                            type="hidden"
                            v-model="ownDeployedTokens"
                            :set-value="ownDeployedTokens = ownDeployedTokens || {{ ownDeployedTokens | json_encode }}"
                        />
                    {% endif %}
                </div>
                <token-deployed-modal
                    v-if="showDeployedOnBoard"
                    :visible="showDeployedOnBoard"
                    token-name="{{ currentMarket.quote.name }}"
                    @close="closeDeployedModal()"
                ></token-deployed-modal>
                {% if showCreatedModal and isOwner is same as('true') %}
                    <token-created-modal
                        :visible="showCreatedModal"
                        token-name="{{ currentMarket.quote.name }}"
                        @close="showCreatedModal = false"
                    ></token-created-modal>
                {% endif %}
            </div>
        </div>
        {% if isTokenPage %}
            <div
                v-if="isWideScreen"
                class="mt-3 second-column hide-lg"
            >
                <div class="sticky-bar">
                    {{ include("pages/pair_right_column.html.twig") }}
                </div>
            </div>
        {% endif %}
    </div>
</div>

<input type="hidden" id="confirm-website-url" value="{{ path('token_website_confirm', {'name': currentMarket.quote.name}) }}">
{% endblock %}

{% block pagescripts %}
    <script>
        window.firebaseConfig = {
            apiKey: '{{ firebase_twitter_api_key }}',
            authDomain: '{{ firebase_twitter_auth_domain }}',
            projectId: '{{ firebase_twitter_project_id }}',
            storageBucket: '{{ firebase_twitter_storage_bucket }}',
            messagingSenderId: '{{ firebase_twitter_messaging_sender_id }}',
            appId: '{{ firebase_twitter_app_id }}',
            measurementId: '{{ firebase_twitter_measurement_id }}',
        };
    </script>
    <script defer src="https://apis.google.com/js/platform.js"></script>
    <script defer src="https://apis.google.com/js/api.js"></script>
    {% if not app.user %}
        <script defer src="https://www.google.com/recaptcha/api.js"></script>
    {% endif %}
    {{ encore_entry_script_tags('pages/pair') }}
    <script>
        window.fbAsyncInit = () => {
            FB.init({
                appId: '{{ global_facebook_app_id }}',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v3.1',
            });
        };
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
{% endblock %}
