{% extends 'base.html.twig' %}

{% block title %}{% trans %}phone_confirmation.title{% endtrans %} | mintMe{% endblock %}

{% set formHeader = 'phone_confirmation.header'|trans %}

{% block content %}
    <div id="phone-verification">
        <div class="container">
            <div class="row pt-4 justify-content-center">
                <div class="col-12">
                    <div class="card card-fixed-small mx-auto">
                        <div class="card-header">
                            {{ formHeader }}
                        </div>
                        <div class="card-body py-3">
                            {% block formBody %}
                                {{ form_start(form) }}
                                <div class="pb-3">
                                    <p>
                                        {% trans %}phone_confirmation.mail_code{% endtrans %}
                                    </p>
                                    {{ form_label(form.smsCode) }}
                                    {{ form_errors(form.smsCode) }}
                                    <div class="d-flex flex-column">
                                        {{ include("spinners/verify_code_inputs.html.twig") }}
                                        <verify-code
                                            :disabled="isFormSending"
                                            @code-entered="onSmsCodeEntered"
                                        ></verify-code>
                                        <input
                                            type="hidden"
                                            name="phone_verification[smsCode]"
                                            ref="sms_code"
                                        />
                                        <span
                                            v-cloak
                                            ref="resendSmsCode"
                                            data-failed-attempts="{{ form.smsCode.vars.failedAttempts }}"
                                            data-limit-reached="{{ form.smsCode.vars.limitReached }}"
                                            data-errors-count="{{ form.smsCode.vars.errors | length }}"
                                            class="btn-cancel text-left px-0 my-1 c-pointer d-flex align-items-center"
                                            :class="resendSmsCodeSpanClass"
                                            @click="requestSmsCode"
                                        >
                                            <span v-text="resendSmsCodeText"></span>
                                            <div
                                                v-if="isRequestingSmsCode"
                                                class="spinner-border spinner-border-sm ml-2"
                                                role="status"
                                            ></div>
                                        </span>
                                    </div>
                                </div>
                                <div class="pb-3">
                                    {{ form_label(form.mailCode) }}
                                    {{ form_errors(form.mailCode) }}
                                    <div class="d-flex flex-column">
                                        {{ include("spinners/verify_code_inputs.html.twig") }}
                                        <verify-code
                                            :disabled="isFormSending"
                                            @code-entered="onMailCodeEntered"
                                        ></verify-code>
                                        <input
                                            type="hidden"
                                            name="phone_verification[mailCode]"
                                            ref="mail_code"
                                        />
                                        <span
                                            v-cloak
                                            ref="resendMailCode"
                                            data-failed-attempts="{{ form.mailCode.vars.failedAttempts }}"
                                            data-limit-reached="{{ form.mailCode.vars.limitReached }}"
                                            data-errors-count="{{ form.mailCode.vars.errors | length }}"
                                            class="btn-cancel text-left px-0 my-1 c-pointer d-flex align-items-center"
                                            :class="resendMailCodeSpanClass"
                                            @click="requestMailCode"
                                        >
                                            <span v-text="resendMailCodeText"></span>
                                            <div
                                                v-if="isRequestingMailCode"
                                                class="spinner-border spinner-border-sm ml-2"
                                                role="status"
                                            ></div>
                                        </span>
                                    </div>
                                </div>
                                <div class="pb-1">
                                    {{ form_row(form.submit, {'disabled':'disabled'}) }}
                                    <div class="text-center">
                                        <font-awesome-icon icon="circle-notch" id="loading" spin class="loading-spinner d-none" fixed-width></font-awesome-icon>
                                    </div>
                                </div>
                                {{ form_widget(form._token) }}
                                {{ form_end(form, {'render_rest' : false}) }}
                            {% endblock %}
                            <input type="hidden" ref="sendCode" value="{{ sendCode }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    {{ encore_entry_script_tags('pages/phone_verification') }}
{%  endblock %}
