{% extends 'base.html.twig' %}

{% if profile.image is not null %}
    {% set metaImage = profile.image.url | imagine_filter('avatar_large') %}
{% endif %}
{% set metaTitle = profile.nickname ~ '\'s profile | mintMe' %}
{% set metaImageAlt = profile.nickname ~ '\'s profile | mintMe' %}
{% set phoneNumber = profile.phoneNumber ? profile.phoneNumber.phoneNumber|phone_number_format('NATIONAL') : '' %}
{% set phoneEditLimitReached = phoneEditLimitReached ? 'true' : 'false' %}
{% set tokenAvatarUrl = token is null or token.image is null
                        ? asset('build/images/default_token_avatar.svg')
                        : token.image.url | imagine_filter('avatar_large')
%}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pages/profile') }}
{% endblock %}

{% block title %}
    {% if profile.anonymous %}
        {{ profile.nickname }}'s {% trans %}page.profile.title{% endtrans %} | mintMe
    {% else %}
        {{ profile.nickname }}
        {{ (profile.city is empty or not show_full_data_in_profile) ? '' : ' (from ' ~ profile.city ~ ')' }}
        {% trans %}page.profile.title{% endtrans %} | mintMe
    {% endif %}
{% endblock %}

{% block metaDescription %}
    {% if profileDescription is defined and profileDescription is not empty %}
        <meta property="og:description" content="{{ profileDescription }}">
        <meta property="description" content="{{ profileDescription }}">
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block bodyclass %}profile-view{% endblock %}

{% block content %}
    <div id="profile" class="container ml-auto mr-auto mt-5 p-0">
        {% if canEdit %}
            <profile-init
                :countries="{{ countries|json_encode }}"
                nickname="{{ profile.nickName }}"
                first-name="{{ profile.firstname() }}"
                last-name="{{ profile.lastname() }}"
                phone-number="{{ phoneNumber }}"
                country="{{ profile.country }}"
                city="{{ profile.city }}"
                zip-code="{{ profile.zipCode }}"
                description="{{ profile.description }}"
            ></profile-init>
        {% endif %}
        <div class="profile-header d-flex align-items-center py-3 px-2">
            <a
                v-if="!showEditForm"
                href="{{ app.request.headers.get('referer') }}"
                class="ml-auto mr-1 d-flex align-items-center"
            >
                <font-awesome-icon
                    icon="long-arrow-alt-left"
                    class="go-back-arrow"
                ></font-awesome-icon>
                <span class="text-uppercase ml-2">
                    {% trans %} go_back {% endtrans %}
                </span>
            </a>
        </div>
        <div class="profile-body p-3">
            {% if false == profile.user.isBlocked %}
                <div v-if="!showEditForm">
                    <div class="pl-1 d-flex">
                        <div>
                            <div class="avatar-field">
                                <avatar
                                    type="profile"
                                    size="large"
                                    image="{{ profile.image.url | imagine_filter('avatar_large') }}"
                                    v-b-tooltip.hover="{title: '{{ (canEdit ? 'tooltip.edit_avatar' : 'tooltip.profile_avatar') | trans }}', boundary: 'viewport'}"
                                    :editable="{{ canEdit ? 'true' : 'false' }}"
                                ></avatar>
                            </div>
                            {% if canEdit %}
                                <div v-if="!showEditForm" class="edit-profile c-pointer mt-1">
                                    <a
                                        tabindex="0"
                                        @click="showEditForm = true"
                                        @keyup.enter="showEditForm = true"
                                    >
                                        <div class="icon-reserve">
                                            <font-awesome-icon :icon="['fas', 'edit']"></font-awesome-icon>
                                        </div>
                                        <span>
                                            {% trans %} page.profile.edit {% endtrans %}
                                        </span>
                                    </a>
                                </div>
                            {% endif %}
                            {% if showBlockUser %}
                                <block-user
                                    class="mt-3"
                                    nickname="{{ profile.nickname }}"
                                    :user-has-tokens="{{ userHasTokens ? 'true' : 'false' }}"
                                    :is-blocked="{{ isBlockedProfile ? 'true' : 'false' }}"
                                ></block-user>
                            {% endif %}
                        </div>
                        <div class="user-data ml-3">
                            <div>
                                <label>
                                    {% trans %} page.profile.form.username {% endtrans %}:
                                </label>
                                <span>
                                    {{ profile.nickName }}
                                </span>
                            </div>
                            {% if not profile.anonymous %}
                                {% if profile.firstname is not empty %}
                                    <div>
                                        <label>
                                            {% trans %} page.profile.form.full_name {% endtrans %}:
                                        </label>
                                        <span>
                                            {{ profile.firstname() }} {{ profile.lastname() }}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if profile.created is not null %}
                                    <div>
                                        <label>
                                            {% trans%} page.profile.created_on {% endtrans %}
                                        </label>
                                        <span>
                                            {{ profile.created.format('d.m.Y') }}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if profile.phoneNumber is not empty and profile.phoneNumber.verified and canEdit %}
                                    <div class="pb-1">
                                        <label>
                                            {% trans %} page.profile.form.phone_number {% endtrans %}:
                                        </label>
                                        <span>
                                            {{ profile.phoneNumber.phoneNumber|phone_number_format('E164') }}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if profile.country is not empty %}
                                    <div>
                                        <label>
                                            {% trans %} page.profile.form.country {% endtrans %}:
                                        </label>
                                        <span>
                                            {{ profile.getCountryFullName() }}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if show_full_data_in_profile %}
                                    <div>
                                        <label>
                                            {% trans %} page.profile.form.city {% endtrans %}:
                                        </label>
                                        <span>
                                            {{ profile.city }}
                                        </span>
                                    </div>
                                    <div>
                                        <label>
                                            {% trans %} page.profile.form.zip_code {% endtrans %}:
                                        </label>
                                        <span>
                                            {{ profile.zipCode }}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if token is not empty %}
                                    <div>
                                        <label>
                                            {% trans %}page.profile.form.token{% endtrans %}
                                        </label>
                                        <coin-avatar
                                            :is-user-token="true"
                                            class="mr-1"
                                            image="{{ tokenAvatarUrl }}"
                                        ></coin-avatar>
                                        <a
                                            class="word-break-all token-name"
                                            href="{{ path('token_show', {'name': token.getName()}) }}"
                                        >
                                            {{ token.getName() }}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% if profile.anonymous %}
                        <div class="mt-md-2">
                            <span>
                                {% trans %} page.profile.is_private {% endtrans %}
                            </span>
                        </div>
                    {% else %}
                        <div class="mt-5">
                            <plain-text-view text="{{ profile.description }}" />
                        </div>
                    {% endif %}
                    {% if not profile.anonymous %}
                        {{ include('spinners/tokens_user_owns.html.twig') }}
                        <div class="user-token-table">
                            <tokens-user-owns
                                nickname="{{ profile.nickname }}"
                                :cryptos="{{ cryptos | json_encode }}"
                                :profile-owner="{{ canEdit ? 'true' : 'false' }}"
                                :tokens-count="{{ tokensUserOwnsCount }}"
                                :tokens-user-owns-prop="{{ tokensUserOwns | json_encode }}"
                            ></tokens-user-owns>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="col-12">
                    <div class="float-left mr-2 w-max-50">
                        <avatar
                            type="profile"
                            size="large"
                            image="{{ profile.image.url | imagine_filter('avatar_large') }}"
                            v-b-tooltip.hover="{title: '{% trans %}tooltip.edit_avatar{% endtrans %}', boundary: 'viewport'}"
                            :editable="false"
                        ></avatar>
                    </div>
                </div>
                <div class="col-12 pt-3">
                    {% trans %} page.profile.is_locked {% endtrans %}
                </div>
            {% endif %}
            {% if canEdit %}
                <div v-show="showEditForm" v-cloak class="p-3">
                    {{ form_errors(form, {'isFormField': true}) }}
                    {{ form_start(form) }}
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="mb-2">
                                <m-input
                                    name="profile[nickname]"
                                    label="{{ form.nickname.vars.label}}"
                                    v-model.trim="$v.nickname.$model"
                                    ref="nickname"
                                    input-tab-index="1"
                                    @input="validation('profile_nickname')"
                                >
                                    <template v-slot:errors>
                                        {{ form_errors(form.nickname, {'isFormField': true}) }}
                                        <div v-cloak="$v.nickname" v-if="!$v.nickname.required">
                                            {% trans %}page.profile.error.nickname.required{% endtrans %}
                                        </div>
                                        <div v-cloak="$v.nickname" v-if="!$v.nickname.minLength">
                                            {% trans %}page.profile.error.nickname.min{% endtrans %}
                                        </div>
                                        <div v-cloak="$v.nickname" v-if="!$v.nickname.helpers">
                                            {% trans %}page.profile.error.nickname.letters_numbers{% endtrans %}
                                        </div>
                                        <div v-cloak="$v.nickname" v-if="!$v.nickname.maxLength">
                                            {% trans with {'%value%': "30"} %}page.profile.error.nickname.max{% endtrans %}
                                        </div>
                                        <div
                                            v-cloak="$v.nickname"
                                            v-if="!$v.nickname.noBadWords"
                                            v-text="nicknameBadWordMessage"
                                        ></div>
                                    </template>
                                </m-input>
                            </div>
                            <div class="mb-2">
                                {{ form_widget(form.phoneNumber.phoneNumber, {
                                    'value': profile.phoneNumber
                                    ? profile.phoneNumber.phoneNumber|phone_number_format('E164')
                                    : '',
                                    'attr': {
                                        'v-model': 'phoneNumberModel',
                                    }
                                }) }}
                                <form-control-wrapper
                                    label="{{ form.phoneNumber.phoneNumber.vars.label }}"
                                    label-pointer-events
                                    :disabled="{{ phoneEditLimitReached }}"
                                    :invalid="!isValidPhone"
                                >
                                    <template v-slot:label>
                                        {{ form.phoneNumber.phoneNumber.vars.label }}
                                        <guide>
                                            <template slot="header">
                                                {% trans %}phone.guide.header{% endtrans %}
                                            </template>
                                            <template slot="body">
                                                {% trans %}phone.guide.body{% endtrans %}
                                            </template>
                                        </guide>
                                    </template>
                                    <phone-number
                                        :phone-number="initialPhoneNumber"
                                        :disabled="{{ phoneEditLimitReached }}"
                                        :edit-limit-reached="{{ phoneEditLimitReached }}"
                                        :required="isPhoneRequired"
                                        input-tab-index="0"
                                        @is-valid-phone="isValidPhone = $event"
                                        @phone-change="phoneChange"
                                    ></phone-number>
                                    <template v-if="{{ phoneEditLimitReached }}" v-slot:hint>
                                        <div class="d-flex align-items-center mb-2">
                                            <font-awesome-icon icon="info-circle" transform="up-2" class="mr-1"></font-awesome-icon>
                                            {% trans %}phone_number.edit.limit{% endtrans %}
                                        </div>
                                    </template>
                                    <template v-slot:errors>
                                        {{ form_errors(form.phoneNumber.phoneNumber, {'isFormField': true}) }}
                                        {% if profile.phoneNumber is not empty and not profile.phoneNumber.verified %}
                                            <div class="d-flex justify-content-between text-action">
                                                <span class="text-red">
                                                    {% trans %}page.profile.form.phone_unverified{% endtrans %}
                                                </span>
                                                <a class="c-pointer" @click="codeResend">
                                                    {% trans %}page.profile.form.phone_resend_code{% endtrans %}
                                                </a>
                                            </div>
                                        {% endif %}
                                    </template>
                                </form-control-wrapper>
                            </div>
                            <div class="mb-2">
                                <m-input
                                    label="{{ form.firstName.vars.label }}"
                                    name="profile[firstName]"
                                    v-model.trim="$v.firstName.$model"
                                    ref="firstName"
                                    @input="validation('profile_firstName')"
                                    input-tab-index="1"
                                >
                                    <template v-slot:errors>
                                        {{ form_errors(form.firstName, {'isFormField': true}) }}
                                        <div v-cloak="$v.firstName" v-if="!$v.firstName.required">
                                            {% trans %}page.profile.error.fn.required{% endtrans %}
                                        </div>
                                        <div v-cloak="$v.firstName" v-if="!$v.firstName.helpers">
                                            {% trans %}page.profile.error.fn.letters{% endtrans %}
                                        </div>
                                        <div v-cloak="$v.firstName" v-if="firstNameAux">
                                            {% trans %}page.profile.error.fn.min_letters{% endtrans %}
                                        </div>
                                        <div v-cloak="$v.firstName" v-if="!$v.firstName.maxLength">
                                            {% trans with {'%value%': "30"} %}page.profile.error.firstName.max{% endtrans %}
                                        </div>
                                    </template>
                                </m-input>
                            </div>
                            <div class="mb-2">
                                <m-input
                                    label="{{ form.lastName.vars.label }}"
                                    name="profile[lastName]"
                                    v-model.trim="$v.lastName.$model"
                                    ref="lastName"
                                    @input="validation('profile_lastName')"
                                    input-tab-index="1"
                                >
                                    <template v-slot:errors>
                                        {{ form_errors(form.lastName, {'isFormField': true}) }}
                                        <div v-cloak="$v.lastName" v-if="!$v.lastName.required">
                                            {% trans %}page.profile.error.ln.required{% endtrans %}
                                        </div>
                                        <div v-cloak="$v.lastName" v-if="!$v.lastName.helpers">
                                            {% trans %}page.profile.error.ln.letters{% endtrans %}
                                        </div>
                                        <div v-cloak="$v.lastName" v-if="lastNameAux">
                                            {% trans %}page.profile.error.ln.min_letters{% endtrans %}
                                        </div>
                                        <div v-cloak="$v.lastName" v-if="!$v.lastName.maxLength">
                                            {% trans with {'%value%': "30"} %}page.profile.error.lastName.max{% endtrans %}
                                        </div>
                                    </template>
                                </m-input>
                            </div>
                            <div class="mb-2">
                                <m-select
                                    label="{{ form.country.vars.label }}"
                                    name="profile[country]"
                                    type="primary"
                                    v-model="selectedCountry"
                                    @change="selectedCountry = $event"
                                    select-tab-index="1"
                                >
                                    <option
                                        :selected="selectedCountry === ''"
                                        value=""
                                    >
                                        {{ 'not_selected'|trans }}
                                    </option>
                                    <option
                                        v-for="country in countries"
                                        :key="country"
                                        :value="country"
                                    >
                                        ${ countriesMap[country] }
                                    </option>
                                    {% if form_errors(form.country) | length > 0 %}
                                        <template v-slot:errors>
                                            {{ form_errors(form.country, {'isFormField': true}) }}
                                        </template>
                                    {% endif %}
                                </m-select>
                            </div>
                            {% if show_full_data_in_profile %}
                                <div>
                                    <m-input
                                        label="{{ form.city.vars.label }}"
                                        name="profile[city]"
                                        v-model.trim="$v.city.$model"
                                        ref="city"
                                        input-tab-index="1"
                                    >
                                        <template v-slot:errors>
                                            {{ form_errors(form.city, {'isFormField': true}) }}
                                            <div v-cloak="$v.city" v-if="!$v.city.helpers">
                                                {% trans %}page.profile.error.city.letters{% endtrans %}
                                            </div>
                                            <div v-cloak="$v.city" v-if="!$v.city.minLength">
                                                {% trans %}page.profile.error.city.min_letters{% endtrans %}
                                            </div>
                                        </template>
                                    </m-input>
                                </div>

                                <div>
                                    <m-input
                                        label="{{ form.zipCode.vars.label }}"
                                        name="profile[zipCode]"
                                        v-model.trim="$v.zipCode.$model"
                                        ref="city"
                                        :disabled="zipCodeDisabled"
                                        @input="zipCodeValidate"
                                        input-tab-index="1"
                                    >
                                        <template v-slot:errors>
                                            {{ form_errors(form.zipCode, {'isFormField': true}) }}
                                            <div v-if="!$v.zipCode.zipCodeContain" v-cloak="$v.zipCode">
                                                {% trans %}page.profile.error.zip_code.contain{% endtrans %}
                                            </div>
                                            <div v-else-if="!zipCodeValid" v-cloak="$v.zipCode">
                                                {% trans %}page.profile.error.zip_code.not_valid{% endtrans %}
                                            </div>
                                            <div v-else-if="!$v.zipCode.zipCodeWrongChars" v-cloak="$v.zipCode">
                                                {% trans %}page.profile.error.zip_code.consist{% endtrans %}
                                            </div>
                                        </template>
                                    </m-input>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <m-textarea
                                v-if="loaded"
                                :label="$t('page.profile.form.description')"
                                :invalid="$v.description && !$v.description.maxLength"
                                textarea-tab-index="1"
                                v-model="description"
                                ref="description"
                                class="no-spacer"
                                :rows="5"
                                editable
                            >
                                <template v-slot:errors>
                                    <div v-if="$v.description && !$v.description.maxLength" class="text-danger small my-2">
                                        {% trans with {'%value%': "500"} %}page.profile.error.description.max{% endtrans %}
                                    </div>
                                    <div
                                        v-if="!$v.description.noBadWords"
                                        v-text="descriptionBadWordMessage"
                                        class="text-danger small my-2"
                                    ></div>
                                </template>
                            </m-textarea>
                            <!-- editable textarea doesnt have input, so simulate it -->
                            <input type="hidden" name="profile[description]" :value="description"/>
                        </div>
                        <div class="col-12">
                            <div class="custom-control custom-checkbox mt-2">
                                {{ form_widget(form.anonymous) }}
                                {{ form_label(form.anonymous) }}
                                <guide>
                                    <template slot="header">
                                        {% trans %}page.profile.guide.header{% endtrans %}
                                    </template>
                                    <template slot="body">
                                        {% trans %}page.profile.guide.body{% endtrans %}
                                    </template>
                                </guide>
                            </div>
                        </div>
                    </div>
                    <div class="text-left">
                        <input
                            type="submit"
                            ref="submitBtn"
                            :disabled="disableSave"
                            class="btn btn-primary btn-enabled-focus-light"
                            value="{% trans %}page.profile.save{% endtrans %}"
                            tabindex="2"
                        >
                        <span
                            class="btn-cancel pl-3 c-pointer"
                            @click="showEditForm = false"
                            @keyup.enter="showEditForm = false"
                            tabindex="2"
                        >
                            <slot name="cancel">
                                {% trans %}page.profile.cancel{% endtrans %}
                            </slot>
                        </span>
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form, {render_rest: false}) }}
                </div>
            {% endif %}
            <input type="hidden" ref="editFormShowFirst" value="{{ editFormShowFirst }}"/>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    {{ encore_entry_script_tags('pages/profile') }}
{% endblock %}
