{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block pagestyles %}
    <link rel="stylesheet" href="{{ asset('build/profile-view.css') }}">
{% endblock %}

{% block bodyclass %}profile-view{% endblock %}

{% block content %}
    <div class="container" id="profile">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header" v-cloak>
                        <span>{[ lastName ]} {[ firstName ]} </span>
                        {%- if (canedit == true) -%}
                            <a @click="loadEditForm('{{ path('profile_edit') }}')">
                                <font-awesome-icon icon="edit" class="ml-2"></font-awesome-icon>
                            </a>
                        {%- endif -%}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-4"  v-cloak>
                                <div v-if="!showEditForm">
                                    <div class="text-right">
                                        {%- if (canedit == true) -%}
                                            <a @click="loadEditForm('{{ path('profile_edit') }}')">
                                                <font-awesome-icon icon="edit" class="ml-2"></font-awesome-icon>
                                            </a>
                                        {%- endif -%}
                                    </div>
                                    <div class="pb-1">
                                        City: {[ city ]} 
                                    </div>
                                    <div class="pb-1">
                                        Country: {[ country ]} 
                                    </div>
                                    <div class="pb-1">
                                        {TokenName} created on July 2018
                                    </div>
                                </div>
                                <child-form
                                    v-if="showEditForm"
                                    ref="formedit"
                                    @success-submit="handleFormEditSubmit"
                                    @error="handleFormEditError"
                                    @close="showEditForm = false">
                                </child-form>
                            </div>

                            <div class="col-12 col-md-8 pt-3 pt-md-0 description"  v-cloak>
                                <div v-if="!showDescriptionEditForm">
                                    <div class="text-right">
                                        {%- if (canedit == true) -%}
                                            <a @click="loadDescriptionEditForm('{{ path('profile_description_edit') }}')">
                                                <font-awesome-icon icon="edit" class="ml-2"></font-awesome-icon>
                                            </a> 
                                        {%- endif -%}
                                    </div>
                                    <div>{[ description ]}</div>
                                </div>
                                <child-form
                                    v-if="showDescriptionEditForm"
                                    ref="formdescriptionedit"
                                    @success-submit="handleFormDescriptionEditSubmit"
                                    @error="handleFormDescriptionEditError"
                                    @close="showDescriptionEditForm = false">
                                </child-form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <input type="hidden" id="initial-profile-data" value="{{ profile }}"/>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/profile.js') }}"></script>
{% endblock %}

