{% extends 'base.html.twig' %}

{% block title %}mintMe | Profile{% endblock %}

{% block bodyclass %}profile-view{% endblock %}

{% block content %}
    <div class="container" id="profile">
        <div class="row  pt-5 justify-content-center">
            <div class="col-12 col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span>{{ profile.firstName }} {{ profile.lastName }} </span>
                    </div>
                    <div class="card-body">
                        {%- if (canEdit == true) -%}
                            <a @click="showEditForm = true" class="float-right">
                                <font-awesome-icon icon="edit" class="c-pointer ml-2  icon-edit" v-if="!showEditForm"></font-awesome-icon>
                            </a>
                        {%- endif -%}
                        <div class="row" v-if="!showEditForm">
                            <div class="col-12">
                                <div class="pb-1">
                                    {% if profile.city is not empty %}
                                        City: {{ profile.city }}
                                    {% endif %}
                                </div>
                                <div class="pb-1">
                                     {% if profile.country is not empty %}
                                         Country: {{ profile.getCountryFullName() }}
                                     {% endif %}
                                </div>
                                {% if token is not empty %}
                                    <div class="pb-1">
                                        <a href="{{ path('token_show', {'name': token.getName()}) }}">{{ token.getName() }}</a>
                                        created on {{ token.getCreated().format('d M Y') }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-12 pt-3">
                                <div>{{ profile.description }}</div>
                            </div>
                        </div>

                        <div v-show="showEditForm" v-cloak>
                            {{ form_start(form) }}
                            <div class="row mb-3">
                                <div class="col-12">
                                    <div class="pb-1">
                                        {{ form_row(form.firstName, {'attr':
                                            {
                                                'v-model': '$v.firstName.$model',
                                                'class' : 'form-control',
                                                'ref' : 'firstName'
                                            }
                                        }) }}
                                    </div>
                                    <div v-cloak="$v.firstName" v-if="!$v.firstName.helpers" class="text-danger text-center">
                                        First name can contain only letters, ` and -
                                    </div>
                                    <div v-cloak="$v.firstName" v-if="!$v.firstName.minLength" class="text-danger text-center">
                                        First name can have at least 2 letters
                                    </div>
                                    <div class="pb-1">
                                        {{ form_row(form.lastName, {'attr':
                                            {
                                                'v-model': '$v.lastName.$model',
                                                'class' : 'form-control',
                                                'ref': 'lastName'
                                            }
                                        }) }}
                                    </div>
                                    <div v-cloak="$v.lastName" v-if="!$v.lastName.helpers" class="text-danger text-center">
                                        Last name can contain only letters, ` and -
                                    </div>
                                    <div v-cloak="$v.lastName" v-if="!$v.lastName.minLength" class="text-danger text-center">
                                        Last name can have at least 2 letters
                                    </div>
                                    <div class="pb-1">
                                        {{ form_row(form.city, {'attr':
                                            {
                                                'v-model': '$v.city.$model',
                                                'class' : 'form-control',
                                                'ref' : 'city'
                                            }
                                        }) }}
                                    </div>
                                    <div v-cloak="$v.city" v-if="!$v.city.helpers" class="text-danger text-center">
                                        City can contain alphabets and -
                                    </div>
                                    <div v-cloak="$v.city" v-if="!$v.city.minLength" class="text-danger text-center">
                                        City can have at least 2 letters
                                    </div>
                                    <div class="pb-1">
                                        {{ form_row(form.country) }}
                                    </div>
                                </div>
                                <div class="col-12 pt-3  ">
                                    <div>
                                        {{ form_row(form.description) }}
                                    </div>
                                </div>
                            </div>
                            <div class="text-left">
<<<<<<< HEAD
                                <input type="submit" class="btn btn-primary" value="Save">
                                <a href="#" @click="showEditForm = false" class="cancel pl-3" >Cancel</a>
=======
                                <input
                                    type="submit"
                                    :disabled="$v.$anyError || !(firstName && lastName && city)"
                                    class="btn btn-primary"
                                    value="Save">
                                <a href="#" @click="showEditForm = false" class="ml-3" >Cancel</a>
>>>>>>> b2e221b4a7b2f795790d0a0becfca493bed90e53
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <input type="hidden" ref="editFormShowFirst" value="{{ editFormShowFirst }}"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/profile.js') }}"></script>
{% endblock %}

