{% extends 'base.html.twig' %}

{% block title %}MINTME | Settings{% endblock %}

{% block bodyclass %}referral{% endblock %}

{% block content %}
    <div id="referral" class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-lg-10">
                <div class="card">
                    <div class="card-header">Referral Program</div>
                    <div class="card-body m-0">
                        <div class="text-justify">
                            <p>
                                When you refer someone, YOU WILL GET {{ referral_percentage }}% of his trading fees! <br/>
                                How to get started? it's very easy! <br/>
                                Below is unique link to registration. if a user registers via the link, you will get {{ referral_percentage }}% of his trading fees! 
                            </p>
                            <p>This {{ referral_percentage }}% goes from our pocket, so neither you nor the referred person lose anything!</p>
                        </div>
                        <div class="mt-3">
                            <div class="row justify-content-center">
                                <div class="col-12 text-center text-grey font-bold">
                                    <p>Share this registration link to your friends:</p>
                                </div>
                                <div class="col-12 mb-1 text-center" id="referral-link-text">
                                    <code class="p-2">
                                        <span id="code-referral"> {{ absolute_url(path('register_referral', { referralCode: referralCode })) }} </span>
                                        <copy-link class="code-copy" id="code-copy-btn" data-clipboard-action="copy" data-clipboard-target="#code-referral">
                                           <font-awesome-icon :icon="['far', 'copy']"></font-awesome-icon>
                                        </copy-link>
                                    </code>
                                    <div class="clearfix"></div>
                                </div>

                                <code class="p-2 mt-2 bg-grey font-bold">
                                    <span class="stats-mini-block">Total earned:
                                        <span>
                                            0.00000000 <small>XMR</small>
                                        </span>
                                    </span>
                                </code>
                                <code class="p-2 mx-2 mt-2 bg-grey font-bold">
                                    <span class="stats-mini-block">Free trading to:
                                        <span>
                                            {{ referral_free_trading_date|date_modify("+" ~ referralsTotal ~ " day")|date("d.m.Y") }}
                                        </span>
                                    </span>
                                </code>
                                <code class="p-2 mt-2 bg-grey font-bold">
                                    <span class="stats-mini-block">Referrals
                                        <span>
                                            {{ referralsTotal }}
                                        </span>
                                    </span>
                                </code>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/referral.js') }}"></script>
{% endblock %}