{% extends 'base.html.twig' %}

{% block tittle %}Referral Program{% endblock %}

{% set referralUrl = absolute_url(path('register-referral', { 'code': hash })) %}

{% block content %}
    <div id="referral-program" class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Referral Code
                    </div>
                    <div class="card-body">
                        <p>When you refer someone, YOU WILL GET {{ referralPercentage }}% of his trading fees!</p>
                        <p>How to get started? It's very easy!</p>
                        <p>Below is unique link to registration. If a user registers via the link, you will get {{ referralPercentage }}% of his trading fees!</p>
                        <p class="my-2">
                            This {{ referralPercentage }}% goes from our pocket, so neither you nor the referred person lose anything!
                        </p>
                        <p class="mb-1 text-center">Share this registration link to your friends:</p>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <code>
                                        <span>{{ referralUrl }}</span>
                                        <copy-link content-to-copy="{{ referralUrl }}">
                                            <font-awesome-icon :icon="['far', 'copy']">
                                            </font-awesome-icon>
                                        </copy-link>
                                    </code>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <span>
                                        Free trading to: {{ prelaunchDate }}
                                    </span>
                                    <span>
                                        Referrals: {{ referralsCount }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/referral.js') }}"></script>
{% endblock %}