{% extends 'base.html.twig' %}

{% block title %}{% trans %}page.settings.title{% endtrans%} | mintMe{% endblock %}

{% block content %}
    <div id="settings" class="container">
        <div class="row pt-4 justify-content-center">
            <div class="card-two-divs-fixed-large pl-xl-0 col-md-6">
                <div class="card">
                    <div class="card-header">{% trans %}page.settings.account.header{% endtrans %}</div>
                    <div class="card-body m-0">
                        <div id="settings" class="account-settings">
                        {% if twoFactorAuth %}
                            {{ form_start(passwordForm, {'attr': {'v-on:submit.prevent': 'submit2FA'}} ) }}
                            <two-factor-modal
                                :visible=twoFaVisible
                                :twofa=true
                                @close="twoFaVisible = false"
                                @verify="doChangePassword"
                            >
                            </two-factor-modal>
                        {% else %}
                            {{ form_start(passwordForm) }}
                        {% endif %}
                            <label for="app_user_change_password_current_password" class="d-block label-featured">
                                {% trans %}form.change_password.current_password{% endtrans %}
                            </label>
                            <template v-if="showErrorMessage">
                                <div class="p-2 mb-2 bg-danger text-center text-white">The entered password is invalid.</div>
                            </template>
                            {{ form_row(passwordForm.current_password, {'attr': {'autocomplete': 'off', 'v-model': 'currentPassword'}}) }}
                            <passwordmeter :password="password" @toggle-error="toggleError">
                                <span @click="togglePassword()" class="show-password">
                                    <i class="far fa-eye"></i>
                                </span>
                                {{ form_row(passwordForm.plainPassword, {'attr': {'v-model': 'password'}}) }}
                                <div class="pwdmeter" v-if="false"><meter max="5" value="0"></meter></div>
                            </passwordmeter>
                            <button type="submit" :disabled="disabled" class="btn btn-primary">{% trans %}page.settings.account.submit{% endtrans %}</button>
                            {{ form_end(passwordForm) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-two-divs-fixed-large pr-xl-0 pr-lg-3 col-md-6 pt-2 pt-md-0">
                <div class="card card-featured">
                    <div class="card-header">{% trans %}page.settings.2fa.header{% endtrans %}</div>
                    <div class="card-body m-0">
                        <div class="text-center">
                            <p>{% trans %}page.settings.2fa.body{% endtrans %}</p>
                        </div>
                        {% if twoFactorAuth %}
                            <a href="{{ path('two_factor_auth') }}" class="btn btn-primary btn-block" role="button">
                                {% trans %}page.settings.2fa.manage{% endtrans %}
                            </a>
                        {% else %}
                            <a href="{{ path('two_factor_auth') }}" class="btn btn-primary btn-block" role="button">
                                {% trans %}page.settings.2fa.enable{% endtrans %}
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="card card-featured mt-3">
                    <div class="card-header">{% trans %}userNotification.config.title{% endtrans %}</div>
                    <div class="card-body m-0">
                        <notifications-management-modal
                            :notification-config-modal-visible="notificationConfigModalVisible"
                            :no-close="true"
                            @close="notificationConfigModalVisible = false"
                        >
                        </notifications-management-modal>
                        <button @click="notificationConfigModalToggle()" class="btn btn-primary btn-block">
                            {% trans %}userNotification.config.manage{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card-fixed-large m-3 pl-0">
                <div class="card">
                    <div class="card-header text-uppercase">{% trans %}page.settings.api.header{% endtrans %}</div>
                    <div class="card-body m-0 pt-4">
                        <div class="text-center">
                            <div v-cloak>
                                {{ include("loader.html.twig", {vCloak: 'v-cloak--block'}) }}
                                <api-keys class="mb-2" :api-keys="{{ keys | json_encode }}" v-cloak></api-keys>
                            </div>
                            <p>
                                {% trans %}page.settings.api.body_1{% endtrans %} <a href="{{ path('nelmio_api_doc.swagger_ui') }}">{% trans %}page.settings.api.body_2{% endtrans %}</a> {% trans %}page.settings.api.body_3{% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-fixed-large ml-3 mr-3 pl-0">
                <div class="card">
                    <div class="card-header">{% trans %}page.settings.oauth.header{% endtrans %}</div>
                    <div class="card-body m-0 pt-4">
                        <div class="text-center">
                            <div v-cloak>
                                {{ include("loader.html.twig", {vCloak: 'v-cloak--block'}) }}
                                <api-clients class="mb-2" :api-clients="{{ clients | json_encode }}" v-cloak></api-clients>
                            </div>
                            <p>
                                {% trans %}page.settings.oauth.body_1{% endtrans %} <a href="{{ path('nelmio_api_doc.swagger_ui') }}">{% trans %}page.settings.oauth.body_2{% endtrans %}</a> {% trans %}page.settings.oauth.body_3{% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block pagescripts %}
    {{ encore_entry_script_tags('settings') }}
{% endblock %}
