{% extends 'base.html.twig' %}

{% block title %}MINTME | Settings{% endblock %}

{% block bodyclass %}profile{% endblock %}

{% block content %}
    <div id="profile" class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-lg-10 col-xl-6">
                <div class="card">
                    <div class="card-header">Account settings</div>
                    <div class="card-body m-0">
                        <div>
                            {{ form_start(emailForm) }}
                            {{ form_rest(emailForm) }}
                            <button type="submit" class="btn btn-primary float-right px-5">Save</button>
                            {{ form_end(emailForm) }}
                        </div>
                        <div class="clearfix"></div>
                        <div class="mt-3">
                            {{ form_start(passwordForm) }}
                            {{ form_rest(passwordForm) }}
                            <button type="submit" class="btn btn-primary float-right px-5">Save</button>
                            {{ form_end(passwordForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/profile.js') }}"></script>
{% endblock %}
