{% extends 'base.html.twig' %}

{% set loggedIn = app.user ? 'true' : 'false' %}
{% set viewOnly = viewOnly ? 'true' : 'false' %}

{% block content %}
    <div id="show_post" class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card h-100 single-post-page">
                            <div class="card-body posts">
                                <post
                                    :post="post || (post = {{ post | json_encode }})"
                                    @update-post="post = $event"
                                    @delete-post="$emit('delete-post', $event)"
                                    :show-edit="{{ showEdit }}"
                                    @go-to-trade="$emit('go-to-trade', $event)"
                                    :logged-in="{{ loggedIn }}"
                                    :view-only="{{ viewOnly }}"
                                    single-page
                                ></post>
                                <comments
                                    :comments="comments || (comments = {{ comments | json_encode }})"
                                    @update-comment="updateComment($event)"
                                    :post-id="{{ post.id }}"
                                    token-name="{{ post.token.name }}"
                                    :comment-min-amount="{{ commentMinAmount }}"
                                    :logged-in="{{ loggedIn }}"
                                    @delete-comment="deleteComment"
                                    @new-comment="newComment"
                                ></comments>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    {{ encore_entry_script_tags('pages/show_post') }}
{% endblock %}
