{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pages/user_home') }}
{% endblock %}

{% block title %}{% trans %}navbar.feed{% endtrans %} | mintMe{% endblock %}

{% block content %}
    {% set loggedIn = app.user ? 'true' : 'false' %}
    {% set hash = app.user ? app.user.getHash() : '' %}

    <div id="user-home">
        <balance-init
            :is-token="false"
            :is-owner="true"
            :logged-in="{{ loggedIn }}"
            :view-only="{{ viewOnly ? 'true' : 'false' }}"
            websocket-url="{{ global_websocket_url }}"
            hash="{{ hash }}"
            :precision="{{ precision }}"
            :market-prop="{{ market | json_encode }}"
        ></balance-init>
        <posts-init
            :comment-tip-cost="{{ commentTipCost }}"
            :comment-tip-min-amount="{{ commentTipMinAmount }}"
            :comment-tip-max-amount="{{ commentTipMaxAmount }}"
        ></posts-init>
        <div class="row justify-content-center px-4">
            <div class="col-12 col-md-3 xl-feed-column">
                <div class="row mt-3 justify-content-center mr-0 mt-2">
                    <div class="card h-100 posts-container col-12">
                        <div class="card-header d-flex justify-content-between text-white mt-3 px-0">
                            <h2 class="header-highlighting">
                                {% trans %} user_feed.latest_activity {% endtrans %}
                            </h2>
                        </div>
                        <div class="card-body p-0 trending-tags pb-4">
                            <feed
                                v-if="isXLScreen"
                                class="px-3"
                                :items-prop="{{ activities | json_encode }}"
                                mercure-hub-url="{{ mercure_hub_url }}"
                                :min="30"
                                :max="30"
                            ></feed>
                            <div v-if="false" class="d-flex p-3 align-items-center justify-content-center">
                                <span class="spinner-border spinner-border-md">
                                    <span class="sr-only"> {% trans %} loading {% endtrans %} </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-xl-6 mr-0 px-0">
                <div class="mt-3 justify-content-center">
                    <div v-cloak v-if="!hashtag" class="user-feed-tabs">
                        <div
                            class="tab"
                            :class="{'active': 'all' === activeTab}"
                            @click="changeTab('all')"
                        >
                            {% trans %} user_feed.tabs.all {% endtrans %}
                        </div>
                        <div
                            class="tab"
                            :class="{'active': 'feed' === activeTab}"
                            @click="changeTab('feed')"
                        >
                            {% trans %} user_feed.tabs.my_feed {% endtrans %}
                        </div>
                        <div
                            v-if="isSmallScreen"
                            class="tab"
                            :class="{'active': 'tags' === activeTab}"
                            @click="changeTab('tags')"
                        >
                            {% trans %} popular_tags.title {% endtrans %}
                        </div>
                        <div
                            v-if="isSmallScreen"
                            class="tab"
                            :class="{'active': 'activity' === activeTab}"
                            @click="changeTab('activity')"
                        >
                            {% trans %} user_feed.latest_activity {% endtrans %}
                        </div>
                        <div
                            v-if="isSmallScreen"
                            class="tab"
                            :class="{'active': 'top-tokens' === activeTab}"
                            @click="changeTab('top-tokens')"
                        >
                            {% trans %} user_feed.top_tokens.title {% endtrans %}
                        </div>
                    </div>
                    <div class="card posts-container pt-3 p-sm-3 pl-2">
                        <div v-cloak v-if="hashtag" class="card-header d-flex justify-content-between text-white px-0">
                            <h2 class="header-highlighting text-truncate">
                                <font-awesome-icon
                                    icon="long-arrow-alt-left"
                                    class="c-pointer"
                                    @click="clearHashtag"
                                ></font-awesome-icon>
                                {% trans %} navbar.feed {% endtrans %} <span v-text="'#' + hashtag"></span>
                            </h2>
                        </div>
                        <div v-if="false" class="d-flex justify-content-center">
                            <span class="spinner-border spinner-border-md">
                                <span class="sr-only"> {% trans %} loading {% endtrans %} </span>
                            </span>
                        </div>
                        <div class="card-body posts position-relative p-0">
                            <create-post-modal
                                v-show="showPostForm"
                                is-post-form
                                :visible="false"
                                :tokens="{{ tokens|json_encode }}"
                                @save-success="onPostSaveSuccess"
                                @token-change="onTokenChange"
                            ></create-post-modal>
                            <user-feed
                                v-if="'all' === activeTab || 'feed' === activeTab"
                                :logged-in="{{ loggedIn }}"
                                :post-rewards-collectable-days="{{ postRewardsCollectableDays }}"
                                :is-authorized-for-reward="{{ isAuthorizedForReward ? 'true' : 'false' }}"
                                :view-only="{{ viewOnly ? 'true' : 'false' }}"
                                :own-deployed-tokens="{{ ownDeployedTokens|json_encode }}"
                                :comment-tip-cost="{{ commentTipCost }}"
                                :comment-tip-min-amount="{{ commentTipMinAmount }}"
                                :comment-tip-max-amount="{{ commentTipMaxAmount }}"
                                :hashtag="hashtag"
                                :is-all-tab="isAllTab"
                                @update-post="updatePost($event)"
                            ></user-feed>

                            <feed-trending-tags
                                v-if="'tags' === activeTab"
                                :active-tag="hashtag"
                                @hashtag-change="onHashtagChange"
                                @hashtags-loaded="onHashtagsLoaded"
                            ></feed-trending-tags>

                            <top-tokens-list
                                v-if="'top-tokens' === activeTab"
                                websocket-url="{{ global_websocket_url }}"
                            ></top-tokens-list>

                            <feed
                                v-if="'activity' === activeTab"
                                class="px-3"
                                :items-prop="{{ activities | json_encode }}"
                                mercure-hub-url="{{ mercure_hub_url }}"
                                :min="6"
                                :max="30"
                                is-feed-page
                            ></feed>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="!isSmallScreen" class="col-12 col-md-4 col-xl-3 pl-1 d-none d-md-block">
                <div v-if="showCreateToken" v-cloak class="row mt-3 justify-content-center ml-0 ml-md-2">
                    <div class="card h-100 posts-container col-12 overflow-hidden">
                        <div class="card-header d-flex justify-content-between text-white mt-3 px-0">
                            <h2 class="header-highlighting">
                                {% trans %} user_feed.create_token.title {% endtrans %}
                            </h2>
                        </div>
                        <div class="card-body p-0 trending-tags pb-4 px-3">
                            <div class="text-primary-darker">
                                {% trans %} user_feed.create_token.description {% endtrans %}
                            </div>
                            <m-button type="primary-rounded" class="w-100 mt-2" @click="createToken">
                                {% trans %} user_feed.create_token.button {% endtrans %}
                            </m-button>
                        </div>
                    </div>
                </div>
                <div v-if="showDeployToken" v-cloak class="row mt-3 justify-content-center ml-0 ml-md-2">
                    <div class="card h-100 posts-container col-12 overflow-hidden">
                        <div class="card-header d-flex justify-content-between text-white mt-3 px-0">
                            <h2 class="header-highlighting">
                                {% trans %} user_feed.deploy_token.title {% endtrans %}
                            </h2>
                        </div>
                        <div class="card-body p-0 trending-tags pb-4 px-3">
                            <div class="text-primary-darker">
                                {% trans %} user_feed.deploy_token.description {% endtrans %}
                            </div>
                            <m-button type="primary-rounded" class="w-100 mt-2" @click="deployToken">
                                {% trans %} user_feed.deploy_token.button {% endtrans %}
                            </m-button>
                        </div>
                    </div>
                </div>
                <div v-if="showPopularHashtags" class="row mt-3 mb-3 justify-content-center ml-0 ml-md-2">
                    <div class="card h-100 posts-container col-12 overflow-hidden">
                        <div class="card-header d-flex justify-content-between text-white mt-3 px-0">
                            <h2 class="header-highlighting">
                                {% trans %} popular_tags.title {% endtrans %}
                            </h2>
                        </div>
                        <div class="card-body p-0 trending-tags pb-4">
                            <feed-trending-tags
                                :active-tag="hashtag"
                                @hashtag-change="onHashtagChange"
                                @hashtags-loaded="onHashtagsLoaded"
                            ></feed-trending-tags>
                            <div v-if="false" class="d-flex p-3 align-items-center justify-content-center">
                                <span class="spinner-border spinner-border-md">
                                    <span class="sr-only"> {% trans %} loading {% endtrans %} </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center ml-0 ml-md-2 mb-3">
                    <div class="card h-100 posts-container col-12 overflow-hidden mt-3">
                        <div class="card-header d-flex justify-content-between text-white mt-3 px-0">
                            <h2 class="header-highlighting">
                                {% trans %} user_feed.top_tokens.title {% endtrans %}
                            </h2>
                        </div>
                        <div class="card-body p-0 trending-tags pb-4">
                            <top-tokens-list
                                websocket-url="{{ global_websocket_url }}"
                            ></top-tokens-list>
                            <div v-if="false" class="d-flex p-3 align-items-center justify-content-center">
                                <span class="spinner-border spinner-border-md">
                                    <span class="sr-only"> {% trans %} loading {% endtrans %} </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center ml-0 ml-md-2 lg-feed-column">
                    <div class="card h-100 posts-container col-12 overflow-hidden">
                        <div class="card-header d-flex justify-content-between text-white mt-3 px-0">
                            <h2 class="header-highlighting">
                                {% trans %} user_feed.latest_activity {% endtrans %}
                            </h2>
                        </div>
                        <div class="card-body p-0 trending-tags pb-4">
                            <feed
                                v-if="!isXLScreen"
                                class="px-3"
                                :items-prop="{{ activities | json_encode }}"
                                mercure-hub-url="{{ mercure_hub_url }}"
                                :min="6"
                                :max="30"
                                is-feed-page
                            ></feed>
                            <div v-if="false" class="d-flex p-3 align-items-center justify-content-center">
                                <span class="spinner-border spinner-border-md">
                                    <span class="sr-only"> {% trans %} loading {% endtrans %} </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input id="hashtag_param" type="hidden" value="{{ hashtag }}" />
        <input id="active_tab" type="hidden" value="{{ activeTab }}" />
    </div>
{% endblock %}

{% block pagescripts %}
    {{ encore_entry_script_tags('pages/user_home') }}
{% endblock %}
