{% extends 'base.html.twig' %}

{%  set loggedIn = app.user ? 'true' : 'false' %}

{% block content %}
    <div id="show_post" class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <div class="card h-100">
                            <div class="card-header">&nbsp;</div>
                            <div class="card-body posts">
                                <post
                                    :post="{{ post | json_encode }}"
                                    @delete-post="$emit('delete-post', $event)"
                                    :show-edit="{{ showEdit }}"
                                    @go-to-trade="$emit('go-to-trade', $event)"
                                    :logged-in="{{ loggedIn }}"
                                ></post>
                                <comments
                                    :comments="{{ comments | json_encode }}"
                                    :post-id="{{ post.id }}"
                                    :logged-in="{{ loggedIn }}"
                                ></comments>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/show_post.js') }}"></script>
{% endblock %}