{% extends 'base.html.twig' %}

{% block title %}Sign Up Landing | mintMe{% endblock %}

{% set formHeader = "Sign Up" %}

{% block content %}
    <div class="container" id="sign-up-langing">
        <div class="row pt-5 pl-5">
            <div class="col-4 pr-0">
                <div class="card">
                    <div class="card-header">
                        {{ formHeader }}
                    </div>
                    <div class="card-body py-2">
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'id': 'register'}}) }}
                        {{ form_row(form.email, { 'inline': false, 'attr': {'pattern': '[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$', 'required': 'required'} }) }}
                        <div>
                            <passwordmeter :password="password" @toggle-error="toggleError">
                                {{ form_row(form.plainPassword.first, { 'inline': false, 'attr': {'v-model': 'password'} }) }}
                            </passwordmeter>
                        </div>
                        {{ form_row(form.plainPassword.second, { 'inline': false }) }}
                        <div class="py-2">
                            {{ form_row(form.recaptcha, { 'inline': false }) }}
                        </div>
                        <div class="text-left">
                            <input type="submit" :disabled="disabled" class="btn btn-primary" value="Sign Up">
                            <span class="px-3">or</span>
                            <a class="btn-cancel" href="{{ path('fos_user_security_login') }}">Log In</a>
                        </div>
                        <p class="text-left pt-3">
                            By clicking Sign Up, you accept <br>
                            <a target="_blank" href="{{ path('terms_of_service') }}">Terms of Service</a> and
                            <a target="_blank" href="{{ path('privacy_policy') }}">Privacy policy</a>
                        </p>
                        {{ form_end(form) }}
                        {% include 'recaptcha_script.html.twig' with { recaptcha: form.recaptcha } %}
                    </div>
                </div>
            </div>
            <div class="col-3 pl-0">
                <div class="landing-logo">
                    <img id="web" src="{{ asset('build/images/landing-web.png') }}">
                    <img id="logo" src="{{ asset('build/images/favicon.e6effb97.png') }}">
                </div>
            </div>
            <div class="col-5">
                We will PAY YOU
                if you register NOW!
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
{% endblock %}
