{% extends 'base.html.twig' %}

{% block title %}Sign Up Landing | mintMe{% endblock %}

{% set formHeader = "Sign Up" %}

{% block content %}
    <div class="container px-5" id="sign-up-langing">
        <div class="row py-5 pl-5">
            <div class="col-4 pr-0">
                <div class="card">
                    <div class="card-header">
                        {{ formHeader }}
                    </div>
                    <div class="card-body py-2">
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'id': 'register'}}) }}
                        {{ form_row(form.email, { 'inline': false, 'attr': {'pattern': '[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$', 'required': 'required'} }) }}
                        <div>
                            <passwordmeter :password="password" @toggle-error="toggleError">
                                {{ form_row(form.plainPassword.first, { 'inline': false, 'attr': {'v-model': 'password'} }) }}
                            </passwordmeter>
                        </div>
                        {{ form_row(form.plainPassword.second, { 'inline': false }) }}
                        <div class="py-2">
                            {{ form_row(form.recaptcha, { 'inline': false }) }}
                        </div>
                        <div class="text-left">
                            <input type="submit" :disabled="disabled" class="btn btn-primary" value="Sign Up">
                            <span class="px-3">or</span>
                            <a class="btn-cancel" href="{{ path('fos_user_security_login') }}">Log In</a>
                        </div>
                        <p class="text-left pt-3">
                            By clicking Sign Up, you accept <br>
                            <a target="_blank" href="{{ path('terms_of_service') }}">Terms of Service</a> and
                            <a target="_blank" href="{{ path('privacy_policy') }}">Privacy policy</a>
                        </p>
                        {{ form_end(form) }}
                        {% include 'recaptcha_script.html.twig' with { recaptcha: form.recaptcha } %}
                    </div>
                </div>
            </div>
            <div class="col-5 pl-0">
                <div class="landing-logo">
                    <img id="web" src="{{ asset('build/images/landing-web.png') }}">
                    <img id="logo" src="{{ asset('build/images/favicon.e6effb97.png') }}">
                </div>
            </div>
            <div class="col-3">
                <span id="intro-text">
                    <span class="title text-white h2">We will PAY YOU</span><br>
                    <span class="float-right">if you register NOW!</span>
                </span>
            </div>
        </div>
        <div class="row py-5 justify-content-center">
            <div class="col-5 what-is text-center">
                <span>What is <i>mintMe?</i></span> <br>
                <span class="">It's new innovative crowdfunding platform where both sides can earn!</span>
            </div>
        </div>
        <div class="steps py-5 mx-5">
            <div class="row">
                <div class="col-4">
                    <img src="{{ asset('build/images/number-one.png'    ) }}">
                    Content creator issues his own tokens
                </div>
                <div class="col-4">
                    <img src="{{ asset('build/images/number-two.png') }}">
                    Person supporting buys such tokens and if project suceeds
                </div>
                <div class="col-4">
                    <img src="{{ asset('build/images/number-three.png') }}">
                    Such tokens gain in value and can be sold for more money!
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
{% endblock %}
