{% extends 'base.html.twig' %}

{% block title %}mintMe | Token Creation{% endblock %}

{% block content %}
    <div class="container" id="token">
        <div class="row pt-5 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        {{ formHeader }}
                    </div>
                    <div class="card-body py-2">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_row(form.name, {'attr': {
                            'v-model': '$v.tokenName.$model',
                            'class' : 'form-control',
                            'oninvalid': 'setCustomValidity("Invalid token name.")',
                            'onchange': 'setCustomValidity("")',
                            'oninput': 'setCustomValidity("")',
                        }}) }}
                        <div v-cloak="$v.tokenName" v-if="!$v.tokenName.tokenContain" class="text-danger text-center">
                            Token name can contain alphabets, numbers, spaces and dashes
                        </div>
                        <div v-cloak="$v.tokenName" v-if="!$v.tokenName.minLength" class="text-danger text-center">
                            Token name should have at least 4 symbols
                        </div>
                        <div v-cloak="$v.tokenName" v-if="!$v.tokenName.maxLength" class="text-danger text-center">
                            Token name can't be longer than 255 characters
                        </div>
                        <div v-cloak="$v.tokenName" v-if="!$v.tokenName.isDashes" class="text-danger text-center">
                            Token name cannot contain only dashes
                        </div>
                        <div v-cloak="$v.tokenName" v-if="!$v.tokenName.isSpaces" class="text-danger text-center">
                            Token name cannot contain only spaces
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 text-left">
                                <input type="submit"
                                       :disabled="$v.$error || !tokenName"
                                       class="btn btn-primary" value="Create token"
                                />
                                <a class="btn-cancel pl-3" href="javascript:history.back()">Cancel</a>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <modal
            no-close-on-backdrop
            :visible="domLoaded && {{ profileCreated ? 'false' : 'true' }}">
            <template slot="close"> &nbsp; </template>
            <template slot="body">
                <div class="text-center">
                    <p class="text-white">You need to create profile, only then you will be able to create token</p>
                    <a href="{{ path('profile') }}" class="btn btn-primary">OK</a>
                </div>
            </template>
        </modal>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/token_creation.js') }}"></script>
{% endblock %}
