{% extends 'base.html.twig' %}

{% block title %}mintMe | Token{% endblock %}

{% block pagestyles %}
    <link rel="stylesheet" href="{{ asset('build/token.css') }}">
{% endblock %}

{% block content %}
    <div id="token" class="container">
        <div class="row pt-5 justify-content-center">
            <div class="col-md-10" v-cloak>
                {{ include("loader.html.twig", {vCloak: 'v-cloak--block'}) }}
                <b-tabs :lazy="true" @input="onTabUpdated" class="tabs-theme transparent" v-model="tabIndex">
                    <b-tab title="Trade" {% if tab == 'trade' %} {{ 'active' }} {% endif %}>
                        <token-trade
                            websocket-url="{{ global_websocket_url }}"
                            hash="{{ hash }}"
                            currency="{{ currency }}"
                            login-url="{{ path('fos_user_security_login') }}"
                            signup-url="{{ path('fos_user_registration_register') }}"
                            :market-name="{{ marketName | json_encode }}"
                            :logged-in="{{ app.user ? 'true' : 'false' }}"
                            token-name="{{ token.name }}"
                            place-order-url="{{ path('token_place_order', {'tokenName' : token.name}) }}"
                            token-hidden-name="{{ tokenHiddenName }}">
                        </token-trade>
                    </b-tab>
                    <b-tab title="Introduction" {% if tab == 'intro' %} {{ 'active' }} {% endif %}>
                        <div class="row">
                            <token-introduction-profile
                                class="col-12 col-lg-4 pr-lg-2"
                                youtube-client-id="{{ global_youtube_client_id }}"
                                facebook-app-id="{{ global_facebook_app_id }}"
                                confirm-website-file-url="{{ path('token_website_confirmation', {'name': token.name}) }}"
                                confirm-website-url="{{ path('token_website_confirm', {'name': token.name}) }}"
                                profile-name="{{ profile.firstName }} {{ profile.lastName }}"
                                website-url="{{ token.websiteUrl }}"
                                facebook-url="{{ token.facebookUrl }}"
                                youtube-channel-id="{{ token.youtubeChannelId }}"
                                update-url="{{ path('token_update', {'name': token.name}) }}"
                                :editable="{{ isOwner ? 'true' : 'false' }}"
                                profile-url="{{ absolute_url(path('profile-view', { 'pageUrl': token.getProfile().getPageUrl() })) }}"
                            >
                            </token-introduction-profile>

                            <token-introduction-statistics
                                class="col-12 col-lg-4 mt-3 mt-md-0 px-lg-2"
                                name="{{ token.name }}"
                                :editable="{{ isOwner ? 'true' : 'false' }}"
                                {% if stats is not null %}
                                    :stats="{{ stats | json_encode }}"
                                {% endif %}
                                release-period-route="{{ path('lock_in', {'name': token.name}) }}">
                            </token-introduction-statistics>
                            <token-introduction-description
                                class="col-12 col-lg-4 mt-3 mt-md-0 pl-lg-2"
                                name="{{ token.name }}"
                                description="{{ token.description }}"
                                update-url="{{ path('token_update', {'name': token.name}) }}"
                                :editable="{{ isOwner ? 'true' : 'false' }}">
                            </token-introduction-description>
                        </div>
                    </b-tab>
                    <template slot="tabs">
                        <b-nav-item class="float-right" @click="()=>{}">
                            <token-name
                                name="{{ token.name }}"
                                csrf-token="{{ csrf_token('update-token') }}"
                                update-url="{{ path('token_update', {'name': token.name}) }}"
                                :editable="{{ isOwner ? 'true' : 'false' }}">
                            </token-name>
                        </b-nav-item>
                    </template>
                </b-tabs>
            </div>
        </div>
    </div>

    <input type="hidden" id="confirm-website-url" value="{{ path('token_website_confirm', {'name': token.name}) }}">
{% endblock %}

{% block pagescripts %}
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="{{ asset('build/token.js') }}"></script>
{% endblock %}
