{% extends 'base.html.twig' %}

{% block title %}Token Creation | mintMe{% endblock %}

{% block content %}
    <div class="container" id="token">
        <div class="row pt-4 justify-content-center">
            <div class="col-12">
                <div class="card card-fixed-small mx-auto">
                    <div class="card-header">
                        {{ formHeader }}
                    </div>
                    <div class="card-body py-2">
                        {{ form_start(form) }}
                        {% if not form.vars.valid %}
                            {% for error in form.vars.errors %}
                                {% if not (error.cause.id is defined and 'token_create' is same as(error.cause.id)) %}
                                    <div class="py-2 mb-2 bg-danger text-white text-center">{{ error.message }}</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    {{ form_errors(form) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-left">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            {{ form_label(form.name, null, {'label_attr': {'class': 'mb-1'}}) }}
                                        </div>
                                        <div class="float-right">
                                            <div
                                                v-cloak="$v.tokenName"
                                                v-if="tokenNameExists"
                                                class="alert alert-danger alert-token-name-exists"
                                            >
                                                <font-awesome-icon icon="exclamation-circle"></font-awesome-icon>
                                                Token name is already taken
                                            </div>
                                        </div>
                                        <div class="float-right">
                                            <div
                                                v-cloak="$v.tokenName"
                                                v-if="tokenNameInBlacklist"
                                                class="alert alert-danger alert-token-name-exists"
                                            >
                                                <font-awesome-icon icon="exclamation-circle"></font-awesome-icon>
                                                Forbidden token name.
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col">
                                    {{ form_widget(form.name, {'attr': {
                                        'v-model': '$v.tokenName.$model',
                                        'class' : 'form-control',
                                    }}) }}
                                </div>
                            </div>
                        </div>
                        <div v-cloak="$v.tokenName" v-if="!$v.tokenName.validChars" class="text-danger text-center">
                            Token name can contain only alphabets, numbers, spaces and dashes
                        </div>
                        <div v-cloak="$v.tokenName" v-if="tokenName.length > 0 && (!$v.tokenName.validFirstChars || !$v.tokenName.validLastChars || !$v.tokenName.noSpaceBetweenDashes)" class="text-danger text-center">
                            Token name can't start or end with a dash or space, or have spaces between dashes
                        </div>
                        <div v-cloak="$v.tokenName" v-if="!$v.tokenName.minLength" class="text-danger text-center">
                            Token name should have at least 4 symbols
                        </div>
                        <div v-cloak="$v.tokenName" v-if="!$v.tokenName.maxLength" class="text-danger text-center">
                            Token name can't be longer than 255 characters
                        </div>
                        <div v-cloak="$v.tokenName" v-if="!$v.tokenName.hasNotBlockedWords" class="text-danger text-center">
                            Token name can't contain "token" or "coin" words
                        </div>
                        <div class="form-group row mt-3">
                            <div class="col-md-12 text-left">
                                <input type="submit" :disabled="saveBtnDisabled" @click="createToken" class="btn btn-primary" value="Create token" />
                                <a class="btn-cancel pl-3" href="javascript:history.back()">Cancel</a>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/token_creation.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let tokenCreateName = document.getElementById('token_create_name');
            tokenCreateName.addEventListener('invalid', tokenCreateName.setCustomValidity("Invalid token name."));
            tokenCreateName.addEventListener('change', tokenCreateName.setCustomValidity(""));
            tokenCreateName.addEventListener('input', tokenCreateName.setCustomValidity(""));
        });
    </script>
{% endblock %}
