{% extends 'base.html.twig' %}

{% block title %}Token{% endblock %}

{% block pagestyles %}
    <link rel="stylesheet" href="{{ asset('build/token.css') }}">
{% endblock %}

{% block content %}
    <div id="token" class="container">
        <div class="row">
            <div class="col">
                <token-name
                    name="{{ token.name }}"
                    csrf-token="{{ csrf_token('update-token') }}"
                    update-url="{{ path('token_update', {'name': token.name}) }}"
                    :editable="{{ isOwner ? 'true' : 'false' }}">
                </token-name>
                <b-tabs class="tabs-theme transparent" v-model="tabIndex">
                    <b-tab title="Trade" {% if tab == 'trade' %} {{ 'active' }} {% endif %}>
                        <token-trade websocket-url="{{ global_websocket_url }}"
                                     login-url="{{ path('fos_user_security_login') }}"
                                     signup-url="{{ path('fos_user_registration_register') }}"
                                     market-name="{{ marketName | json_encode }}"
                                     :logged-in="{{ app.user ? 'true' : 'false' }}"
                                     token-name= "{{ token.name }}"
                                     place-order-url= "{{ path('place_order', {'tokenName' : token.name}) }}"
                                     fetch-balance-web-url= "{{ path('fetch_balance_web') }}"
                                     fetch-balance-token-url= "{{ path('fetch_balance_token', {'tokenName' : token.name}) }}"
                        />
                    <b-tab title="Invest">

                    </b-tab>
                    <b-tab title="Introduction" {% if tab == 'intro' %} {{ 'active' }} {% endif %}>
                        <div class="row">
                            <token-introduction-profile
                                class="col-12 col-md-6"
                                youtube-client-id="{{ global_youtube_client_id }}"
                                facebook-app-id="{{ global_facebook_app_id }}"
                                confirm-website-file-url="{{ path('token_website_confirmation', {'name': token.name}) }}"
                                confirm-website-url="{{ path('token_website_confirm', {'name': token.name}) }}"
                                profile-name="{{ profile.firstName }} {{ profile.lastName }}"
                                website-url="{{ token.websiteUrl }}"
                                facebook-url="{{ token.facebookUrl }}"
                                youtube-channel-id="{{ token.youtubeChannelId }}"
                                update-url="{{ path('token_update', {'name': token.name}) }}"
                                csrf-token="{{ csrf_token('update-token') }}"
                                :editable="{{ isOwner ? 'true' : 'false' }}">
                            </token-introduction-profile>

                            <token-introduction-statistics
                                container-class="col-12 col-md-6 mt-3 mt-md-0"
                                :editable="{{ isOwner ? 'true' : 'false' }}"
                                csrf="{{ csrf_token('update-token') }}"
                                {% if stats is not null %}
                                    :stats="{{ stats | json_encode }}"
                                {% endif %}
                                release-period-route="{{ path('lock_in', {'name': token.name}) }}">
                            </token-introduction-statistics>
                        </div>
                        <div class="row">
                            <token-introduction-description
                                class="col-12 mt-3 mt-3"
                                description="{{ token.description }}"
                                csrf-token="{{ csrf_token('update-token') }}"
                                update-url="{{ path('token_update', {'name': token.name}) }}"
                                :editable="{{ isOwner ? 'true' : 'false' }}">
                            </token-introduction-description>
                        </div>
                    </b-tab>
                </b-tabs>
            </div>
        </div>
    </div>

    <input type="hidden" id="confirm-website-url" value="{{ path('token_website_confirm', {'name': token.name}) }}">
{% endblock %}

{% block pagescripts %}
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="{{ asset('build/token.js') }}"></script>
{% endblock %}
