{% extends 'base.html.twig' %}

{% block title %}mintMe | Token Creation{% endblock %}

{% block content %}
    <div class="container" id="token">
        <div class="row pt-5 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        {{ formHeader }}
                    </div>
                    <div class="card-body py-2">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <div class="form-group row">
                            <div class="col-md-12 text-left">
                                <input type="submit" class="btn btn-primary" value="Create token" />
                                <a class="pl-3" href="javascript:history.back()">Cancel</a>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <modal
            no-close-on-backdrop
            :visible="{{ profileCreated ? 'false' : 'true' }}">
            <template slot="close"> &nbsp; </template>
            <template slot="body">
                <div class="text-center">
                    <p class="text-white">You need to create profile, only then you will be able to create token</p>
                    <a href="{{ path('profile') }}" class="btn btn-primary">OK</a>
                </div>
            </template>
        </modal>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/token_creation.js') }}"></script>
{% endblock %}
