{% extends 'base.html.twig' %}

{% block title %}{% trans %}page.trading.title{% endtrans %} | mintMe{% endblock %}

{% block bodyclass %}trading{% endblock %}

{% block content %}
    <div id="trading" class="container-fluid" data-val="some value">
        <div class="row pt-4 justify-content-center">
            <div class="col-12">
                <trading
                        websocket-url="{{ global_websocket_url }}"
                        coinbase-url="{{ global_coinbase_url }}"
                        :page="{{ page }}"
                        :tokens-count="{{ tokensCount }}"
                        :user-id="{{ app.user ? app.user.id : 0 }}"
                        mintme-supply-url="{{ mintme_supply }}"
                        :minimum-volume-for-marketcap="{{ minimum_volume_for_marketcap }}"
                        sort="{{ sort }}"
                        :order="{{ order ? 'true' : 'false' }}"
                >
                </trading>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/trading.js') }}"></script>
{% endblock %}
