{% extends 'base.html.twig' %}

{% block title %}{% trans %}page.trading.title{% endtrans %} | mintMe{% endblock %}

{% block bodyclass %}trading{% endblock %}

{% block content %}
    <div id="trading" class="container-fluid">
        {{ include('spinners/trading.html.twig') }}
        <div class="row pt-4 justify-content-center">
            <div class="col-12">
                <trading
                        websocket-url="{{ global_websocket_url }}"
                        coinbase-url="{{ global_coinbase_url }}"
                        :page="{{ page }}"
                        :tokens-count="{{ tokensCount }}"
                        :user-id="{{ app.user ? app.user.id : 0 }}"
                        mintme-supply-url="{{ mintme_supply }}"
                        :minimum-volume-for-marketcap="{{ minimum_volume_for_marketcap }}"
                        sort="{{ sort }}"
                        :markets-prop="{{ markets | json_encode }}"
                        :order="{{ order == 'DESC' ? 'true' : 'false' }}"
                        :filter-for-tokens="{{ filterForTokens | json_encode() }}"
                        :per-page="{{ perPage }}"
                        :rows-prop="{{ rows }}"
                >
                </trading>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    {{ encore_entry_script_tags('trading') }}
{% endblock %}
