{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pages/wallet') }}
{% endblock %}

{% block title %}{% trans %}page.wallet.title{% endtrans %} | mintMe{% endblock %}

{% block bodyclass %}wallet{% endblock %}

{% block content %}
    <div id="wallet" class="container">
        <crypto-init :cryptos="{{ enabledCryptos | json_encode }}"></crypto-init>
        {% if app.user.profile.hasBlockedTokens or app.user.isBlocked %}
            <div class="col-12 error-text py-5 text-center text-white text-uppercase error-big-text">
                <h1>
                    {% if app.user.isBlocked %}
                        {% trans %}page.wallet.blocked.account{% endtrans %}
                    {% else %}
                        {% trans %}page.wallet.blocked.token{% endtrans %}
                    {% endif %}
                </h1>
            </div>
        {% endif %}
        <div class="row pt-4 justify-content-center">
            <div class="col-md-12 card-fixed-large p-2 text-white">
                <h2 class="page-header">
                    {% trans %} page.wallet.my_wallet {% endtrans %}
                </h2>
                {{ include('spinners/wallet.html.twig') }}
                <b-tabs
                    @input="tabUpdated"
                    :lazy="true"
                    class="tabs-theme"
                    v-model="activeTab"
                    :class="{'no-padding': expandedTab}"
                    nav-class="p-3"
                >
                    <b-tab
                        title="{% trans %}page.wallet.title{% endtrans %}"
                        {% if tab|default and tab == 'wallet' %} {{ 'active' }} {% endif %}
                    >
                        <wallet
                            panel-env="{{ panel_environment }}"
                            hash="{{ hash }}"
                            websocket-url="{{ global_websocket_url }}"
                            create-token-url="{{ path('token_create') }}"
                            trading-url="{{ path('trading', {'type' : trading_coins_type}) }}"
                            withdraw-url="{{ path('withdraw') }}"
                            :deposit-more-prop="depositMoreCurrency"
                            twofa="{{ app.user.isGoogleAuthenticatorEnabled }}"
                            :expiration-time="{{ withdraw_expiration_time }}"
                            :disabled-cryptos="{{ disabledBlockchain | json_encode }}"
                            :disabled-services-config="{{ disabledServicesConfig | json_encode }}"
                            {% if app.user.isBlocked %}
                            is-user-blocked
                            {% endif %}
                            coinify-ui-url="{{ global_coinify_ui_url }}"
                            :coinify-partner-id="{{ global_partner_id }}"
                            :coinify-crypto-currencies="{{ global_coinify_crypto_currencies | json_encode }}"
                            profile-nickname="{{ app.user ? app.user.profile.nickname : '' }}"
                            :mintme-exchange-mail-sent="{{ app.user.exchangeCryptoMailSent ? 'true' : 'false' }}"
                            :min-amount="{{ min_wallet_tokens_amount }}"
                            :view-only="{{ viewOnly ? 'true' : 'false' }}"
                            mercure-hub-url="{{ mercure_hub_url }}"
                            :user-tokens-per-page="{{ user_tokens_per_page }}"
                            :own-tokens-count="{{ ownTokensCount }}"
                            :min-withdrawal="{{ min_coin_withdrawal | json_encode }}"
                        >
                        </wallet>
                    </b-tab>
                    <b-tab
                        title="{% trans %}page.wallet.trading_history{% endtrans %}"
                        {% if tab|default and tab == 'trade-history' %} {{ 'active' }} {% endif %}
                        title-link-class="ml-3"
                    >
                        <trading-history></trading-history>
                    </b-tab>
                    <b-tab
                        title="{% trans %}page.wallet.promotion_history{% endtrans %}"
                        {% if tab|default and tab == 'activity-history' %} {{ 'active' }} {% endif %}
                        title-link-class="ml-3"
                    >
                        <promotion-history></promotion-history>
                    </b-tab>
                    <b-tab
                        title="{% trans %}page.wallet.dep_with{% endtrans %}"
                        {% if tab|default and tab == 'dw-history' %} {{ 'active' }} {% endif %}
                        title-link-class="ml-3"
                    >
                        <deposit-withdraw-history></deposit-withdraw-history>
                    </b-tab>
                    <b-tab
                        title="{% trans %}page.wallet.active_orders{% endtrans %}"
                        {% if tab|default and tab == 'active-orders' %} {{ 'active' }} {% endif %}
                        title-link-class="ml-3"
                    >
                        <active-orders
                            hash="{{ hash }}"
                            websocket-url="{{ global_websocket_url }}"
                            :user-id="{{ app.user.id }}"
                            {% if app.user.isBlocked %}
                            is-user-blocked
                            {% endif %}
                        >
                        </active-orders>
                    </b-tab>
                    <template #tabs-end>
                        <div class="nav-item ml-auto">
                            <a href="{{ app.request.headers.get('referer') }}" class="nav-link">
                                <font-awesome-icon icon="long-arrow-alt-left"></font-awesome-icon>
                                <span class="text-uppercase ml-1">
                                    {% trans %} go_back {% endtrans %}
                                </span>
                            </a>
                        </div>
                    </template>
                </b-tabs>
                <input type="hidden" ref="depositMore" value="{{ depositMore }}"/>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    {{ encore_entry_script_tags('pages/wallet') }}
{% endblock %}
