{% extends 'base.html.twig' %}

{% block title %}Wallet | mintMe{% endblock %}

{% block bodyclass %}wallet{% endblock %}

{% block content %}
    <div id="wallet" class="container">
        <!-- {{ include('spinner.html.twig') }} -->
        <div class="row pt-5 justify-content-center">
            <div class="col-md-12 card-fixed-large px-0 text-white">
                <div class="tabs tabs-theme" v-if="false">
                    <div>
                        <ul role="tablist" class="nav nav-tabs" >
                            <li role="presentation" class="nav-item"> <a role="tab" aria-selected="true" aria-setsize="4" aria-posinset="1"  target="_self" href="#" class="nav-link active"> Wallet </a> </li>
                            <li role="presentation" class="nav-item"> <a role="tab" tabindex="-1" aria-selected="false" aria-setsize="4" aria-posinset="2" target="_self" href="#" class="nav-link"> Trading history </a> </li>
                            <li role="presentation" class="nav-item"> <a role="tab" tabindex="-1" aria-selected="false" aria-setsize="4" aria-posinset="3" target="_self" href="#" class="nav-link" > Deposit/Withdraw history </a> </li>
                            <li role="presentation" class="nav-item"> <a role="tab" aria-selected="false" aria-setsize="4" aria-posinset="4" target="_self" href="#" class="nav-link" tabindex="-1"> Active orders </a> </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" aria-hidden="false" class="tab-pane active"  tabindex="-1" style="">
                            <div class="px-0 py-2">
                                <div class="card-title font-weight-bold pl-4 pt-2 pb-1"> Balance </div>
                                <div class="table-responsive">
                                    <div class="p-5 text-center"> </div>
                                </div>
                                <div class="card-title font-weight-bold pl-4 pt-2 pb-1"> Tokens you own </div>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="2">Create <a href="/token">your own token</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"> You have not bought tokens yet. Find favorite content creators or
                                            famous person through search bar or visit <a href="/trading">trading page</a>.
                                            Start trading now. </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <b-tabs :lazy="true" class="tabs-theme" v-model="tabIndex" :class="{'no-padding': expandedTab}">
                    <b-tab title="Wallet" active>
                        <wallet
                                hash="{{ hash }}"
                                websocket-url="{{ global_websocket_url }}"
                                create-token-url="{{ path('token_create') }}"
                                trading-url="{{ path('trading') }}"
                                withdraw-url="{{ path('withdraw') }}"
                                deposit-more="{{ depositMore }}"
                                twofa="{{ app.user.isGoogleAuthenticatorEnabled }}"
                        >
                        </wallet>
                    </b-tab>
                    <b-tab title="Trading history">
                        <trading-history></trading-history>
                    </b-tab>
                    <b-tab title="Deposit/Withdraw history">
                        <deposit-withdraw-history></deposit-withdraw-history>
                    </b-tab>
                    <b-tab title="Active orders">
                        <active-orders
                                hash="{{ hash }}"
                                websocket-url="{{ global_websocket_url }}"
                                :user-id="{{ app.user.id }}"
                                >
                        </active-orders>
                    </b-tab>
                </b-tabs>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/wallet.js') }}"></script>
{% endblock %}
