{% extends 'base.html.twig' %}

{% block title %}Wallet | mintMe{% endblock %}

{% block bodyclass %}wallet{% endblock %}

{% block spinnerblock %}
    {{ include('spinner.html.twig') }}
{% endblock %}

{% block content %}
    <div id="wallet" class="container">
        <page-load-spinner id="page-load-spinner-js" spinner-div="page-load-spinner" ref="spinner"></page-load-spinner>
        <div class="row pt-5 justify-content-center">
            <div class="col-md-12 card-fixed-large px-0 text-white">
                <b-tabs :lazy="true" class="tabs-theme" v-model="tabIndex" :class="{'no-padding': expandedTab}">
                    <b-tab title="Wallet" active>
                        <wallet
                                hash="{{ hash }}"
                                websocket-url="{{ global_websocket_url }}"
                                create-token-url="{{ path('token_create') }}"
                                trading-url="{{ path('trading') }}"
                                withdraw-url="{{ path('withdraw') }}"
                                deposit-more="{{ depositMore }}"
                                twofa="{{ app.user.isGoogleAuthenticatorEnabled }}"
                                v-on:hide-spinner="hideSpinner"
                                v-on:show-spinner="showSpinner"
                        >
                        </wallet>
                    </b-tab>
                    <b-tab title="Trading history">
                        <trading-history
                                v-on:hide-spinner="hideSpinner"
                                v-on:show-spinner="showSpinner"
                        ></trading-history>
                    </b-tab>
                    <b-tab title="Deposit/Withdraw history">
                        <deposit-withdraw-history
                                v-on:hide-spinner="hideSpinner"
                                v-on:show-spinner="showSpinner"
                        ></deposit-withdraw-history>
                    </b-tab>
                    <b-tab title="Active orders">
                        <active-orders
                                hash="{{ hash }}"
                                websocket-url="{{ global_websocket_url }}"
                                :user-id="{{ app.user.id }}"
                                v-on:hide-spinner="hideSpinner"
                                v-on:show-spinner="showSpinner"
                        >
                        </active-orders>
                    </b-tab>
                </b-tabs>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/wallet.js') }}"></script>
{% endblock %}
