{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block messageClass %}d-none{% endblock %}

{% block header %}
    <meta http-equiv="refresh" content="5; url={{ path('homepage') }}">
{% endblock %}

{% block pagestyles %}
    {{ parent() }}
    {{ encore_entry_link_tags('security_pages') }}
{% endblock %}

{% block fos_user_content %}
<div class="container">
        <div class="row pt-4 justify-content-center notification">
            <div class="col-12">
                <div class="card py-3 py-md-5 card-fixed-lg mx-auto">
                    <div class="d-flex justify-content-center">
                        <img
                            src="{{ asset('build/images/circle-check-regular.svg') }}"
                            class="my-4 paper-plane-img"
                        />
                    </div>
                    <div class="h1 font-weight-semibold text-center">
                        {% trans %} register.confirmed.header {% endtrans %}
                    </div>
                    <div class="card-body card-body-limited py-2 text-center w-100 m-auto">
                        <div class="font-size-1 text-primary">{{ user.username }}</div>
                        <div class="font-size-1">{% trans %}register.confirmed.activated{% endtrans %}</div>
                        <a
                            href="{{ path('homepage') }}"
                            class="btn btn-primary py-3 mt-4 col-12 col-sm-6"
                        >
                            {% trans from 'messages' %}go_home{% endtrans %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
