{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block messageClass %}d-none{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row pt-5 justify-content-center notification">
            <div class="col-12 col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-4">Congrats!</div>
                            <div class="col-lg-8 card-header-description text-lg-right align-self-center">
                                <span class="align-middle">
                                    The user has been created successfully!
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body py-2 text-center">
                        <h1 class="title">{{ user.username }}</h1>
                        <p class="text">your account is now activated</p>
                        <p class="mt-1">
                            {% if targetUrl is empty %}
                                {% if prelaunch.isFinished() %}
                                    <a href="{{ path('trading') }}" class="link">Go to Trading</a>
                                {% else %}
                                    <a href="{{ path('referral-program') }}" class="link">Go to Referral</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ targetUrl }}" class="link">{{ 'registration.back'|trans }}</a>
                                {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock fos_user_content %}
