{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block messageClass %}d-none{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row align-items-center d-flex justify-content-center">
            <div class="col-xs-12 notification">
                <div class="bell"></div>
                <div class="cloud  mx-auto text-center">
                    <div>
                        <p class="font-bold title">Congrats {{ user.username }}</p>
                        <p>your account is now activated</p>
                        <p class="mt-1">
                            {% if targetUrl is empty %}
                                {% if prelaunch %}
                                    <a href="{{ path('referral') }}" class="link">Go to Referral</a>
                                {% endif %}
                                {% if not prelaunch %}
                                    <a href="{{ path('trading') }}" class="link">Go to Trading</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ targetUrl }}" class="link">{{ 'registration.back'|trans }}</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
