{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
  {%- autoescape false -%}
  {{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
  {%- endautoescape -%}
{% endblock %}

{% block body_text %}{% endblock %}

{% block body_html %}
  <style>
    @media screen {
      @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
      }
    }
  </style>

  <div style='background: linear-gradient(#15273a, #006284); height: 630px; width: 580px; color: #FFFFFF; text-align: center; font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;'>
    <div style="height: 530px; width: 80%; margin: 0 auto;">
      <div style="margin-top: 50px; margin-bottom: 50px; width: 100%">
        <img style="display: block; margin: 0 auto" src="{{absolute_url(asset('build/images/logo.png'))}}" />
      </div>
      <div style="margin: 120px auto 50px auto">
        <h4 style="color: #FFFFFF; font-size: 20pt; line-height: 1">Hello, {{user.userName}}!</h4>
        <h3 style="color: #FFFFFF; font-size: 28pt; line-height: 1; margin-top: -15px"><b>Welcome to mintMe!</b></h3>
      </div>
      <p style="color: #FFFFFF; ">
        To complete your registration, please follow this link:
      </p>
      <p>
        <a style="color: #0c8dde; padding: auto 20px" href="{{confirmationUrl}}">{{confirmationUrl}}</a>
      </p>
    </div>
    <footer style="height: 100px; background: #000000; display: block">
      <p style="color: #FFFFFF; padding: 10px; font-size: 14pt">2018 - mintMe. All rights reserved</p>
    </footer>
  </div>
{% endblock %}
