{% trans_default_domain 'FOSUserBundle' %}

{% extends 'form.html.twig' %}

{% set formHeader = "Sign Up" %}
{% set featured = true %}

{% block formBody %}
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_row(form.email, { 'inline': false, 'attr': {'pattern': '[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$', 'required': 'required'} }) }}
        <div id="passwordmeter">
            <passwordmeter :password="password">
                {{ form_row(form.plainPassword.first, { 'inline': false, 'attr': {'v-model': 'password'} }) }}
            </passwordmeter>
        </div>
        {{ form_row(form.plainPassword.second, { 'inline': false }) }}
        <div class="py-2">
            {{ form_row(form.recaptcha, { 'inline': false }) }}
        </div>
        <div class="text-left">
            <input type="submit" class="btn btn-primary" value="Sign Up">
            <span class="px-3">or</span>
            <a class="btn-cancel" href="{{ path('fos_user_security_login') }}">Log In</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
