{% import "default/pagination_macro.html.twig" as pagination %}
{% set isToken = isToken is defined and isToken %}
<div class="row">
    <div class="col-12 mt-3 mb-4">
        <h2>
            {% trans %}voting.propositions{% endtrans %}
            <span class="text-primary">
                {% trans %}voting.propositions.list{% endtrans %}
            </span>
        </h2>
    </div>
    <div class="col-12">
        {% for voting in votings %}
            {% set votingCurrent = voting.slug %}
            <ul class="list-group mb-3">
                <a href="{{ isToken
                            ? path('token_show_voting', {name: tokenName, slug: voting.slug})
                            : path('show_voting', {slug: voting.slug}) }}"
                >
                    <li
                        class="background-list rounded list-group-item c-pointer"
                    >
                        <p class="text-white mb-2">
                            {% if voting.closed %}
                                {% trans %}voting.proposition.closed{% endtrans %}
                            {% else %}
                                {% trans %}voting.proposition.active{% endtrans %}
                            {% endif %}
                            <span class="text-primary item-title text-break">
                                {{ voting.title }}
                            </span>
                        </p>
                        <p>
                            <span>{% trans %}voting.proposition.info.by{% endtrans %}</span>
                            <span class="font-weight-bold">{{ voting.creatorProfile.nickname}}</span> |
                            <span>{% trans %}voting.proposition.info.start{% endtrans %}</span>
                            <span class="font-weight-bold">{{ voting.createdAt | date('m.d.Y H:m:s') }}</span> -
                            <span>{% trans %}voting.proposition.info.end{% endtrans %}</span>
                            <span class="font-weight-bold">{{ voting.endDate | date('m.d.Y H:m:s') }}</span>
                        </p>
                    </li>
                </a>
            </ul>
        {% endfor %}
    </div>
    <div class="col-12 mt-4">
        <nav aria-label="Page navigation" class="mt-4 w-100">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if page <= 1 %} disabled {% endif %}">
                    <a
                        class="page-link"
                        href="{{ isToken
                            ? url('token_list_voting', {name: tokenName, page: page-1})
                            : url('voting', {page: page-1})
                        }}"
                        aria-label="Previous"
                    >
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">
                            {% trans %} previous {% endtrans %}
                        </span>
                    </a>
                </li>

                {% if page < totalVotingPages %}
                    {% set startRange = max(1, page - 2) %}
                    {% set endRange = min(totalVotingPages, page + 2) %}
                {% else %}
                    {% set startRange = max(1, page - 4) %}
                    {% set endRange = max(totalVotingPages, page) %}
                {% endif %}

                {% for i in range(startRange, endRange) %}
                    <li class="page-item {% if page == i %} active {% endif %}">
                        <a
                            class="page-link"
                            href="{{ isToken
                                ? url('token_list_voting', {name: tokenName, page: i})
                                : url('voting', {page: i})
                            }}"
                        >
                            {{ i }}
                        </a>
                        {% if page == i %}
                            <span class="sr-only">
                                {% trans %} page.news.current {% endtrans %}
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
                <li class="page-item {% if page >= totalVotingPages %} disabled {% endif %}">
                    <a
                        class="page-link"
                        href="{{ isToken
                            ? url('token_list_voting', {name: tokenName, page: page+1})
                            : url('voting', {page: page+1})
                        }}"
                        aria-label="Next"
                    >
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">
                            {% trans %} next {% endtrans %}
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
