{% if voting is defined %}
<div class="row">
    <div class="col-md-12 mt-3 text-break">
        <h2>{{ voting.title }}</h2>
        <p>
            <span class="text-primary">
                {% trans %}voting.form.start_date{% endtrans %}
            </span> {{ voting.createdAt | date('m.d.Y H:m:s') }} |
            <span class="text-primary">
                {% trans %}voting.form.end_date{% endtrans %}
            </span>
                {{ voting.endDate | date('m.d.Y H:m:s') }} |
            <span class="text-primary">
                {% trans %}voting.form.created_by{% endtrans %}
            </span>
            <a href="{{ path('profile', {nickname: voting.creatorProfile.nickname}) }}">
                {{ voting.creatorProfile.nickname }}
            </a>
        </p>
    </div>
    {% if not voting.closed %}
        <div class="col-md-4">
            <div class="card container-items-vote mb-4">
                <div class="m-3">
                    <ul class="list-group text-justify">
                        {% for option in voting.options %}
                        <li class="mb-3 c-pointer list-group-item item-vote">
                            {{ option.title }}
                        </li>
                        {% endfor %}
                        <button disabled="disabled" class="btn btn-primary btn-lg btn-block">
                            {% trans %}voting.vote{% endtrans %}
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col-md-8 mb-3">
        <div class="card">
            <div class="m-3">
                <p class="bbcode-content">
                    {{ voting.description | raw }}
                </p>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header mt-3">
                <div class="d-flex justify-content-between">
                    <h3 class="text-white">
                        {% trans %}voting.votes{% endtrans %}
                    </h3>
                </div>
            </div>
        </div>
        <div class="card-body d-flex justify-content-center">
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">{% trans %} loading {% endtrans %}</span>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header m-3">
                <div class="d-flex justify-content-between">
                    <h3 name="title" class="text-white">
                        {% trans %}voting.current{% endtrans %}
                        <span class="text-primary">
                            {% trans %}voting.current.results{% endtrans %}
                        </span>
                    </h3>
                </div>
            </div>
            <div class="card-body d-flex justify-content-center">
                <div class="spinner-border text-light" role="status">
                    <span class="sr-only">{% trans %} loading {% endtrans %}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
