<div class="tabs tabs-theme" v-if="false">
    <div>
        <ul role="tablist" class="nav nav-tabs p-3">
            <li role="presentation" class="nav-item">
                <a
                    role="tab"
                    aria-selected="true"
                    aria-setsize="4"
                    aria-posinset="1"
                    target="_self"
                    href="{{ path('wallet', {tab: 'wallet'}) }}"
                    class="nav-link {% if tab|default and tab == 'wallet' %} active {% endif %}"
                >
                    {% trans %} page.wallet.title {% endtrans%}
                </a>
            </li>
            <li role="presentation" class="nav-item ml-3">
                <a
                    role="tab"
                    tabindex="-1"
                    aria-selected="false"
                    aria-setsize="4"
                    aria-posinset="2"
                    target="_self"
                    href="{{ path('wallet', {tab: 'trade-history'}) }}"
                    class="nav-link {% if tab|default and tab == 'trade-history' %} active {% endif %}"
                >
                    {% trans %} page.wallet.trading_history {% endtrans %}
                </a>
            </li>
            <li role="presentation" class="nav-item ml-3">
                <a
                    role="tab"
                    aria-selected="false"
                    aria-setsize="4"
                    aria-posinset="4"
                    target="_self"
                    href="{{ path('wallet', {tab: 'activity-history'}) }}"
                    class="nav-link {% if tab|default and tab == 'promotion-history' %} active {% endif %}"
                    tabindex="-1"
                >
                    {% trans %} page.wallet.promotion_history {% endtrans %}
                </a>
            </li>
            <li role="presentation" class="nav-item ml-3">
                <a
                    role="tab"
                    tabindex="-1"
                    aria-selected="false"
                    aria-setsize="4"
                    aria-posinset="3"
                    target="_self"
                    href="{{ path('wallet', {tab: 'dw-history'}) }}"
                    class="nav-link {% if tab|default and tab == 'dw-history' %} active {% endif %}"
                >
                    {% trans %} page.wallet.dep_with {% endtrans%}
                </a>
            </li>
            <li role="presentation" class="nav-item ml-3">
                <a
                    role="tab"
                    aria-selected="false"
                    aria-setsize="4"
                    aria-posinset="4"
                    target="_self"
                    href="{{ path('wallet', {tab: 'active-orders'}) }}"
                    class="nav-link {% if tab|default and tab == 'active-orders' %} active {% endif %}"
                    tabindex="-1"
                >
                    {% trans %} page.wallet.active_orders {% endtrans %}
                </a>
            </li>
            <li role="presentation" class="nav-item ml-auto">
                <a
                    role="tab"
                    aria-selected="false"
                    aria-setsize="4"
                    aria-posinset="4"
                    target="_self"
                    href="{{ app.request.headers.get('referer') }}"
                    class="nav-link d-flex {% if tab|default and tab == 'active-orders' %} active {% endif %}"
                    tabindex="-1"
                >
                    <div class="go-back-arrow"></div>
                    <span class="text-uppercase ml-1">
                        {% trans %} go_back {% endtrans %}
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div role="tabpanel" aria-hidden="false" class="tab-pane active" tabindex="-1">
            <div class="px-0 py-2">
                <div class="table-header">
                    <h3>
                        {% trans %} page.wallet.coins.header {% endtrans %}
                    </h3>
                </div>
                <div>
                    <div class="p-5 text-center">
                        <div class="icon-loading"></div>
                    </div>
                </div>
                <div class="table-header">
                    <h3 class="table-header">
                        {% trans %} page.wallet.tokens.header {% endtrans %}
                    </h3>
                </div>
                <div>
                    <div class="p-5 text-center">
                        <div class="icon-loading"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
