{% extends 'base.html.twig' %}

{% block title %}Token{% endblock %}

{% block bodyclass %}token{% endblock %}

{% block content %}
    <div id="token" class="container">
        <div class="row">
            <div class="col">
                <div class="h3 pl-4">
                    {% if tokenName is defined %} {{ tokenName }} {% endif %}
                </div>
                <b-tabs class="tabs-theme transparent" v-model="tabIndex">
                    {% if action == 'edit' or action == 'new' %}
                        <b-tab title="Invest" disabled></b-tab>
                        <b-tab title="Introduction" disabled></b-tab>
                        {% include 'default/token_form.html.twig' with {'action': action} %}
                    {% else %}
                    <b-tab title="Invest" {% if action == 'invest' %} {{ 'active' }} {% endif %}>
                        <token-invest></token-invest>
                    </b-tab>
                    <b-tab title="Introduction" {% if action == 'intro' %} {{ 'active' }} {% endif %}>
                        <token-introduction></token-introduction>
                    </b-tab>
                    <div slot="tabs" v-if="tabIndex" class="pr-4 d-flex edit-token-profile">
                        <a href="{{ path('my_token') }}" class="btn btn-primary align-self-center">Edit Token Profile</a>
                    </div>
                    {% endif %}
                </b-tabs>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/token.js') }}"></script>
{% endblock %}
