{% extends 'base.html.twig' %}

{% block title %}Token{% endblock %}

{% block pagestyles %}
    <link rel="stylesheet" href="{{ asset('build/token.css') }}">
{% endblock %}

{% block content %}
    <div id="token" class="container">
        <div class="row">
            <div class="col">
                <token-name
                    name="{{ token.name }}"
                    csrf-token="{{ csrf_token('update-token') }}"
                    update-url="{{ path('token_update', {'name': token.name}) }}"
                    :editable="{{ isOwner ? 'true' : 'false' }}">
                </token-name>
                <b-tabs class="tabs-theme transparent" v-model="tabIndex">
                    <b-tab title="Invest">
                        <token-invest></token-invest>
                    </b-tab>
                    <b-tab title="Introduction" active>
                        <div class="row">
                            <token-introduction-profile container-class="col-12 col-md-6">
                            </token-introduction-profile>

                            <token-introduction-statistics container-class="col-12 col-md-6 mt-3 mt-md-0">
                            </token-introduction-statistics>
                        </div>
                        <div class="row">
                            <token-introduction-description container-class="col-12 mt-3 mt-3">
                            </token-introduction-description>
                        </div>
                    </b-tab>
                </b-tabs>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('build/token.js') }}"></script>
{% endblock %}
