<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Mintme revolutionizes how people help each other by allowing sides to earn">
        <meta name="keywords" content="mintMe,MINTME,crypto,exchanger,token,dapps">
        <meta name="author" content="mintme">
        <meta name="csrf-token" content="{{ csrf_token('authenticate') }}">
        <link rel="icon" type="img/png" href="{{ asset('build/images/favicon.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <meta name="theme-color" content="#141C29">
        <title>
            {% block title %}mintMe{% endblock %}
        </title>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tracking_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ google_tracking_id }}');
        </script>

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{};
            if('{{ app.user }}') {
                Tawk_API.visitor = {
                    name : '{{ app.user.username }}',
                    email : '{{ app.user.username }}',
                    hash : '{{ app.user.getTawkHash(tawk_api_key) }}',
                };
            }
            var Tawk_LoadStart=new Date();
            (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/5c66aba9a6c3590a404d5f2d/default';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
        <!--End of Tawk.to Script-->

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/main.css') }}">
            {% block pagestyles %}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% block body %}
            <div class="content-wrapper {% block contentclass %}{% endblock %}">
                <div class="content">
                    {% block header %}
                        {% include 'topnav.html.twig' %}
                    {% endblock %}
                    {% block main %}
                        {% block messageContainer %}
                            {% if app.session.flashbag.peekAll() is not empty %}
                                <div class="{% block messageClass %}{% endblock %}">
                                    {% for label, messages in app.flashes %}
                                        {% for message in messages %}
                                            <div class="w-50 mx-auto mb-3 alert alert-{{ label }}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endblock %}
                        {% block content %}{% endblock %}
                    {% endblock %}
                </div>
                {% block footer %}
                    {% include 'footer.html.twig' %}
                {% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('build/main.js') }}"></script>
            {% block pagescripts %}{% endblock %}
        {% endblock %}
    </body>
</html>
