<!DOCTYPE html>
<html lang="en" class="h-100vh">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}MINTME{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/main.css') }}">
        {% endblock stylesheets %}
    </head>
    <body class="h-100vh {% block bodyclass %}{% endblock %}">
        {% block body %}
            {% block header %}
                <b-navbar  id="navbar" toggleable="lg" type="" class="top-navbar pt-3 pb-0">
                    <div class="container-fluid">
                        <b-navbar-brand href="{{ path('homepage') }}">
                            <img src="{{ asset('build/images/main-logo.png') }}" height="40" alt="MINTME">
                        </b-navbar-brand>
                        <b-navbar-toggle target="topnav_collapse" class="mt-2"/></b-navbar-toggle>
                        <b-collapse is-nav id="topnav_collapse">
                            <b-navbar-nav class="ml-auto">
                                <li class="search nav-item align-self-start align-self-lg-center py-3 py-lg-0 pr-0 pr-md-3">
                                    <input
                                        placeholder="Search for token... Use token name or wallet address"
                                        class="search-input form-control"
                                        type="search"
                                        aria-label="Search"
                                    >
                                </li>
                                <b-nav-item class="align-self-start align-self-lg-center {{ app.request.get('_route') == 'my-token' ? 'active' : '' }}"  href="{{ path('token') }}">
                                    <span>My Token</span>
                                </b-nav-item>
                                <b-nav-item class="align-self-start align-self-lg-center {{ app.request.get('_route') == 'trading' ? 'active' : '' }}"  href="{{ path('trading') }}">
                                    Trading
                                </b-nav-item>
                                <b-nav-item class="align-self-start align-self-lg-center {{ app.request.get('_route') == 'wallet' ? 'active' : '' }}"  href="{{ path('wallet') }}">
                                    Wallet
                                </b-nav-item>
                                <b-nav-item class="align-self-start align-self-lg-center {{ app.request.get('_route') == 'fos_user_security_login' ? 'active' : '' }}"  href="{{ path('fos_user_security_login') }}">
                                    Login
                                </b-nav-item>
                                <b-nav-item class="align-self-start align-self-lg-center {{ app.request.get('_route') == 'fos_user_registration_register' ? 'active' : '' }}"  href="{{ path('fos_user_registration_register') }}">
                                    <span>Sign Up</span>
                                </b-nav-item>
                                <b-nav-item-dropdown class="align-self-start align-self-lg-center" right>
                                    <template slot="button-content">
                                       <i class="d-block icon-profile-big"></i>
                                    </template>
                                    <b-dropdown-item
                                        href="{{ path('profile') }}">
                                        Profile Form
                                    </b-dropdown-item>
                                    <b-dropdown-item
                                        href="{{ path('profile') }}/Adel Bigshan">
                                        Adel Bigshan Profile
                                    </b-dropdown-item>
                                    <b-dropdown-item
                                        href="{{ path('token') }}">
                                        Token
                                    </b-dropdown-item>
                                    <b-dropdown-item
                                        href="{{ path('fos_user_security_logout') }}">
                                        Log Out
                                    </b-dropdown-item>
                                </b-nav-item-dropdown>
                            </b-navbar-nav>
                        </b-collapse>
                    </div>
                </b-navbar>
                {% block top_showcase %}{% endblock %}
            {% endblock header %}
            {% block main %}
                <div class="d-table fix-layout w-100 h-100vh">
                    <div class="d-table-row gradient-bg">
                        <div class="d-table fix-layout w-100 h-100 flower-bg">
                            <div class="d-table-row">
                                <div class="d-table-cell header-bg"></div>
                            </div>
                            <div class="d-table-row">
                                <div class="d-table-cell pt-5 contents-wrapper">
                                {% block content %}{% endblock content %}
                                </div>
                            </div>
                            <div class="d-table-row">
                                <div class="d-table-cell footer-bg">
                                    <div class="footer-bg">
                                        <div class="d-flex h-100">
                                            <div class="align-self-end w-100">
                                                <div class="bottom-links text-center text-lg-right">
                                                    <ul class="link-box list-unstyled d-inline-block px-2 px-sm-3 px-md-5 text-left">
                                                        <li class="list-item pb-3">
                                                            <a href="#">Company</a>
                                                        </li>
                                                        <li class="list-item pb-3">
                                                            <a href="#">About Us</a>
                                                        </li>
                                                    </ul>
                                                    <ul class="link-box list-unstyled d-inline-block px-2 px-sm-3 px-md-5 text-left">
                                                        <li class="list-item pb-3">
                                                            <a href="#">Usefull Links</a>
                                                        </li>
                                                        <li class="list-item pb-3">
                                                            <a href="#">Support</a>
                                                        </li>
                                                    </ul>
                                                    <ul class="link-box list-unstyled d-inline-block px-2 px-sm-3 px-md-5 text-left">
                                                        <li class="list-item pb-3">
                                                            <a href="#">Contact Us</a>
                                                        </li>
                                                        <li class="list-item pb-3">
                                                            <a href="#">Fees</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="copyright text-center py-4">
                                                    <div>
                                                        Copyright 2018 - MintMe.
                                                        <span class="d-block d-sm-inline">All rights reserved</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock main %}
{% block footer %}{% endblock footer %}
{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('build/main.js') }}"></script>
{% block pagescripts %}{% endblock %}
{% endblock javascripts %}
</body>
</html>
