<!DOCTYPE html>
{% apply
    replace({'<script':'<script nonce="' ~ csp_nonce('script') ~ '"'})|
    raw
%}
<html lang="en">
    <head>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/base_main.css') }}">
            {% block pagestyles %}{% endblock %}
        {% endblock %}
        {% block head %}{% endblock %}
        {% block metaDescription %}
            <meta name="description" content="MintMe is a blockchain crowdfunding platform where patrons also earn on their favorite influencer success. Anyone can create a token that represents themselves or their project. When you create a coin, its value represents the success of your project.">
            <meta property="og:description" content="MintMe is a blockchain crowdfunding platform where patrons also earn on their favorite influencer success. Anyone can create a token that represents themselves or their project. When you create a coin, its value represents success of your project.">
        {% endblock %}
        {% include 'head.html.twig' %}
        <title>
            {% block title %}mintMe{% endblock %}
        </title>
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <div id="user-init">
            {% if app.user %}
                <user-init
                    :is-signed-in-with-twitter="{{ app.user.isSignedInWithTwitter | json_encode }}"
                    :user-id="{{ app.user.id }}"
                ></user-init>
            {% endif %}
        </div>
        {% block body %}
            <div class="content-wrapper d-flex flex-column {% block contentclass %}{% endblock %}">
                {% block header %}
                    {% include 'topnav.html.twig' %}
                {% endblock %}
                <main class="flex-fill content {% block bgclass %}{% endblock %}">
                    {% block main %}
                        {% block messageContainer %}
                            {% if app.session.flashbag.peekAll() is not empty %}
                                <div id="notifications" class="text-center {% block messageClass %}{% endblock %}">
                                    {% for label, messages in app.flashes %}
                                        {% for message in messages %}
                                            <notification type="{{ label }}" class="d-none">
                                                {{ message }}
                                            </notification>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endblock %}
                        {% block content %}{% endblock %}
                    {% endblock %}
                </main>
                {% block footer %}
                    {% include 'footer.html.twig' %}
                {% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            {% include 'base_scripts.html.twig' %}
            {% if (app.request.attributes.get('_route') != 'homepage') %}
                {% include 'scripts.html.twig' %}
            {% endif %}

            {% block pagescripts %}{% endblock %}
        {% endblock %}
    </body>
</html>
{% endapply %}
