<!DOCTYPE html>
<html lang="en">
    <head>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/main.css') }}">
            {% block pagestyles %}{% endblock %}
        {% endblock %}
        {% block head %}{% endblock %}
        {% include 'head.html.twig' %}
        <title>
            {% block title %}mintMe{% endblock %}
        </title>
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% block body %}
            <div onload="document.body.classList.remove('hidden')" class="content-wrapper hidden d-flex flex-column {% block contentclass %}{% endblock %}">
                {% block header %}
                    {% include 'topnav.html.twig' %}
                {% endblock %}
                <main class="flex-fill content">
                    {% block main %}
                        {% block messageContainer %}
                            {% if app.session.flashbag.peekAll() is not empty %}
                                <div class="text-center {% block messageClass %}{% endblock %}">
                                    {% for label, messages in app.flashes %}
                                        {% for message in messages %}
                                            <div class="d-block">
                                                <div class="d-inline-block mx-auto text-white text-center bg-{{ label }} alert alert-{{ label }}">
                                                    <i class="icon-{{label}}"></i>
                                                    {{ message }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endblock %}
                        {% block content %}{% endblock %}
                    {% endblock %}
                </main>
                {% block footer %}
                    {% include 'footer.html.twig' %}
                {% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            {% include 'scripts.html.twig' %}
            {% block pagescripts %}{% endblock %}
        {% endblock %}
    </body>
</html>
