<!DOCTYPE html>
<html lang="en" class="h-100vh">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}MINTME{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/main.css') }}">
        {% endblock stylesheets %}
    </head>
    <body class="h-100vh {% block bodyclass %}{% endblock %}">
        {% block body %}
            {% block header %}
                <nav class="navbar navbar-expand-lg top-navbar pt-3 pb-0" id="navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="{{ path('homepage') }}">
                            <img src="{{ asset('build/images/main-logo.png') }}" height="40" alt="MINTME">
                        </a>
                        <button @click="toggleNavbarMenu" class="navbar-toggler" type="button" :aria-expanded="showNavbarMenu" aria-label="Toggle Navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item pr-0 pr-3">
                                    <input
                                        placeholder="Search for token... Use token name or wallet address"
                                        class="search form-control"
                                        type="search"
                                        aria-label="Search"
                                    >
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link px-3">My Token</a>
                                </li>
                                <li class="nav-item {{ app.request.get('_route') == 'trading' ? 'active' : '' }}">
                                    <a href="{{ path('trading') }}" class="nav-link px-3">Trading</a>
                                </li>
                                <li class="nav-item {{ app.request.get('_route') == 'wallet' ? 'active' : '' }}">
                                    <a href="{{ path('wallet') }}" class="nav-link px-3">Wallet</a>
                                </li>
                                <li class="nav-item {{ app.request.get('_route') == 'fos_user_security_login' ? 'active' : '' }}">
                                    <a href="{{ path('fos_user_security_login') }}" class="nav-link px-3">Log in</a>
                                </li>
                                <li class="nav-item {{ app.request.get('_route') == 'fos_user_registration_register' ? 'active' : '' }}">
                                    <a href="{{ path('fos_user_registration_register') }}" class="nav-link px-3">Sign Up</a>
                                </li>
                                <li class="nav-item d-none d-lg-block">
                                    <div id="nav-profile" class="dropdown" :class="{ 'show': showProfileMenu }">
                                        <button
                                            class="btn btn-secondary dropdown-toggle ml-2"
                                            type="button" aria-haspopup="true"
                                            :aria-expanded="showProfileMenu"
                                            @click="toggleProfileMenu"
                                            v-click-outside="hideProfileMenu">
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right border-0 mt-2" :class="{ 'show': showProfileMenu }">
                                            <a class="dropdown-item mx-1 my-1 pl-3" href="{{ path('profile') }}">
                                                <span class="icon-profile float-left mt-1 mr-1"></span>
                                                Profile
                                            </a>
                                            <a class="dropdown-item mx-1 mb-1 pl-3 pr-5" href="{{ path('fos_user_security_logout') }}">
                                                <span class="icon-logout float-left mt-1 mr-1"></span>
                                                Log Out
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock header %}
            {% block main %}
                <div class="d-table fix-layout w-100 h-100vh">
                    <div class="d-table fix-layout w-100 h-100 gradient-bg">
                        <div class="d-table-row">
                            <div class="d-table-cell header-bg"></div>
                        </div>
                        <div class="d-table-row">
                            <div class="d-table-cell pt-5 contents-wrapper">
                                {% block content %}{% endblock content %}
                            </div>
                        </div>
                    </div>
                    <div class="d-table-row">
                        <div class="d-table-cell footer-bg">
                            <div class="d-flex h-100">
                                <div class="align-self-end w-100">
                                    <div class="bottom-links text-center text-lg-right">
                                        <ul class="link-box list-unstyled d-inline-block px-2 px-sm-3 px-md-5 text-left">
                                            <li class="list-item pb-3">
                                                <a href="#">Company</a>
                                            </li>
                                            <li class="list-item pb-3">
                                                <a href="#">About Us</a>
                                            </li>
                                        </ul>
                                        <ul class="link-box list-unstyled d-inline-block px-2 px-sm-3 px-md-5 text-left">
                                            <li class="list-item pb-3">
                                                <a href="#">Usefull Links</a>
                                            </li>
                                            <li class="list-item pb-3">
                                                <a href="#">Support</a>
                                            </li>
                                        </ul>
                                        <ul class="link-box list-unstyled d-inline-block px-2 px-sm-3 px-md-5 text-left">
                                            <li class="list-item pb-3">
                                                <a href="#">Contact Us</a>
                                            </li>
                                            <li class="list-item pb-3">
                                                <a href="#">Fees</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="copyright text-center py-4">
                                        <div>
                                            Copyright 2018 - MintMe.
                                            <span class="d-block d-sm-inline">All rights reserved</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock main %}
            {% block footer %}{% endblock footer %}
        {% endblock body %}
        {% block javascripts %}
            <script src="{{ asset('build/main.js') }}"></script>
            {% block pagescripts %}{% endblock %}
        {% endblock javascripts %}
    </body>
</html>
