{% set hideElements = false %}

{% if app.request.attributes.get('_route') in [
    'login',
    'register',
    'fos_user_resetting_send_email',
    'fos_user_resetting_check_email',
    'fos_user_resetting_reset',
    'fos_user_registration_check_email',
    '2fa_login'
] %}
    {% set hideElements = true %}
{% endif %}
<footer id="footer" class="container-fluid align-items-center">
    <div class="row d-flex justify-content-center">
        {% if not hideElements %}
            <div class="row col-12">
                <div class="col-12 logo-mintme text-center">
                    <img src="{{ asset('build/images/logo.svg') }}" alt="mintme logo" />
                </div>
                <div class="col-6 col-seventh col-sm-4">
                    <span class="font-weight-semibold">
                        {% trans %}footer.company{% endtrans %}
                    </span>
                    <ul class="list-unstyled mt-2">
                        <li class="mb-1">
                            <a class="c-pointer" @click.prevent="goToPage({{ path('terms_of_service') | json_encode }}, '_blank')">
                                {% trans from 'tos' %}terms_of_service{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a class="c-pointer" @click.prevent="goToPage({{ path('privacy_policy') | json_encode }}, '_blank')">
                                {% trans from 'pp' %}privacy_policy{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-seventh col-sm-4">
                    <span class="font-weight-semibold">
                        {% trans %}footer.blockchain{% endtrans %}
                    </span>
                    <ul class="list-unstyled mt-2">
                        <li class="mb-1">
                            <a
                                href="{{ global_explorer_urls.WEB }}"
                                target="_blank"
                            >
                                {% trans %}footer.explorer{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a
                                href="{{ mintme_pool_url }}"
                                target="_blank"
                            >
                                {% trans %}footer.pool{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-seventh col-sm-4">
                    <span class="font-weight-semibold">
                        {% trans %}footer.resources{% endtrans %}
                    </span>
                    <ul class="list-unstyled mt-2">
                        <li class="mb-1">
                            <a href="{{ path('nelmio_api_doc.swagger_ui') }}">
                                {% trans %}footer.api{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a
                                {% if not is_granted('IS_AUTHENTICATED_2FA_IN_PROGRESS') %} target="_blank" {% endif %}
                                href="{{ path('press_kit') }}"
                            >
                                {% trans %}footer.press_kit{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-seventh col-sm-4">
                    <span class="font-weight-semibold">
                        {% trans %}footer.our_product{% endtrans %}
                    </span>
                    <ul class="list-unstyled mt-2">
                        <li class="mb-1">
                            <a href="{{ url('homepage') }}coin">
                                {% trans %}footer.mintme_coin{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ mintme_wallet_url }}">
                                {% trans %}footer.web_wallet{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>
                {{ render(path('footer_get_links')) }}
                <div class="col-12 mt-4 text-center">
                    <span class="font-weight-semibold">
                        {% trans %} footer.follow_us {% endtrans %}
                    </span>
                    <div class="row align-items-center">
                        <div class="col-12 ml-3">
                            <ul class="d-flex justify-content-center list-unstyled row icon-socialmedia mt-2">
                                <li class="mr-4">
                                    <a
                                        href="{{ twitter_footer_link }}"
                                        class="p-0"
                                        target="_blank"
                                        rel="noopener"
                                        aria-label="twitter"
                                    >
                                        <font-awesome-icon :icon="['fab', 'x-twitter']"></font-awesome-icon>
                                    </a>
                                </li>
                                <li class="mr-4">
                                    <a
                                        href="{{ reddit_footer_link }}"
                                        class="p-0"
                                        target="_blank"
                                        rel="noopener"
                                        aria-label="reddit"
                                    >
                                        <font-awesome-icon :icon="['fab', 'reddit-alien']"></font-awesome-icon>
                                    </a>
                                </li>
                                <li class="mr-4">
                                    <a
                                        href="{{ discord_footer_link }}"
                                        class="p-0"
                                        target="_blank"
                                        rel="noopener"
                                        aria-label="discord"
                                    >
                                        <font-awesome-icon :icon="['fab', 'discord']"></font-awesome-icon>
                                    </a>
                                </li>
                                <li class="mr-4">
                                    <a
                                        href="{{ telegram_chat_footer_link }}"
                                        class="p-0"
                                        target="_blank"
                                        rel="noopener"
                                        aria-label="telegram_group"
                                    >
                                        <font-awesome-icon :icon="['fab', 'telegram-plane']"></font-awesome-icon>
                                    </a>
                                </li>
                                <li class="mr-4">
                                    <a
                                        href="{{ telegram_public_footer_link }}"
                                        class="p-0"
                                        target="_blank"
                                        rel="noopener"
                                        aria-label="telegram_channel"
                                    >
                                        <font-awesome-icon :icon="['fab', 'telegram-plane']"></font-awesome-icon>
                                    </a>
                                </li>
                                <li class="mr-4">
                                    <a
                                        href="{{ facebook_footer_link }}"
                                        class="p-0"
                                        target="_blank"
                                        rel="noopener"
                                        aria-label="facebook"
                                    >
                                        <font-awesome-icon :icon="['fab', 'facebook-f']"></font-awesome-icon>
                                    </a>
                                </li>
                                <li class="mr-4">
                                    <a
                                        href="{{ instagram_footer_link }}"
                                        class="p-0"
                                        target="_blank"
                                        rel="noopener"
                                        aria-label="instagram"
                                    >
                                        <font-awesome-icon :icon="['fab', 'instagram']"></font-awesome-icon>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border border-secondary mt-2 w-100">
        {% endif %}
        <div class="col-12 row">
            <div class="col-12 text-center {{ hideElements ? '' : 'text-lg-left col-lg-10' }}">
                <p class="copyright mb-0">
                    <span>
                        {{ version }} | {% trans with {'%date%': "now"|date("Y")} %}rights_reserved{% endtrans %}
                    </span>
                    <span class="justify-content-center d-inline cookies-term">
                        <span class="separator">-</span> {% trans %}footer.cookies{% endtrans %}
                    </span>
                </p>
            </div>
        </div>
    </div>
</footer>
