<footer id="footer" class="container-fluid">
    <div class="row h-100 align-content-center text-white pt-3 pb-4 px-5">
        <div class="col-12 text-center col-lg-auto mt-4 pt-1">
            <a href="{{ path('terms_of_service') }}">Terms of Service</a> | <a href="{{ path('privacy_policy') }}">Privacy policy</a><br/>
            {{ version }} | Copyright 2018-{{ "now"|date("Y") }} mintMe. All rights reserved
        </div>
        <div class="col-12 col-lg mt-lg-auto">
            <div class="row justify-content-center justify-content-lg-end mr-4 pr-1">
                <a href="https://twitter.com/mintmeproject" aria-label="twitter" class="col-auto d-flex text-white rounded-circle justify-content-center socialmedia" target="_blank">
                    <img src="{{ asset('build/images/icon-twitter.png') }}" class="align-self-center text-center"/>
                </a>
                <a href="https://www.reddit.com/r/MintMeProject" aria-label="reddit" class="col-auto d-flex text-white rounded-circle justify-content-center socialmedia" target="_blank">
                    <img src="{{ asset('build/images/icon-reddit.png') }}" class="align-self-center text-center"/>
                </a>
                <a href="https://discord.gg/twSKg7Z" aria-label="discord" class="col-auto d-flex text-white rounded-circle justify-content-center socialmedia" target="_blank">
                    <img src="{{ asset('build/images/icon-discord.png') }}" class="align-self-center text-center"/>
                </a>
                <a href="https://t.me/joinchat/IdMikBSt0mRKIu-7cFas-g" aria-label="telegram_group" class="col-auto d-flex text-white rounded-circle justify-content-center socialmedia" target="_blank">
                    <img src="{{ asset('build/images/icon-telegram-group.png') }}" class="align-self-center text-center" width="50"/>
                </a>
                <a href="https://t.me/joinchat/AAAAAE7HcQU3bL_yy7XXyA" aria-label="telegram_channel" class="col-auto d-flex text-white rounded-circle justify-content-center socialmedia" target="_blank">
                    <img src="{{ asset('build/images/icon-telegram.png') }}" class="align-self-center text-center"/>
                </a>
                <a href="https://www.facebook.com/mintmeproject" aria-label="facebook" class="col-auto d-flex text-white rounded-circle justify-content-center socialmedia" target="_blank">
                    <img src="{{ asset('build/images/icon-facebook.png') }}" class="align-self-center text-center"/>
                </a>
            </div>
        </div>
    </div>
</footer>

