<b-navbar id="navbar" toggleable="lg" type="" class="top-navbar pt-3 pb-0" v-cloak>
    <div class="container-fluid">
        <b-navbar-brand href="{{ path('homepage') }}">
            <img src="{{ asset('build/images/main-logo.png') }}" height="40" alt="MINTME">
        </b-navbar-brand>
        <b-navbar-toggle target="topnav_collapse" class="mt-2"></b-navbar-toggle>
        <b-collapse is-nav="is-nav" id="topnav_collapse">
            <b-navbar-nav class="ml-auto">
                <b-nav-item class="align-self-start align-self-lg-center {{ app.request.get('_route') == 'referral' ? 'active' : '' }}" href="{{ path('referral') }}">
                    Referral Program
                </b-nav-item>
                 {% if app.user %}
                    <b-nav-item-dropdown class="align-self-start align-self-lg-center" right="right">
                        <template slot="button-content">
                            <i class="d-block icon-profile-big"></i>
                        </template>
                       <b-dropdown-item  href="{{ path('settings') }}">
                            <font-awesome-icon icon="cog" class="float-left mt-1 mr-1"></font-awesome-icon>
                            Setting
                        </b-dropdown-item>
                        <b-dropdown-item href="{{ path('fos_user_security_logout') }}">
                            <span class="icon-logout float-left mt-1 mr-1"></span>
                            Log Out
                        </b-dropdown-item>
                    </b-nav-item-dropdown>
                {% else %}
                    <b-nav-item class="align-self-start align-self-lg-center {{ app.request.get('_route') == 'fos_user_security_login' ? 'active' : '' }}" href="{{ path('fos_user_security_login') }}">
                        Login
                    </b-nav-item>
                    <b-nav-item class="align-self-start align-self-lg-center {{ app.request.get('_route') == 'fos_user_registration_register' ? 'active' : '' }}" href="{{ path('fos_user_registration_register') }}">
                        <span>Sign Up</span>
                    </b-nav-item>
                {% endif %}

            </b-navbar-nav>
        </b-collapse>
    </div>
</b-navbar>
