{% set show_links = app.user and not is_granted('IS_AUTHENTICATED_2FA_IN_PROGRESS') %}
{% set route = app.request.get('_route') %}
{% set show_info_bar = app.session.get('show_info_bar', true) %}
{% set isOwner = isOwner ?? false %}
{% set translatedLocale = global_translation_flags|length > 1 and app.session.get('_locale')
                            ? global_translation_flags[app.session.get('_locale')]['label']
                            : ''
%}
{% set endPath = app.request.attributes.get('_route_params')['type'] ?? '' %}
{% set hideElements = false %}

{% if app.request.attributes.get('_route') in [
    'login',
    'register',
    'fos_user_resetting_send_email',
    'fos_user_resetting_check_email',
    'fos_user_resetting_reset',
    'fos_user_registration_check_email',
    '2fa_login'
] %}
    {% set hideElements = true %}
{% endif %}

{% if is_hacker_allowed %}
    <div id="admin-menu">
        <admin-menu :is-user-logged="{{ app.user ? 'true' : 'false' }}"></admin-menu>
    </div>
    {% if show_info_bar %}
        <div id="info-bar">
            <info-bar
                username="{{ app.user.username|default('') }}"
                auth-code="{{ app.user.EmailAuthCode|default('') }}"
                environment="{{ app.environment() }}"
            ></info-bar>
        </div>
    {% endif %}
{% endif %}
<div class="sticky-top">
    {% if app.request.attributes.get('_route') != '2fa_login' and app.user is not null %}
        
        {% if app.request.attributes.get('_route') != 'phone_verification' and
            (app.user.profile.phoneNumber ? not app.user.profile.phoneNumber.verified : true) and
            app.user.profile.nickname
        %}
            <div id="add-phone-notification" class="topnav-notification" v-if="!hasPhoneVerified">
                <div class="alert alert-primary m-0" role="alert">
                    {{(app.user.profile.phoneNumber is null ?
                    'phone.add_number.notification' :
                    'phone.add_number_verification.notification')|
                    trans({'%url%': path('profile-view',{'nickname': app.user.profile.nickname, 'edit': true})})|raw}}
                </div>
            </div>
        {% elseif not app.user.profile.hasTokens %}
            <div class="topnav-notification">
                <div class="alert alert-primary m-0" role="alert">
                    {{ 'token.create_token_prompt.notification'|trans({'%url%': path('token_create')})|raw }}
                </div>
            </div>
        {% elseif app.user.profile.getUndeployedTokens and not app.user.profile.hasDeployedTokens %}
            <div id="deploy-token-notification" class="topnav-notification">
                <div class="alert alert-primary m-0" role="alert">
                    {{'token.not_deployed.notification'|trans({'%url%': path('token_settings',{ 'tokenName': app.user.profile.getUndeployedTokens|first.name, 'tab': 'deploy',})})|raw}}
                </div>
            </div>
        {% endif %}
    {% endif %}

    <nav
        id="navbar"
        class="navbar top-navbar navbar-expand-xl"
        :class="{
            'navbar-position' : scrollPosition > 50,
        }"
        data-is-logged="{{ app.user ? 'true' : 'false' }}"
    >
        <div class="container-fluid {{ app.user ? '' : 'd-flex align-items-start' }} px-0">
            <a class="order-first navbar-brand align-self-center" href="{{ path('homepage') }}">
                {% if is_beta_version %}
                    <div class="badge badge-beta">{% trans %}beta{% endtrans %}</div>
                {% endif %}
                    <img
                        class="{{
                            is_beta_version
                            ? 'ml-3 ml-lg-0 mintme-logo'
                            : 'mintme-logo d-sm-block d-lg-none'
                        }}"
                        src="{{ asset('build/images/WEB.svg') }}"
                        alt="mintMe"
                    >
                    <img
                        id="mintme-logo"
                        class="{{
                            is_beta_version
                            ? 'ml-3 ml-lg-0 mintme-logo'
                            : 'mintme-logo d-none d-lg-block'
                        }}"
                        src="{{ asset('build/images/logo.svg') }}"
                        alt="mintMe"
                    >
            </a>
            <h1
                id="nav-token-name"
                class="m-0"
            >
            </h1>
            {% if not hideElements %}
                <div class="order-1 order-lg-3 d-flex">
                    {% if show_links %}
                        <div class="d-flex align-items-center m-lg-0 badges-wrp">
                            <img v-if="false" class="topnav-bell-spinner mr-2 ml-3" src="{{ asset('build/images/bell-regular.svg') }}">
                            <user-notification
                                class="notification-dropdown-wrp mx-xs-1 mx-sm-2 m-lg-0"
                                current-locale="{{ app.session.get('_locale') ?: app.request.attributes.get('_locale') }}"
                            ></user-notification>
                            <a href="{{ path('chat') }}" class="nav-link mx-xs-1 mx-sm-2 mr-lg-0 ml-lg-1 pr-sm-1 {{ route == 'chat' ? 'active' : '' }}">
                                <div v-if="false" class="line-height-1">
                                    <img class="topnav-envelope-spinner ml-1 ml-md-2" src="{{ asset('build/images/envelope-solid.svg') }}">
                                </div>
                                <nav-envelope></nav-envelope>
                            </a>
                        </div>
                    {% endif %}
                        <button
                            class="navbar-toggler"
                            :class="{ 'collapsed': !showNavbarMenu }"
                            type="button"
                            :aria-expanded="showNavbarMenu"
                            aria-label="Toggle navigation"
                            @click="toggleNavbarMenu"
                        >
                            <span class="navbar-toggler-icon my-2"></span>
                        </button>
                </div>
            {% endif %}
            <div class="order-2 {{ hideElements ? '' : 'collapse navbar-collapse p-1' }}" :class="{ 'show': showNavbarMenu }">
                {% if not hideElements %}
                    <ul class="navbar-nav general-links mx-auto align-items-center">
                        {% if show_links %}
                            <nav-token-dropdown
                                v-if="isXLScreen"
                                :show="showTokenDropdown"
                                :tokens="{{ app.user.profile.notBlockedTokens|map(t => {name: t.name, imageUrl: t.image.url})|json_encode }}"
                                default-token-avatar="{{ asset('/media/default_token.png') }}"
                                route="{{ route }}"
                                :can-add-more-tokens="{{ app.user.profile.getTokensCount < token_create_limit ? 'true' : 'false' }}"
                                @toggle="toggleTokenDropdown"
                                @hook:mounted="onTokenDropdownMount"
                            ></nav-token-dropdown>

                            {# display placeholder while loading component #}
                            {% if app.user.profile.notBlockedTokens is not empty %}
                                <li v-if="isXLScreen && !tokenDropdownMounted" class="nav-item dropdown nav-dropdown-hovered">
                                    <a
                                        class="nav-link dropdown-toggle d-flex align-items-center justify-content-center"
                                        role="button"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="true"
                                    >
                                        <avatar
                                            size="small"
                                            type="token"
                                            img-class="mb-1"
                                            class="mr-2"
                                            image="{{ asset('/media/default_token.png') }}"
                                        ></avatar>
                                        {% trans %} navbar.my_token {% endtrans %}
                                    </a>
                                </li>
                            {% else %}
                                <li
                                    v-if="isXLScreen && !tokenDropdownMounted"
                                    class="nav-item menu-token align-self-center text-lg-left text-center {{ route starts with 'token' and isOwner ? 'active' : '' }}"
                                >
                                    <a href="{{ path('token_create') }}" class="nav-link d-flex align-items-center">
                                        <avatar
                                            size="small"
                                            type="token"
                                            img-class="mb-1"
                                            class="mr-2"
                                            image="{{ asset('/media/default_token.png') }}"
                                        >
                                        </avatar>
                                        {% trans %} navbar.my_token {% endtrans %}
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                        <li class="nav-item dropdown nav-dropdown-hovered">
                            <a
                                class="nav-link dropdown-toggle text-center"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                @click.prevent="toggleTradingDropdown"
                            >
                                {% trans %} navbar.trading {% endtrans %}
                            </a>
                            <div
                                class="dropdown-menu xl-hide"
                                aria-labelledby="navbarDropdown"
                                :class="{ 'show': showTradingDropdown }"
                            >
                                <a
                                    class="dropdown-item {{ endPath == trading_coins_type ? 'active' : '' }}"
                                    href="{{ path('trading', {'type' : trading_coins_type}) }}"
                                >
                                    <font-awesome-icon
                                        icon="chart-line"
                                        class="dropdown-link-icon float-left mt-1 mr-2 d-inline"
                                    ></font-awesome-icon>
                                    {% trans %} navbar.coins {% endtrans %}
                                </a>
                                <a
                                    class="dropdown-item {{ endPath == trading_tokens_type ? 'active' : '' }}"
                                    href="{{ path('trading', { 'type' : trading_tokens_type }) }}"
                                >
                                    <font-awesome-icon
                                        icon="coins"
                                        class="dropdown-link-icon float-left mt-1 mr-2 d-inline"
                                    ></font-awesome-icon>
                                    {% trans %} navbar.tokens {% endtrans %}
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown nav-dropdown-hovered">
                            <a
                                id="navCoinDropdown"
                                class="nav-link dropdown-toggle text-center"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="true"
                                v-on-clickaway="hideCoinDropdown"
                                @click="toggleCoinDropdown"
                            >
                                MintMe Coin
                            </a>
                            <div class="dropdown-menu xl-hide" aria-labelledby="navbarDropdown" :class="{ 'show': showCoinDropdown }">
                                {# todo: add correct links when pages will be created #}
                                <a class="dropdown-item {{ route starts with 'coin_page' ? 'active' : '' }}" href="{{ path('coin_page') }}">
                                    <font-awesome-icon
                                        icon="info"
                                        class="dropdown-link-icon float-left mt-1 mr-2 d-inline"
                                    ></font-awesome-icon>
                                    {% trans %} navbar.token_introduction {% endtrans %}
                                </a>
                                <a class="dropdown-item" href="{{ mintme_wallet_url }}">
                                    <font-awesome-icon
                                        icon="wallet"
                                        class="dropdown-link-icon float-left mt-1 mr-2 d-inline"
                                    ></font-awesome-icon>
                                    {% trans %} footer.wallet {% endtrans %}
                                </a>
                                <a class="dropdown-item" href="{{ mintme_pool_url }}">
                                    <font-awesome-icon
                                        icon="database"
                                        class="dropdown-link-icon float-left mt-1 mr-2 d-inline"
                                    ></font-awesome-icon>
                                    {% trans %} footer.pool {% endtrans %}
                                </a>
                                <a class="dropdown-item" href="{{ global_explorer_urls.WEB }}">
                                    <font-awesome-icon
                                        icon="cubes"
                                        class="dropdown-link-icon float-left mt-1 mr-2 d-inline"
                                    ></font-awesome-icon>
                                    {% trans %} footer.explorer {% endtrans %}
                                </a>
                                <a class="dropdown-item {{ route starts with 'coin_faq_page' ? 'active' : '' }}" href="{{ path('coin_faq_page') }}">
                                    <font-awesome-icon
                                        icon="question"
                                        class="dropdown-link-icon float-left mt-1 mr-2 d-inline"
                                    ></font-awesome-icon>
                                    FAQ
                                </a>
                                <a class="dropdown-item" href="{{ mintme_github_url }}">
                                    <font-awesome-icon
                                        :icon="['fab', 'github']"
                                        class="dropdown-link-icon float-left mt-1 mr-2 d-inline"
                                    ></font-awesome-icon>
                                    GitHub
                                </a>
                            </div>
                        </li>

                        <li class="nav-item align-self-center {{ route starts with 'sonata_news' ? 'active' : '' }}">
                            <a href="{{ path('sonata_news_home') }}" class="nav-link">
                                {% trans %} navbar.news {% endtrans %}
                            </a>
                        </li>
                        <li class="nav-item align-self-center {{ route starts with 'kb' ? 'active' : '' }}">
                            <a href="{{ path('kb') }}" class="nav-link">
                                {% trans %} navbar.help {% endtrans %}
                            </a>
                        </li>
                    </ul>
                {% endif %}
                <ul class="navbar-nav secondary-links {{ hideElements ? 'ml-auto' : '' }}">
                    <li class="nav-item align-self-center nav-locale-dropdown-wrp text-center d-none d-xl-block">
                        {% if global_translation_flags|length > 1 %}
                            <div v-if="false" class="dropdown language-switcher d-inline">
                                <button class="btn btn-link dropdown-toggle">
                                    {{ translatedLocale }}
                                </button>
                            </div>
                            <locale-switcher
                                current-locale="{{ app.session.get('_locale') ?: app.request.attributes.get('_locale') }}"
                                flags="{{ global_translation_flags | json_encode(constant('JSON_UNESCAPED_UNICODE')) }}"
                                mode="hover"
                                :show-flag-in-select="false"
                                :hide-elements="{{ hideElements ? 'true' : 'false' }}"
                            ></locale-switcher>
                        {% endif %}
                    </li>
                    {% if not app.user %}
                        {% if not hideElements %}
                            <li class="nav-item auth-btn-nav align-self-center {{ route == 'fos_user_security_login' ? 'active' : '' }}">
                                <button
                                    class="nav-link btn btn-link {{ route == 'fos_user_registration_register'
                                        ? 'active btn-primary'
                                        : route == 'fos_user_security_login' ? 'd-none' : '' }}"
                                    @click.prevent="goToPage({{ path('fos_user_security_login') | json_encode}})"
                                >
                                    {% trans %}log_in{% endtrans %}
                                </button>
                            </li>
                            <li class="nav-item auth-btn-nav align-self-center {{ route == 'fos_user_registration_register' ? 'active' : '' }}">
                                <button
                                    class="nav-link btn btn-primary {{ route == 'fos_user_security_login'
                                        ? 'active btn-primary'
                                        : route == 'fos_user_registration_register' ? 'd-none' : '' }}"
                                    @click.prevent="goToPage({{ path('fos_user_registration_register') | json_encode}})"
                                >
                                    {% trans %}sign_up{% endtrans %}
                                </button>
                            </li>
                        {% endif %}
                    {% else %}
                        {% if not hideElements %}
                            <nav-token-dropdown
                                v-if="!isXLScreen"
                                :show="showTokenDropdown"
                                :tokens="{{ app.user.profile.notBlockedTokens|map(t => {name: t.name, imageUrl: t.image.url})|json_encode }}"
                                default-token-avatar="{{ asset('/media/default_token.png') }}"
                                route="{{ route }}"
                                :can-add-more-tokens="{{ app.user.profile.getTokensCount < token_create_limit ? 'true' : 'false' }}"
                                class="d-xl-none"
                                @toggle="toggleTokenDropdown"
                                @hook:mounted="onTokenDropdownMount"
                            ></nav-token-dropdown>
                            <nav-user-menu
                                v-if="!isXLScreen"
                                class="w-100 d-xl-none nav-user-menu"
                                nickname="{{ app.user.profile.nickname }}"
                                token-name="{{ app.user.profile.hasTokens ? app.user.profile.firstToken.name : '' }}"
                                :has-tokens="{{ app.user.profile.hasTokens ? 'true' : 'false' }}"
                                csrf-token="{{ csrf_token('logout') }}"
                                route="{{ route }}"
                                link-class="nav-item"
                            ></nav-user-menu>
                        {% endif %}
                    {% endif %}
                </ul>
                {# locale switcher for mobile #}
                <ul class="navbar-nav order-3 {{ hideElements ? 'ml-auto' : '' }} d-xl-none">
                    <li class="nav-item align-self-center nav-locale-dropdown-wrp text-center">
                        {% if global_translation_flags|length > 1 %}
                            <locale-switcher
                                current-locale="{{ app.session.get('_locale') ?: app.request.attributes.get('_locale') }}"
                                flags="{{ global_translation_flags | json_encode(constant('JSON_UNESCAPED_UNICODE')) }}"
                                mode="hover"
                                :show-flag-in-select="false"
                                :hide-elements="{{ hideElements ? 'true' : 'false' }}"
                            ></locale-switcher>
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% if show_links %}
                <div class="nav-profile-wrp order-last d-none d-xl-block">
                    <profile-dropdown
                        v-if="isXLScreen"
                        avatar-url="{{ app.user.profile.image.url | imagine_filter('avatar_middle') }}"
                        @mounted="profileDropdownMounted = true"
                    >
                        <nav-user-menu
                            class="text-center"
                            nickname="{{ app.user.profile.nickname }}"
                            token-name="{{ app.user.profile.hasTokens ? app.user.profile.firstToken.name : '' }}"
                            :has-tokens="{{ app.user.profile.hasTokens ? 'true' : 'false' }}"
                            csrf-token="{{ csrf_token('logout') }}"
                            route="{{ route }}"
                        ></nav-user-menu>
                    </profile-dropdown>

                    {# display placeholder while loading component #}
                    <div
                        v-if="!profileDropdownMounted"
                        class="pr-0 dropdown float-right nav-dropdown profile-dropdown-spinner"
                    >
                        <a class="nav-link pl-3 pr-0 dropdown-toggle c-pointer d-flex align-items-center">
                            <div class="avatar overflow-hidden mr-2 avatar__middle">
                                <img
                                    src="{{ app.user.profile.image.url | imagine_filter('avatar_middle') }}"
                                    class="avatar-img rounded-circle img-fluid"
                                >
                            </div>
                            <span class="dropdown-label">{{ 'navbar.my_account'|trans }}</span>
                        </a>
                    </div>

                    <user-idle-modal
                        timer-duration="{{ auto_logout_timer_duration }}"
                        modal-duration="{{ idle_modal_duration }}"
                    ></user-idle-modal>
                </div>
            {% endif %}
        </div>
        <div v-cloak v-show="showNavbarMenu" class="d-xl-none navbar-backdrop" @click="toggleNavbarMenu"></div>
    </nav>
</div>
