<article class="container pt-4 text-white news">
    <div class="row justify-content-center">
        <div class="col-md-12 card-fixed-large px-0 box news-box p-4">
            <header>
                <h1 class="word-break">
                    {{ post.title }}
                </h1>

                <span>{{ post.publicationDateStart | format_date }}</span>

            </header>

            <div class="row mb-3">
                <div class="center-block text-center col-12">
                    {% media post.image, 'wide' with {'class': 'img-fluid'} %}
                </div>
                <div class="col-12 mt-4 word-break">
                    {{ post.content|safeHtml|raw }}
                </div>
            </div>

            {% include 'share_buttons.html.twig' with
                {
                    'url': url(
                        'sonata_news_view',
                        { 'permalink': sonata_news_permalink(post) }
                    )
                }
            %}

            {#            {% if post.iscommentable %}#}
            {#                {{ render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) }}#}
            {#                {{ render(controller('SonataNewsBundle:Post:addCommentForm', {#}
            {#                    'postId': post.id,#}
            {#                    'form': form#}
            {#                })) }}#}
            {#            {% endif %}#}
            <div class="mt-3 mb-3">
                <a href="{{ path('homepage') }}">MintMe</a>
                &gt;
                <a href="{{ path('sonata_news_home') }}">{% trans %}page.news.title{% endtrans %}</a>
            </div>
        </div>
    </div>
</article>
