<div class="row justify-content-center">
    <article class="pt-4 text-dark col-12 col-md-12 col-lg-7 text-white">
        <div class="text-center pb-5 pt-3">
            <h1 class="font-weight-bold text-white">
                {% trans %} page.news.title_mintme {% endtrans %}
                <strong class="text-primary">
                    {% trans %} page.news.title_without_number {% endtrans %}
                </strong>
            </h1>
        </div>
        <div class="justify-content-center">
            <div class="card rounded news">
                <div class="card-img-top">
                    {% media post.image, 'wide' %}
                </div>
                <div class="card-body px-4 pb-0">
                    <h1 class="font-weight-bold">
                        {{ post|translateArticle('title') }}
                    </h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-2 col-sm-2 col-lg-3 col-xl-2 px-0">
                                {{ post.publicationDateStart | format_date }}
                            </div>
                            <div class="col-12 col-md-8 col-sm-7 col-lg-6 col-xl-8 separator-line mt-2"></div>
                            <div class="col-12 col-md-2 col-sm-3 col-lg-3 col-xl-2 px-0 text-right">
                                {% include 'share_buttons.html.twig' with
                                    {
                                        'url': url(
                                            'sonata_news_view',
                                            { 'permalink': sonata_news_permalink(post) }
                                        )
                                    }
                                %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container px-4 mb-3">
                    <p class="text-justify space-height">
                        {{ post|translateArticle('content')|safeHtml|raw }}
                    </p>
                </div>
                <div class="container ml-2 mt-2 mb-3">
                    <a class="font-weight-bold" href="{{ path('homepage') }}">
                        {% trans %} page.news.title_mintme {% endtrans %}
                    </a>
                    &gt;
                    <a class="font-weight-bold" href="{{ path('sonata_news_home') }}">
                        {% trans %}page.news.title_without_number{% endtrans %}
                    </a>
                </div>
            </div>
        </div>
    </article>
    <aside class="row mb-lg-auto col-12 col-md-12 col-lg-3 mt-4">
        <div class="col-12 p-lg-0 pl-md-3 ml-lg-3 ml-md-0">
            <h3 class="mb-4 mt-3 mt-md-0 text-md-left mr-5 title-aside">
                <span>
                    {% trans %}page.news.title.interested_1{% endtrans %}
                </span>
                <div class="d-none d-lg-block d-xl-block"></div>
                <span class="text-lg-right">
                    {% trans %}page.news.title.interested_2{% endtrans %}
                </span>
            </h3>
        </div>
        {{ render(path('recommended_post_news')) }}
    </aside>
</div>
