<article class="container pt-5 text-white news">
    <div class="row justify-content-center">
        <div class="col-md-8 box news-box p-4">
            <header>
                <h2>
                    {{ post.title }}
                </h2>

                <span>{{ post.publicationDateStart | format_date }}</span>

            </header>

            <div class="row mb-3">
                <div class="center-block col-12">
                    {% media post.image, 'wide' with {'class': 'img-fluid'} %}
                </div>
                <div class="col-12 mt-3 post">
                    {{ post.content|raw }}
                </div>
            </div>

            {{ include('share_buttons.html.twig', { 'url': url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }) }}

            {% if post.iscommentable %}
                {{ render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) }}
                {{ render(controller('SonataNewsBundle:Post:addCommentForm', {
            'postId': post.id,
            'form': form
        })) }}
            {% endif %}
            <div class="mt-3 mb-3">
                {% if(app.request.headers.get('referer') == app.request.headers.get('url')) %}
                    <a href="{{ path('sonata_news_archive') }}">&lt; Back to news</a>
                {% else %}
                    <a href="{{ app.request.headers.get('referer') }}">&lt; Back to news</a>
                {% endif %}
            </div>
        </div>
    </div>
</article>
