{% extends 'base.html.twig' %}

{% block title %}404 - {{ error_message }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pages/error') }}
{% endblock %}

{% block bodyclass %}errorpage{% endblock %}

{% block messageClass %}d-none{% endblock %}

{% block content %}
    <div class="container top-4 h-100">
        <div class="row justify-content-center align-content-center text-center text-white h-100">
            <div class="col-12 py-5">
                <div class="error-code">404</div>
                <div class="error-text text-uppercase">{{ error_message }}</div>
                <p class="error-msg">
                    {% trans %}page.error.404.body{% endtrans %} {% trans %}or{% endtrans %}
                    <a href="{{ path('homepage') }}" class="backlink">{% trans %}return_homepage_2{% endtrans %}</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    {{ encore_entry_script_tags('pages/error') }}
{% endblock %}
