{% extends 'mail/layout.html.twig' %}

{% block content %}
    <table width="100%">
        <tr>
            <th>
                <h3 class="text-dark-white" style="font-size: 28px; margin-bottom:0px; font-family: Helvetica, Arial, sans-serif;font-weight: normal;" >{% trans %}hello{% endtrans %}</h3>
                <h1 class="text-blue" style="font-size: 34px; margin-top: 0px; margin-bottom: 0px;"><strong>{{username}}</strong></h1>
            </th>
        </tr>
        <tr>
            <th>
                <p class="text-dark-white" style="text-align: left;font-weight: normal;">
                    {% trans with {'%tokenName%': tokenName}%}knowledge_base.header.1{% endtrans %}<br>
                    <a href="{{tokenSalesUrl}}">
                        - {% trans %}knowledge_base.link.1{% endtrans %}
                    </a><br>
                    <a href="{{aimingUrl}}">
                        - {% trans %}knowledge_base.link.2{% endtrans %}
                    </a><br>
                    <a href="{{ideasUrl}}">
                        - {% trans %}knowledge_base.link.3{% endtrans %}
                    </a><br>
                    <a href="{{stuckUrl}}">
                        - {% trans %}knowledge_base.link.4{% endtrans %}
                    </a><br>
                    <a href="{{talkingUrl}}">
                        - {% trans %}knowledge_base.link.5{% endtrans %}
                    </a><br>
                    <p class="text-dark-white" style="text-align: left;font-weight: normal;">
                        {% trans %}knowledge_base.header.2{% endtrans %}<br>
                        {% trans %}knowledge_base.header2.msg.1{% endtrans %}<br>
                        {% trans %}knowledge_base.header2.msg.2{% endtrans %}<br>
                    </p>
                    <p class="text-dark-white" style="text-align: left;font-weight: normal;">
                        {% trans %}knowledge_base.read.txt{% endtrans %} <a href="{{deployUrl}}">{% trans %}knowledge_base.link.blockchain{% endtrans %}</a> {% trans %}knowledge_base.article.txt{% endtrans %}<br>
                        {% trans %}knowledge_base.whatnext.txt{% endtrans %}<br>
                        {% trans %}knowlegde_base.whatnext.link1{% endtrans %}<br>
                        {% trans %}knowlegde_base.whatnext.link2{% endtrans %}<br>
                        {% trans %}knowlegde_base.whatnext.link3{% endtrans %}<br>
                        {% trans %}knowlegde_base.whatnext.link4{% endtrans %}<br>
                        {% trans %}knowlegde_base.whatnext.link5{% endtrans %}<br>
                    </p>
                </p>
            </th>
        </tr>

        <tr>
            <th class="text-dark-white" style="height:20px;font-size:0px;line-height:20px;">&#xA0;</th>
        </tr>
    </table>
{% endblock %}