<style>
    table {
        min-width: 500px;
        padding: 0;
        width: 100%;
        background-size: 100% 100%;
        position: relative;
        display: table;
        font-size: 18px;
        font-weight: normal;
        margin: 0 auto;
        font-family: Helvetica, Arial, sans-serif;
        text-align:center;
        color:white;
    }
    table th {
        margin: 0 auto;
        padding-left: 16px;
        padding-bottom: 16px;
        width: 100%;
    }
    table td {
        padding-left: 0;
        padding-right: 0;
    }
    a {
        color: #2199e8;
    }
    center table {
        display: table;
        width: 500px;
    }
</style>
<table>
    <tr>
        <td align="center" valign="top">
            <center>
                <table background="{{absolute_url(asset('build/images/body.png'))}}">
                    <tr>
                        <td>
                            <table>
                                <tr style="padding: 20px">
                                    <a href="{{ absolute_url('/') }}" target=_blank><img width="200px" height="80px" src="{{absolute_url(asset('build/images/logo.png'))}}" alt="MintMe"></a>
                                </tr>
                            </table>
                            {% block content %}{% endblock %}
                            <table background="{{absolute_url(asset('build/images/footer.png'))}}" style="margin: 0; padding: 0; width: 100%">
                                <tr style=" margin-bottom:0">
                                    <td>
                                        <div style="text-align: center; margin-top: 20px; margin-bottom: 0; color: #fff; background: #131313">
                                            2018 - {{ "now"|date("Y") }} mintMe. All rights reserved
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>

