<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% apply inline_css(encore_entry_css_source('mail')) %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="bg-concrete">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Mintme.host has arrived!</title>
    </head>
    <body class="body-mintme">
        <table class="body box-table-v2">
            <tbody>
            <tr class="tr-mintme-host">
                <td align="center" class="center td-mintme-host" valign="top">
                    <center class="td-center-580-100">
                        <!--header -->
                        <header align="center" class="float-center">
                            <table align="center" class="container table-mintme-v1">
                                <tbody>
                                <tr class="tr-mintme-host">
                                    <td class="td-mintme-host">
                                        <table class="spacer table-mintme-v5">
                                            <tbody>
                                            <tr class="tr-mintme-host">
                                                <td height="1" class="td-mintme-host-v2" style="mso-line-height-rule: exactly;">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="row table-mintme-v4">
                                            <tbody>
                                            <tr class="tr-mintme-host">
                                                <th class="small-6 large-6 columns first last th-mintme-first">
                                                    <table class="table-mintme-v5">
                                                        <tbody>
                                                        <tr class="tr-mintme-host">
                                                            <th class="td-mintme-host"><a href="https://www.mintme.com" class="td-a-link-mintme"><img width="600" src="{{ absolute_url(asset('build/images/mail-header.png')) }}" class="img-mintme-rrss" /></a></th>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="spacer table-mintme-v5">
                                            <tbody>
                                            <tr class="tr-mintme-host">
                                                <td height="1" class="td-mintme-host-v2" style="mso-line-height-rule: exactly;">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </header>
                        <!--Body -->
                        <table align="center" class="container float-center table-mintme-v2">
                            <tbody>
                            <tr class="tr-mintme-host">
                                <td class="td-mintme-host">
                                    <table align="center" class="wrapper secondary table-mintme-v3">
                                        <tbody>
                                        <tr class="tr-mintme-host">
                                            <td class="wrapper-inner td-mintme-host">
                                                <table class="spacer table-mintme-v5">
                                                    <tbody>
                                                    <tr class="tr-mintme-host">
                                                        <td height="16" class="td-mintme-host-v4" style="mso-line-height-rule: exactly;">&nbsp;</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="row table-mintme-v4">
                                        <tbody>
                                        <tr class="tr-mintme-host">
                                            <th class="small-12 large-12 columns first last th-mintme-third">
                                                <table class="table-mintme-v5">
                                                    <tbody>
                                                    <tr class="tr-mintme-host">
                                                        <th class="td-mintme-host">
                                                            <p class="lead p-lead">&nbsp;</p>
                                                            <center class="td-center-532-100">
                                                                <a
                                                                    href="{{ mintmeHostPath }}"
                                                                    class="float-center td-a-link-mintme"
                                                                    align="center"
                                                                >
                                                                    <img
                                                                        src="{{ absolute_url(asset('build/images/mintme-host-banner.png')) }}"
                                                                        alt="mintme"
                                                                        class="img-mintme-rrss"
                                                                    />
                                                                </a>
                                                            </center>
                                                            <table class="spacer table-mintme-v5">
                                                                <tbody>
                                                                <tr class="tr-mintme-host">
                                                                    <td height="5" class="td-mintme-host-v5" style="mso-line-height-rule: exactly;">&nbsp;</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <h6 class="h6-mintme">&nbsp;</h6>
                                                            <div id="greeting-tag">
                                                                <p class="p-hello">
                                                                    {% trans %} hello {% endtrans %} {{ nickname }}
                                                                </p>
                                                            </div>
                                                            <center class="td-center-532-100">
                                                                <p align="center" class="float-center p-center-v2">&nbsp;</p>
                                                                <h6 align="center" class="float-center h6-center">{% trans %} mail.mintme_host.1 {% endtrans %}</h6>
                                                                <p align="center" class="float-center p-center">&nbsp;</p>
                                                                <h6 align="center" class="float-center h6-center">{% trans with  {'%freeDays%': freeDays, '%price%': price} %} mail.mintme_host.2 {% endtrans %}</h6>
                                                                <p align="center" class="float-center p-center">&nbsp;</p>
                                                                <h6 align="center" class="float-center h6-center">{% trans %} mail.mintme_host.3 {% endtrans%}
                                                                <p align="center" class="float-center p-center">&nbsp;</p>
                                                            </center>
                                                        </th>
                                                        <th class="expander th-expander">&nbsp;</th>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table align="center" class="wrapper secondary table-mintme-v3">
                                        <tbody>
                                        <tr class="tr-mintme-host">
                                            <td class="wrapper-inner td-mintme-host">
                                                <table class="spacer table-mintme-v5">
                                                    <tbody>
                                                    <tr class="tr-mintme-host">
                                                        <td height="16" class="td-mintme-host-v3" style="mso-line-height-rule: exactly;">&nbsp;</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="button large primary expand table-mintme-v6">
                                                    <tbody>
                                                    <tr class="tr-mintme-host">
                                                        <td class="td-mintme-host">
                                                            <table class="table-mintme-v5">
                                                                <tbody>
                                                                <tr class="tr-mintme-host">
                                                                    <td class="td-mintme-host-v6">
                                                                        <center class="td-center-0-100"><a align="center" class="float-center a-link-center" href="{{ mintmeHostPath }}">{% trans %} mail.mintme_host.btn_text {% endtrans%} <strong>{% trans %} mail.mintme_host.btn_mintmeHost {% endtrans %}</strong><br> </a></center>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </center>
                    <!-- Footer -->
                    <table align="center" class="container float-center table-mintme-v2">
                        <tbody>
                        <tr class="tr-mintme-host">
                            <td class="td-mintme-host">
                                <footer class="footer-bgcolor-1">
                                    <table class="row collapsed footer table-mintme-v4">
                                        <tbody>
                                        <tr class="tr-mintme-host">
                                            <th class="small-12 large-12 columns first last">
                                                <table class="table-mintme-v5">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" class="td-presentation-layout-v3" bgcolor="#202020">
                                                                <p class="p-a-link-layaout-v3 mt-1">
                                                                    <a href="https://www.mintme.com/trading" class="p-a-link-layout mr-2" target="_blank">
                                                                        {% trans %} navbar.trading {% endtrans %}</a>&nbsp;&nbsp;
                                                                    <a href="https://www.mintme.com/coin/" class="p-a-link-layout mr-2" target="_blank">
                                                                        {% trans %} footer.coin {% endtrans %}</a>&nbsp;&nbsp;
                                                                    <a href="https://www.mintme.com/news" class="p-a-link-layout mr-2" target="_blank">
                                                                        {% trans %} navbar.news {% endtrans %}</a>&nbsp;&nbsp;
                                                                    <a href="https://www.mintme.com/kb" class="p-a-link-layout mr-2" target="_blank">
                                                                        {% trans %} navbar.help {% endtrans %}</a>&nbsp;&nbsp;
                                                                    <a href="https://www.mintme.com/terms-of-service" class="p-a-link-layout" target="_blank">
                                                                        {% trans from 'tos' %} terms_of_service_short {% endtrans %}</a>
                                                                </p>
                                                                <p class="p-a-link-layaout-v5 mb-1">
                                                                    <a href="https://twitter.com/mintmeproject" class="p-a-link-layout-v2" target="_blank"><img alt="twitter" src="{{absolute_url(asset('build/images/mintme-mail-twitter-v2.png'))}}" width="32" class="ico-a-link-layout-v2" /></a>
                                                                    <a href="https://www.reddit.com/r/MintMeCom" class="p-a-link-layout-v2" target="_blank"><img alt="reddit" src="{{absolute_url(asset('build/images/mintme-mail-reddit-v2.png'))}}" width="32" class="ico-a-link-layout-v2" /></a>
                                                                    <a href="https://discord.com/invite/uuZXhCn" class="p-a-link-layout-v2" target="_blank"><img alt="discord" src="{{absolute_url(asset('build/images/mintme-mail-discord-v2.png'))}}" width="32" class="ico-a-link-layout-v2" /></a>
                                                                    <a href="https://t.me/joinchat/Hzio4lCr-95bHcbB1-RX9Q" class="p-a-link-layout-v2" target="_blank"><img alt="telegram-group" src="{{absolute_url(asset('build/images/mintme-mail-telegram-group-v2.png'))}}" width="32" class="ico-a-link-layout-v2" /></a>
                                                                    <a href="https://t.me/webchainnetwork" class="p-a-link-layout-v2" target="_blank"><img alt="telegram-announcements" src="{{absolute_url(asset('build/images/mintme-mail-telegram-channel-v2.png'))}}" width="32" class="ico-a-link-layout-v2" /></a>
                                                                    <a href="https://www.facebook.com/mintmeproject" class="p-a-link-layout-v2" target="_blank"><img alt="facebook" src="{{absolute_url(asset('build/images/mintme-mail-facebook-v2.png'))}}" width="32" class="ico-a-link-layout-v2" /></a>
                                                                    <a href="https://www.youtube.com/channel/UCfIutm0THh3PfOS7qukaF_Q/featured" class="p-a-link-layout-v2" target="_blank"><img alt="youtube" src="{{absolute_url(asset('build/images/mintme-mail-youtube-v2.png'))}}" width="32" class="ico-a-link-layout-v2" /></a>
                                                                    <a href="https://www.linkedin.com/company/mintme" class="p-a-link-layout-v2" target="_blank"><img alt="linkedin" src="{{absolute_url(asset('build/images/mintme-mail-linkedin-v2.png'))}}" width="32" class="ico-a-link-layout-v2" /></a>
                                                                </p>
                                                                <p class="p-a-link-layaout-v5">
                                                                    <a href="https://www.mintme.host" class="p-a-link-layout-v6" target="_blank">{% trans %}mail.join_mintme_hosting{% endtrans %}</a>
                                                                </p>
                                                                <p class="p-a-link-layaout-v4">
                                                                    {{ version }}
                                                                    <span class="span-white-16-600">|</span>
                                                                    {% trans with {'%date%': "now"|date("Y")} %}rights_reserved{% endtrans %}
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </footer>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- prevent Gmail on iOS font size manipulation -->
        <div class="box-table-v3">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
    </body>
</html>
{% endapply %}
