{% extends 'mail/layout.html.twig' %}

{% block content %}
    <table width="100%">
        <tr>
            <th>
                <h3 class="text-dark-white" style="font-size: 28px; margin-bottom:0px; font-family: Helvetica, Arial, sans-serif;font-weight: normal;" >{% trans %}hello{% endtrans %}</h3>
                <h1 class="text-blue" style="font-size: 34px; margin-top: 0px; margin-bottom: 0px;"><strong>{{username}}</strong></h1>
            </th>
        </tr>
        <tr>
            <th>
                <p class="text-dark-white" style="font-size: medium; margin-right:20px;margin-bottom:0px;margin-left:20px;font-weight: normal;">
                    {{ message }}
                </p>
            </th>
        </tr>
        <tr>
            <th class="text-dark-white" style="height:20px;font-size:0px;line-height:20px;">&#xA0;</th>
        </tr>
    </table>
    <table width="100%" style="border: 1px solid silver; background: #0E3B58;">
        <tr>
            <td style="text-align-last: center; !important;" rowspan="4">
                <img
                    width="150px"
                    height="150px"
                    src="{{ absolute_url(asset('build/images/new_device.png')) }}"
                    class="align-self-center text-center"
                    alt="{% trans %}new_device_icon{% endtrans %}"
                />
            </td>
        </tr>
        <tr>
            <td>
                <span class="text-dark-white" style="font-weight: bold; line-height: normal; display: inline;">
                    {% trans %}device_label{% endtrans%}
                </span>
                <p class="text-dark-white" style="text-align: end; font-size: smaller; font-weight: normal;">{{ user_device_info.deviceInfo }} ({{ user_device_info.osInfo }})</p>
            </td>
        </tr>
        <tr>
            <td>
                <span class="text-dark-white" style="font-weight: bold; line-height: normal; display: inline;">
                    {% trans %}new_device.date{% endtrans %}
                </span>
                <p class="text-dark-white" style="text-align: end; font-size: smaller; font-weight: normal;">{{ user_device_info.date|date('Y-m-d H:i:s') }} (UTC)</p>
            </td>
        </tr>
        <tr>
            <td>
                <span class="text-dark-white" style="font-weight: bold; line-height: normal; display: inline;">
                    {% trans %}new_device.ip{% endtrans %}
                </span>
                <p class="text-dark-white" style="text-align: end; font-size: smaller; font-weight: normal;">{{ user_device_info.ipAddress }}</p>
            </td>
        </tr>
    </table>
{% endblock %}
