{% extends 'mail/layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="box-table">
        <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border" bgcolor="#ffffff">
            <tr>
                <td align="center" width="600" class="td-body" bgcolor="#ffffff">
                    <img alt="mintme" src="{{ absolute_url(asset('build/images/mail-token.png')) }}" width="120" class="img-build-v2" />
                    <p class="p-hello">{% trans %} hello {% endtrans %} {{ nickname }}</p>
                    <p class="p-second-line">{% trans %} mail.token_marketing_tips.msg {% endtrans %}<a href="{{ url }}" class="p-a-link" target="_blank"> {{ title }}</a>
                    </p>
                </td>
            </tr>
        </table>
        <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="border-blank-space" bgcolor="#f3f3f3">
            <tr>
                <td align="center" class="prev-blank-space" bgcolor="#f3f3f3">&nbsp;</td>
            </tr>
        </table>
        <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="border-blank-space" bgcolor="#f3f3f3">
            <tr>
                <td align="center" class="post-blank-space" bgcolor="#f3f3f3">&nbsp;</td>
            </tr>
        </table>
    </div>
{% endblock %}
