{% extends 'mail/layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="box-table">
        <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border" bgcolor="#ffffff">
            <tr>
                <td align="center" width="600" class="td-body" bgcolor="#ffffff">
                    <img alt="Token" src="{{ absolute_url(asset('build/images/mail-token.png')) }}" width="120" class="img-build-v3" />
                    <p class="p-hello">{% trans from 'messages' %} hello {% endtrans %} {{ nickname }}</p>
                    <p class="p-fourteenth-line">{% trans %} email.withdraw.confirm {% endtrans %}</p>
                    <p class="p-mail-info p-mail-info-flex">
                        <span class="span-amount-title">{% trans %} mail.amount {% endtrans %} : </span>
                        <span class="span-amount-value">{{ amount }} {{ currency | rebranding }}</span>
                    </p>
                    <p class="p-mail-info">
                        {% trans %} mail.address {% endtrans %} :
                        <span class="span-address-value">{{ address }}</span>
                    </p>
                    <p class="p-mail-info">
                        {% trans %} mail.blockchain {% endtrans %} :
                        <span class="span-blockchain-value">{{ blockchain }}</span>
                    </p>
                    <p class="p-mail-info">
                        {% trans %} email.withdraw.body {% endtrans %}
                    </p>
                </td>
            </tr>
        </table>
        <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="border-blank-space" bgcolor="#f3f3f3">
            <tr>
                <td align="center" class="prev-blank-space" bgcolor="#f3f3f3">&nbsp;</td>
            </tr>
        </table>
        <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="table-border-v3" bgcolor="#2199e8" style="table-layout:fixed">
            <tr>
                <td align="center" width="600" class="td-code-v2" bgcolor="#2199e8">
                    <p class="p-fiveteenth-line"><a href="{{ confirmationUrl }}" class="a-link-text" style="mso-padding-alt:0;">{{ confirmationUrl }}</a></p>
                </td>
            </tr>
        </table>
        <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="border-blank-space" bgcolor="#f3f3f3">
            <tr>
                <td align="center" class="post-blank-space" bgcolor="#f3f3f3">&nbsp;</td>
            </tr>
        </table>
    </div>
{% endblock %}
